/* About us */
.about-us {
  &__comfort {
    margin-bottom: 4rem;
  }
  &__links {
    .row {
      //justify-content: center;
    }
    .list-group-item {
      margin-bottom: 30px;
      text-align: center;
      font-weight: 600;
      background: $darkmain;
      color: white;
      border: none;
      transition: all 0.04s ease-in;
      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
      }
      &:hover,
      &:focus {
        background: $mediummain;
        border: none;
      }
      span {
        font-size: 1.2em;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  &__services {
    background-image: url('/img/'+$imgfilename+'-systems-bg.webp');
    background-position: center;
    background-size: cover;
    padding: 100px 0 80px 0;
    margin: 50px 0 25px 0;
    @include media-breakpoint-down(sm) {
      padding: 50px 0;
      background-image: url('/img/'+$imgfilename+'-systems-bg-mobile.webp');
    }
    &--title {
      font-family: $secondfont;
      margin: 0;
      text-align: center;
      font-weight: 500;
      color: $darkmain;
      font-size: 38px;
      line-height: 47px;
      &:after {
        content: '';
        display: block;
        background-color: $lightmain;
        margin: 25px auto 40px;
        position: relative;
        width: 80px;
        height: 3px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 33px;
        line-height: 41px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 28px;
        line-height: 34px;
      }
    }
    .card.icon-card .card-icon {
      top: 50%;
      transform: translateY(-50%);
      padding: 10px 0 0 0;
    }

    .card-title {
      margin-bottom: 0;
    }
  }
}

.about_us {
  &__wrapper {
    br {
      display: none;
    }
  }
}

.no-webp .about-us__services,
.no-webpanimation .about-us__services,
.no-webp-alpha .about-us__services,
.no-webp-lossless .about-us__services {
  background-image: url('/img/'+$imgfilename+'-systems-bg.jpg');
  @include media-breakpoint-down(sm) {
    background-image: url('/img/'+$imgfilename+'-systems-bg-mobile.jpg');
  }
}

.about-us {
  &__video {
    width: 80%;
    max-width: 600px;
    margin: calc(0px - 4px - 5%) auto 2.5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    @include media-breakpoint-down(sm) {
      margin-bottom: 5%;
    }
  }
}
