.animated {
  animation: tada linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: tada linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: tada linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: tada linear 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: tada linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes tada{
  0% {transform:  translate(0px,0px); }
  4% {transform:  translate(0px,-25px); }
  11% {transform:  translate(0px,0px); }
  16% {transform:  translate(0px,-15px); }
  21% {transform:  translate(0px,0px); }
  25% {transform:  translate(0px,-5px); }
  30% {transform:  translate(0px,0px); }
  100% {transform:  translate(0px,0px); }
}

@-moz-keyframes tada{
  0% {-moz-transform:  translate(0px,0px); }
  4% {-moz-transform:  translate(0px,-25px); }
  11% {-moz-transform:  translate(0px,0px); }
  16% {-moz-transform:  translate(0px,-15px); }
  21% {-moz-transform:  translate(0px,0px); }
  25% {-moz-transform:  translate(0px,-5px); }
  30% {-moz-transform:  translate(0px,0px); }
  100% {-moz-transform:  translate(0px,0px); }
}

@-webkit-keyframes tada {
  0% {-webkit-transform:  translate(0px,0px); }
  4% {-webkit-transform:  translate(0px,-25px); }
  11% {-webkit-transform:  translate(0px,0px); }
  16% {-webkit-transform:  translate(0px,-15px); }
  21% {-webkit-transform:  translate(0px,0px); }
  25% {-webkit-transform:  translate(0px,-5px); }
  30% {-webkit-transform:  translate(0px,0px); }
  100% {-webkit-transform:  translate(0px,0px); }
}

@-o-keyframes tada {
  0% {-o-transform:  translate(0px,0px); }
  4% {-o-transform:  translate(0px,-25px); }
  11% {-o-transform:  translate(0px,0px); }
  16% {-o-transform:  translate(0px,-15px); }
  21% {-o-transform:  translate(0px,0px); }
  25% {-o-transform:  translate(0px,-5px); }
  30% {-o-transform:  translate(0px,0px); }
  100% {-o-transform:  translate(0px,0px); }
}

@-ms-keyframes tada {
  0% {-ms-transform:  translate(0px,0px); }
  4% {-ms-transform:  translate(0px,-25px); }
  11% {-ms-transform:  translate(0px,0px); }
  16% {-ms-transform:  translate(0px,-15px); }
  21% {-ms-transform:  translate(0px,0px); }
  25% {-ms-transform:  translate(0px,-5px); }
  30% {-ms-transform:  translate(0px,0px); }
  100% {-ms-transform:  translate(0px,0px); }
}


// simple scroll animation
.animation-element {
  opacity: 0;
  position: relative;
  &.animated-before{
    opacity: 1;
    &:before{
      opacity: 0;
      -moz-transition: all 2s  ease-in-out;
      -webkit-transition: all 2s  ease-in-out;
      -o-transition: all 2s  ease-in-out;
      transition: all 2s  ease-in-out;
      -moz-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
    &.in-view{
      &:before{
        opacity: .8;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }



  &.slide-left {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }

  &.slide-right {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
  }

  &.bounce-up{
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &.bounce-down{
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    transform: translate3d(0px, -100, 0px);
    -moz-transform: translate3d(0px, -100px, 0px);
    -webkit-transform: translate3d(0px, -100px, 0px);
    -o-transform: translate(0px, -100px);
    -ms-transform: translate(0px, -100px);
    transform: translate3d(0px, -100, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &.slide-left.in-view,
  &.slide-right.in-view,
  &.bounce-up.in-view,
  &.bounce-down.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }

  &.simple-fade{
    opacity: 0;
    -moz-transition: all 1500ms ease-out;
    -webkit-transition: all 1500ms ease-out;
    -o-transition: all 1500ms ease-out;
    transition: all 1500ms ease-out;
  }

  &.simple-fade.in-view{
    opacity: 1;
  }

  &.slow-rotate-right{
    opacity: 0;
    -moz-transition: all 1500ms ease-in-out;
    -webkit-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
    -moz-transform: rotateZ(50deg) translate3d(-100px, 200px, 0px);
    -webkit-transform: rotateZ(50deg) translate3d(-100px, 200px, 0px);
    -o-transform: rotateZ(50deg) translate3d(-100px, 200px, 0px);
    -ms-transform: rotateZ(50deg) translate3d(-100px, 200px, 0px);
    transform: rotateZ(50deg) translate3d(-100px, 200px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    &.in-view{
      opacity: 1;
      -moz-transform: rotateZ(0deg) translate3d(0px, 0px, 0px);
      -webkit-transform: rotateZ(0deg) translate3d(0px, 0px, 0px);
      -o-transform: rotateZ(0deg) translate3d(0px, 0px, 0px);
      -ms-transform: rotateZ(0deg) translate3d(0px, 0px, 0px);
      transform: rotateZ(0deg) translate3d(0px, 0px, 0px);
    }
  }


  &.rotate{
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    &.in-view{
      opacity: 1;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  &.zoomin{
    opacity: .3;
    -moz-transition: all 1s  ease-in;
    -webkit-transition: all 1s  ease-in;
    -o-transition: all 1s  ease-in;
    transition: all 1s  ease-in;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
    &.in-view{
      opacity: 1;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  &.scalein{
    opacity: .3;
    -moz-transition: all 600ms  ease-in-out;
    -webkit-transition: all 600ms  ease-in-out;
    -o-transition: all 600ms  ease-in-out;
    transition: all 600ms  ease-in-out;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    &.in-view{
      opacity: 1;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }


  &.delay2{
    -moz-transition: all 900ms ease-in-out!important;
    -webkit-transition: all 900ms ease-in-out!important;
    -o-transition: all 900ms ease-in-out!important;
    transition: all 900ms ease-in-out!important;
  }
  &.delay3{
    -moz-transition: all 1100ms ease-in-out!important;
    -webkit-transition: all 1100ms ease-in-out!important;
    -o-transition: all 1100ms ease-in-out!important;
    transition: all 1100ms ease-in-out!important;
  }
  &.delay4{
    -moz-transition: all 1300ms ease-out!important;
    -webkit-transition: all 1300ms ease-out!important;
    -o-transition: all 1300ms ease-out!important;
    transition: all 1300ms ease-out!important;
  }

}
