//AWARD SECTION
.awards {
  margin: 0 2rem;
  background: $darkmain;
  text-align: center;
  padding: 20px;
  &__title {
    font-family: $secondfont;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
    width: 194px;
    color: white;
    margin: 5px 20px;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
    small {
      text-transform: none;
      font-style: italic;
      display: block;
    }
  }
  &__logos {
    * {
      vertical-align: middle;
    }
    img {
      height: 100px;
      margin: 5px 30px;
      @include media-breakpoint-down(sm) {
        height: 50px;
        margin: 5px 15px;
      }
    }
  }
  &__btn {
    text-transform: uppercase;
    border: 1px solid;
    color: white;
    margin: 0 10px;
  }
  &__btn:hover, &__btn:focus {
    color: gray;
    background: white;
    border-color: white;
  }
}
