.call-bar {
  display: none;
  &:focus {
    outline: 0;
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    position: fixed;
    bottom: -10px;
    left: 0;
    right: 0;
    // background-image: url('/img/wavy-tab-bg.svg');
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    z-index: 99;
    @media (max-width: 359px) {
      padding: 20px 0px;
    }
  }
  &__bg {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      background: $darkmain;
      // @include gradient-y-three-colors($start-color: $mediummain, $mid-color: $lightmain, $color-stop: 40%, $end-color: $darkmain);
      // @include gradient-y-three-colors($start-color: $lightmain, $mid-color: $mediummain, $color-stop: 60%, $end-color: $darkmain);

      height: 46px;
      width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
    }
  }
  // &__overlay {
  //   display: none;
  //   @include media-breakpoint-down(sm) {
  //     display: block;
  //     content: '';
  //     display: block;
  //     width: 100%;
  //     height: 40vh;
  //     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.9) 100%);
  //     position: fixed;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //   }
  // }
  &__call {
    color: white;
    width: 158px;
    height: 36px;
    position: relative;
    background-color: #ffffff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 38px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 8px 0px $darkmain;
    // background: $orange;
    background-image: $ctagradient;
    // background: linear-gradient(0deg, $lightwedo 0%, rgba(255, 255, 255, 1) 39%, $lightwedo 100%);
    img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }
    span.icon {
      margin-right: 4px;
      margin-top: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__button {
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 8px 0px $darkmain;
    background: linear-gradient(
      0deg,
      $lightwedo 0%,
      rgba(255, 255, 255, 1) 39%,
      $lightwedo 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 18px;
    cursor: pointer;
    z-index: 2;
    img {
      width: 25px !important;
      height: 25px !important;
      flex: 1 0 auto;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    background: $primarygradient;
    background-color: $darkmain;
    padding: 0;
    list-style: none;
    width: 82px;
    right: 10px;
    bottom: 70px;
    border-radius: 15px;
    line-height: 11px;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.16);
    z-index: 2;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 10px 0 10px;
      border-color: $darkmain transparent transparent transparent;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &__item {
    padding: 12px;
    &:not(:last-of-type) {
      border-bottom: 1px solid $lightmain;
    }
  }
  &__link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.bar-active {
  .call-bar__menu {
    display: block;
  }
  .call-bar__button {
    background: $secmain;
    color: #ffffff;
    img {
      display: none;
    }
    &:after {
      content: '✕';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      font-size: 22px;
      line-height: 38px;
    }
  }
}

#accessibility-open {
  min-width: 75px;
}
