@font-face {
  font-family: 'cw-icons';
  src: url('/fonts/cw-icons.eot');
  src: url('/fonts/cw-icons.eot?#iefix') format('eot'),
    url('/fonts/cw-icons.woff2') format('woff2'),
    url('/fonts/cw-icons.woff') format('woff'),
    url('/fonts/cw-icons.ttf') format('truetype'),
    url('/fonts/cw-icons.svg#cw-icons') format('svg');
  font-display: swap;
}

@mixin icon-styles {
  font-family: 'cw-icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  line-height: 0;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: '';

  @if $filename == about {
    $char: '\E001';
  }
  @if $filename == accessibility {
    $char: '\E002';
  }
  @if $filename == aligners {
    $char: '\E003';
  }
  @if $filename == aligners2 {
    $char: '\E004';
  }
  @if $filename == amenities-beverages {
    $char: '\E005';
  }
  @if $filename == amenities-music {
    $char: '\E006';
  }
  @if $filename == amenities-pillows {
    $char: '\E007';
  }
  @if $filename == amenities-tv {
    $char: '\E008';
  }
  @if $filename == bars {
    $char: '\E009';
  }
  @if $filename == body {
    $char: '\E00A';
  }
  @if $filename == book-mobile-icon {
    $char: '\E00B';
  }
  @if $filename == bruxism {
    $char: '\E00C';
  }
  @if $filename == calendar {
    $char: '\E00D';
  }
  @if $filename == calendar2 {
    $char: '\E00E';
  }
  @if $filename == call-icon {
    $char: '\E00F';
  }
  @if $filename == call {
    $char: '\E010';
  }
  @if $filename == check {
    $char: '\E011';
  }
  @if $filename == checkmark {
    $char: '\E012';
  }
  @if $filename == clean-hands {
    $char: '\E013';
  }
  @if $filename == clean-office {
    $char: '\E014';
  }
  @if $filename == clean-tools {
    $char: '\E015';
  }
  @if $filename == clean {
    $char: '\E016';
  }
  @if $filename == clock-icon {
    $char: '\E017';
  }
  @if $filename == clock {
    $char: '\E018';
  }
  @if $filename == complete-checkup {
    $char: '\E019';
  }
  @if $filename == composite-bonding {
    $char: '\E01A';
  }
  @if $filename == cosmetic {
    $char: '\E01B';
  }
  @if $filename == cosmetic1 {
    $char: '\E01C';
  }
  @if $filename == cosmetic3 {
    $char: '\E01D';
  }
  @if $filename == crown {
    $char: '\E01E';
  }
  @if $filename == crowns {
    $char: '\E01F';
  }
  @if $filename == date-icon {
    $char: '\E020';
  }
  @if $filename == dental-implants {
    $char: '\E021';
  }
  @if $filename == dental-implants1 {
    $char: '\E022';
  }
  @if $filename == dental-implants2 {
    $char: '\E023';
  }
  @if $filename == dental-implants3 {
    $char: '\E024';
  }
  @if $filename == dental-implants4 {
    $char: '\E025';
  }
  @if $filename == dental {
    $char: '\E026';
  }
  @if $filename == dental10 {
    $char: '\E027';
  }
  @if $filename == dental11 {
    $char: '\E028';
  }
  @if $filename == dental12 {
    $char: '\E029';
  }
  @if $filename == dental13 {
    $char: '\E02A';
  }
  @if $filename == dental2 {
    $char: '\E02B';
  }
  @if $filename == dental3 {
    $char: '\E02C';
  }
  @if $filename == dental4 {
    $char: '\E02D';
  }
  @if $filename == dental5 {
    $char: '\E02E';
  }
  @if $filename == dental6 {
    $char: '\E02F';
  }
  @if $filename == dental7 {
    $char: '\E030';
  }
  @if $filename == dental8 {
    $char: '\E031';
  }
  @if $filename == dental9 {
    $char: '\E032';
  }
  @if $filename == dentist {
    $char: '\E033';
  }
  @if $filename == dentist1 {
    $char: '\E034';
  }
  @if $filename == denture {
    $char: '\E035';
  }
  @if $filename == dentures {
    $char: '\E036';
  }
  @if $filename == dentures1 {
    $char: '\E037';
  }
  @if $filename == dermal-fillers {
    $char: '\E038';
  }
  @if $filename == distancing {
    $char: '\E039';
  }
  @if $filename == doctor {
    $char: '\E03A';
  }
  @if $filename == down-arrow {
    $char: '\E03B';
  }
  @if $filename == education {
    $char: '\E03C';
  }
  @if $filename == email {
    $char: '\E03D';
  }
  @if $filename == emergency {
    $char: '\E03E';
  }
  @if $filename == facebook {
    $char: '\E03F';
  }
  @if $filename == facial {
    $char: '\E040';
  }
  @if $filename == family {
    $char: '\E041';
  }
  @if $filename == feedburner {
    $char: '\E042';
  }
  @if $filename == fillings {
    $char: '\E043';
  }
  @if $filename == first-visit {
    $char: '\E044';
  }
  @if $filename == flouride-application {
    $char: '\E045';
  }
  @if $filename == frontdesk {
    $char: '\E046';
  }
  @if $filename == gallery {
    $char: '\E047';
  }
  @if $filename == general-dentistry {
    $char: '\E048';
  }
  @if $filename == general1 {
    $char: '\E049';
  }
  @if $filename == general2 {
    $char: '\E04A';
  }
  @if $filename == go {
    $char: '\E04B';
  }
  @if $filename == google-icon {
    $char: '\E04C';
  }
  @if $filename == google-logo2 {
    $char: '\E04D';
  }
  @if $filename == google {
    $char: '\E04E';
  }
  @if $filename == gplus {
    $char: '\E04F';
  }
  @if $filename == gps {
    $char: '\E050';
  }
  @if $filename == guarantee {
    $char: '\E051';
  }
  @if $filename == gum {
    $char: '\E052';
  }
  @if $filename == gum2 {
    $char: '\E053';
  }
  @if $filename == half-star {
    $char: '\E054';
  }
  @if $filename == halitosis {
    $char: '\E055';
  }
  @if $filename == halitosis1 {
    $char: '\E056';
  }
  @if $filename == halitosis2 {
    $char: '\E057';
  }
  @if $filename == hand-wash {
    $char: '\E058';
  }
  @if $filename == hand-wash2 {
    $char: '\E059';
  }
  @if $filename == headache {
    $char: '\E05A';
  }
  @if $filename == heart {
    $char: '\E05B';
  }
  @if $filename == info {
    $char: '\E05C';
  }
  @if $filename == inlays-onlays {
    $char: '\E05D';
  }
  @if $filename == insta {
    $char: '\E05E';
  }
  @if $filename == invisalign {
    $char: '\E05F';
  }
  @if $filename == jaw {
    $char: '\E060';
  }
  @if $filename == laser {
    $char: '\E061';
  }
  @if $filename == linkedin {
    $char: '\E062';
  }
  @if $filename == locations {
    $char: '\E063';
  }
  @if $filename == map-icon {
    $char: '\E064';
  }
  @if $filename == map-pin {
    $char: '\E065';
  }
  @if $filename == medical-mask {
    $char: '\E066';
  }
  @if $filename == medical-mask2 {
    $char: '\E067';
  }
  @if $filename == megaphone {
    $char: '\E068';
  }
  @if $filename == menu-services {
    $char: '\E069';
  }
  @if $filename == misaligned-teeth {
    $char: '\E06A';
  }
  @if $filename == molar {
    $char: '\E06B';
  }
  @if $filename == mouth {
    $char: '\E06C';
  }
  @if $filename == mouthguards {
    $char: '\E06D';
  }
  @if $filename == mouthguards1 {
    $char: '\E06E';
  }
  @if $filename == oral-surgery {
    $char: '\E06F';
  }
  @if $filename == orthodontic {
    $char: '\E070';
  }
  @if $filename == orthodontic1 {
    $char: '\E071';
  }
  @if $filename == orthodontic2 {
    $char: '\E072';
  }
  @if $filename == orthodontic3 {
    $char: '\E073';
  }
  @if $filename == orthodontic4 {
    $char: '\E074';
  }
  @if $filename == orthodontic5 {
    $char: '\E075';
  }
  @if $filename == orthodontic6 {
    $char: '\E076';
  }
  @if $filename == orthodontic7 {
    $char: '\E077';
  }
  @if $filename == orthodontic8 {
    $char: '\E078';
  }
  @if $filename == payment {
    $char: '\E079';
  }
  @if $filename == payonline {
    $char: '\E07A';
  }
  @if $filename == pediatric {
    $char: '\E07B';
  }
  @if $filename == pediatric1 {
    $char: '\E07C';
  }
  @if $filename == periodontal {
    $char: '\E07D';
  }
  @if $filename == periodontal1 {
    $char: '\E07E';
  }
  @if $filename == periodontal2 {
    $char: '\E07F';
  }
  @if $filename == periodontal3 {
    $char: '\E080';
  }
  @if $filename == phone {
    $char: '\E081';
  }
  @if $filename == phone2 {
    $char: '\E082';
  }
  @if $filename == photo-camera {
    $char: '\E083';
  }
  @if $filename == pinterest {
    $char: '\E084';
  }
  @if $filename == play {
    $char: '\E085';
  }
  @if $filename == pregnancy {
    $char: '\E086';
  }
  @if $filename == respiratory {
    $char: '\E087';
  }
  @if $filename == restoration {
    $char: '\E088';
  }
  @if $filename == right-arrow {
    $char: '\E089';
  }
  @if $filename == root-canal {
    $char: '\E08A';
  }
  @if $filename == root-canal1 {
    $char: '\E08B';
  }
  @if $filename == rootcanal {
    $char: '\E08C';
  }
  @if $filename == sealants {
    $char: '\E08D';
  }
  @if $filename == sedation {
    $char: '\E08E';
  }
  @if $filename == sedation1 {
    $char: '\E08F';
  }
  @if $filename == services-icon {
    $char: '\E090';
  }
  @if $filename == sleep-apnea {
    $char: '\E091';
  }
  @if $filename == smile-regular {
    $char: '\E092';
  }
  @if $filename == smile {
    $char: '\E093';
  }
  @if $filename == specials {
    $char: '\E094';
  }
  @if $filename == speech-bubble-outline {
    $char: '\E095';
  }
  @if $filename == star {
    $char: '\E096';
  }
  @if $filename == sterilization-equipment {
    $char: '\E097';
  }
  @if $filename == sterilization {
    $char: '\E098';
  }
  @if $filename == surgery {
    $char: '\E099';
  }
  @if $filename == team-icon {
    $char: '\E09A';
  }
  @if $filename == teeth-cleaning {
    $char: '\E09B';
  }
  @if $filename == teeth-cleaning1 {
    $char: '\E09C';
  }
  @if $filename == teeth-extractions {
    $char: '\E09D';
  }
  @if $filename == teeth-whitening {
    $char: '\E09E';
  }
  @if $filename == teeth-whitening1 {
    $char: '\E09F';
  }
  @if $filename == teeth-whitening2 {
    $char: '\E0A0';
  }
  @if $filename == teeth1 {
    $char: '\E0A1';
  }
  @if $filename == teledentistry-call {
    $char: '\E0A2';
  }
  @if $filename == teledentistry-patien-forms {
    $char: '\E0A3';
  }
  @if $filename == teledentistry-talk {
    $char: '\E0A4';
  }
  @if $filename == testimonials {
    $char: '\E0A5';
  }
  @if $filename == tooth-extractions {
    $char: '\E0A6';
  }
  @if $filename == tooth {
    $char: '\E0A7';
  }
  @if $filename == toothache {
    $char: '\E0A8';
  }
  @if $filename == twitter {
    $char: '\E0A9';
  }
  @if $filename == veneers {
    $char: '\E0AA';
  }
  @if $filename == veneers1 {
    $char: '\E0AB';
  }
  @if $filename == wisdom-teeth {
    $char: '\E0AC';
  }
  @if $filename == x-ray {
    $char: '\E0AD';
  }
  @if $filename == x-ray2 {
    $char: '\E0AE';
  }
  @if $filename == yelp {
    $char: '\E0AF';
  }
  @if $filename == youtube {
    $char: '\E0B0';
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-about {
  @include icon(about);
}
.icon-accessibility {
  @include icon(accessibility);
}
.icon-aligners {
  @include icon(aligners);
}
.icon-aligners2 {
  @include icon(aligners2);
}
.icon-amenities-beverages {
  @include icon(amenities-beverages);
}
.icon-amenities-music {
  @include icon(amenities-music);
}
.icon-amenities-pillows {
  @include icon(amenities-pillows);
}
.icon-amenities-tv {
  @include icon(amenities-tv);
}
.icon-bars {
  @include icon(bars);
}
.icon-body {
  @include icon(body);
}
.icon-book-mobile-icon {
  @include icon(book-mobile-icon);
}
.icon-bruxism {
  @include icon(bruxism);
}
.icon-calendar {
  @include icon(calendar);
}
.icon-calendar2 {
  @include icon(calendar2);
}
.icon-call-icon {
  @include icon(call-icon);
}
.icon-call {
  @include icon(call);
}
.icon-check {
  @include icon(check);
}
.icon-checkmark {
  @include icon(checkmark);
}
.icon-clean-hands {
  @include icon(clean-hands);
}
.icon-clean-office {
  @include icon(clean-office);
}
.icon-clean-tools {
  @include icon(clean-tools);
}
.icon-clean {
  @include icon(clean);
}
.icon-clock-icon {
  @include icon(clock-icon);
}
.icon-clock {
  @include icon(clock);
}
.icon-complete-checkup {
  @include icon(complete-checkup);
}
.icon-composite-bonding {
  @include icon(composite-bonding);
}
.icon-cosmetic {
  @include icon(cosmetic);
}
.icon-cosmetic1 {
  @include icon(cosmetic1);
}
.icon-cosmetic3 {
  @include icon(cosmetic3);
}
.icon-crown {
  @include icon(crown);
}
.icon-crowns {
  @include icon(crowns);
}
.icon-date-icon {
  @include icon(date-icon);
}
.icon-dental-implants {
  @include icon(dental-implants);
}
.icon-dental-implants1 {
  @include icon(dental-implants1);
}
.icon-dental-implants2 {
  @include icon(dental-implants2);
}
.icon-dental-implants3 {
  @include icon(dental-implants3);
}
.icon-dental-implants4 {
  @include icon(dental-implants4);
}
.icon-dental {
  @include icon(dental);
}
.icon-dental10 {
  @include icon(dental10);
}
.icon-dental11 {
  @include icon(dental11);
}
.icon-dental12 {
  @include icon(dental12);
}
.icon-dental13 {
  @include icon(dental13);
}
.icon-dental2 {
  @include icon(dental2);
}
.icon-dental3 {
  @include icon(dental3);
}
.icon-dental4 {
  @include icon(dental4);
}
.icon-dental5 {
  @include icon(dental5);
}
.icon-dental6 {
  @include icon(dental6);
}
.icon-dental7 {
  @include icon(dental7);
}
.icon-dental8 {
  @include icon(dental8);
}
.icon-dental9 {
  @include icon(dental9);
}
.icon-dentist {
  @include icon(dentist);
}
.icon-dentist1 {
  @include icon(dentist1);
}
.icon-denture {
  @include icon(denture);
}
.icon-dentures {
  @include icon(dentures);
}
.icon-dentures1 {
  @include icon(dentures1);
}
.icon-dermal-fillers {
  @include icon(dermal-fillers);
}
.icon-distancing {
  @include icon(distancing);
}
.icon-doctor {
  @include icon(doctor);
}
.icon-down-arrow {
  @include icon(down-arrow);
}
.icon-education {
  @include icon(education);
}
.icon-email {
  @include icon(email);
}
.icon-emergency {
  @include icon(emergency);
}
.icon-facebook {
  @include icon(facebook);
}
.icon-facial {
  @include icon(facial);
}
.icon-family {
  @include icon(family);
}
.icon-feedburner {
  @include icon(feedburner);
}
.icon-fillings {
  @include icon(fillings);
}
.icon-first-visit {
  @include icon(first-visit);
}
.icon-flouride-application {
  @include icon(flouride-application);
}
.icon-frontdesk {
  @include icon(frontdesk);
}
.icon-gallery {
  @include icon(gallery);
}
.icon-general-dentistry {
  @include icon(general-dentistry);
}
.icon-general1 {
  @include icon(general1);
}
.icon-general2 {
  @include icon(general2);
}
.icon-go {
  @include icon(go);
}
.icon-google-icon {
  @include icon(google-icon);
}
.icon-google-logo2 {
  @include icon(google-logo2);
}
.icon-google {
  @include icon(google);
}
.icon-gplus {
  @include icon(gplus);
}
.icon-gps {
  @include icon(gps);
}
.icon-guarantee {
  @include icon(guarantee);
}
.icon-gum {
  @include icon(gum);
}
.icon-gum2 {
  @include icon(gum2);
}
.icon-half-star {
  @include icon(half-star);
}
.icon-halitosis {
  @include icon(halitosis);
}
.icon-halitosis1 {
  @include icon(halitosis1);
}
.icon-halitosis2 {
  @include icon(halitosis2);
}
.icon-hand-wash {
  @include icon(hand-wash);
}
.icon-hand-wash2 {
  @include icon(hand-wash2);
}
.icon-headache {
  @include icon(headache);
}
.icon-heart {
  @include icon(heart);
}
.icon-info {
  @include icon(info);
}
.icon-inlays-onlays {
  @include icon(inlays-onlays);
}
.icon-insta {
  @include icon(insta);
}
.icon-invisalign {
  @include icon(invisalign);
}
.icon-jaw {
  @include icon(jaw);
}
.icon-laser {
  @include icon(laser);
}
.icon-linkedin {
  @include icon(linkedin);
}
.icon-locations {
  @include icon(locations);
}
.icon-map-icon {
  @include icon(map-icon);
}
.icon-map-pin {
  @include icon(map-pin);
}
.icon-medical-mask {
  @include icon(medical-mask);
}
.icon-medical-mask2 {
  @include icon(medical-mask2);
}
.icon-megaphone {
  @include icon(megaphone);
}
.icon-menu-services {
  @include icon(menu-services);
}
.icon-misaligned-teeth {
  @include icon(misaligned-teeth);
}
.icon-molar {
  @include icon(molar);
}
.icon-mouth {
  @include icon(mouth);
}
.icon-mouthguards {
  @include icon(mouthguards);
}
.icon-mouthguards1 {
  @include icon(mouthguards1);
}
.icon-oral-surgery {
  @include icon(oral-surgery);
}
.icon-orthodontic {
  @include icon(orthodontic);
}
.icon-orthodontic1 {
  @include icon(orthodontic1);
}
.icon-orthodontic2 {
  @include icon(orthodontic2);
}
.icon-orthodontic3 {
  @include icon(orthodontic3);
}
.icon-orthodontic4 {
  @include icon(orthodontic4);
}
.icon-orthodontic5 {
  @include icon(orthodontic5);
}
.icon-orthodontic6 {
  @include icon(orthodontic6);
}
.icon-orthodontic7 {
  @include icon(orthodontic7);
}
.icon-orthodontic8 {
  @include icon(orthodontic8);
}
.icon-payment {
  @include icon(payment);
}
.icon-payonline {
  @include icon(payonline);
}
.icon-pediatric {
  @include icon(pediatric);
}
.icon-pediatric1 {
  @include icon(pediatric1);
}
.icon-periodontal {
  @include icon(periodontal);
}
.icon-periodontal1 {
  @include icon(periodontal1);
}
.icon-periodontal2 {
  @include icon(periodontal2);
}
.icon-periodontal3 {
  @include icon(periodontal3);
}
.icon-phone {
  @include icon(phone);
}
.icon-phone2 {
  @include icon(phone2);
}
.icon-photo-camera {
  @include icon(photo-camera);
}
.icon-pinterest {
  @include icon(pinterest);
}
.icon-play {
  @include icon(play);
}
.icon-pregnancy {
  @include icon(pregnancy);
}
.icon-respiratory {
  @include icon(respiratory);
}
.icon-restoration {
  @include icon(restoration);
}
.icon-right-arrow {
  @include icon(right-arrow);
}
.icon-root-canal {
  @include icon(root-canal);
}
.icon-root-canal1 {
  @include icon(root-canal1);
}
.icon-rootcanal {
  @include icon(rootcanal);
}
.icon-sealants {
  @include icon(sealants);
}
.icon-sedation {
  @include icon(sedation);
}
.icon-sedation1 {
  @include icon(sedation1);
}
.icon-services-icon {
  @include icon(services-icon);
}
.icon-sleep-apnea {
  @include icon(sleep-apnea);
}
.icon-smile-regular {
  @include icon(smile-regular);
}
.icon-smile {
  @include icon(smile);
}
.icon-specials {
  @include icon(specials);
}
.icon-speech-bubble-outline {
  @include icon(speech-bubble-outline);
}
.icon-star {
  @include icon(star);
}
.icon-sterilization-equipment {
  @include icon(sterilization-equipment);
}
.icon-sterilization {
  @include icon(sterilization);
}
.icon-surgery {
  @include icon(surgery);
}
.icon-team-icon {
  @include icon(team-icon);
}
.icon-teeth-cleaning {
  @include icon(teeth-cleaning);
}
.icon-teeth-cleaning1 {
  @include icon(teeth-cleaning1);
}
.icon-teeth-extractions {
  @include icon(teeth-extractions);
}
.icon-teeth-whitening {
  @include icon(teeth-whitening);
}
.icon-teeth-whitening1 {
  @include icon(teeth-whitening1);
}
.icon-teeth-whitening2 {
  @include icon(teeth-whitening2);
}
.icon-teeth1 {
  @include icon(teeth1);
}
.icon-teledentistry-call {
  @include icon(teledentistry-call);
}
.icon-teledentistry-patien-forms {
  @include icon(teledentistry-patien-forms);
}
.icon-teledentistry-talk {
  @include icon(teledentistry-talk);
}
.icon-testimonials {
  @include icon(testimonials);
}
.icon-tooth-extractions {
  @include icon(tooth-extractions);
}
.icon-tooth {
  @include icon(tooth);
}
.icon-toothache {
  @include icon(toothache);
}
.icon-twitter {
  @include icon(twitter);
}
.icon-veneers {
  @include icon(veneers);
}
.icon-veneers1 {
  @include icon(veneers1);
}
.icon-wisdom-teeth {
  @include icon(wisdom-teeth);
}
.icon-x-ray {
  @include icon(x-ray);
}
.icon-x-ray2 {
  @include icon(x-ray2);
}
.icon-yelp {
  @include icon(yelp);
}
.icon-youtube {
  @include icon(youtube);
}
