/* Meet our Team */
body.our-doctor {

  .btn-faq {

    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    &:after {
      top:21px;
      display: none;
    }

    &.collapsed {
      display: block;
      &:after {
        top:calc(50% - (14px/2));
      }

      span.less {
        display: none;
        margin-left: 0;
      }
      span.more {
        display: inline-block;
      }

      &.second {
        display: none;
      }
    }


    span {
      display: none;

      &.less {

        display: inline-block;
      }
    }
  }
}

// body {
//   overflow-x: hidden;
// }
// .our_team {
//   &__logo {
//     width: 100%;
//     margin-top: 90px;
//   }
//   &__wrapper {
//     width: 100%;
//     max-width: 1128px;
//     margin: 0 auto;
//   }
//   &__container {
//     margin-top: 50px;
//   }
//   &__title {
//     margin: 0;
//     text-align: center;
//     font-weight: 300;
//     color: $darkmain;
//     font-size: 38px;
//     line-height: 47px;
//     &:after {
//       content: '';
//       display: block;
//       background-color: $darkmain;
//       margin: 25px auto 50px;
//       position: relative;
//       width: 80px;
//       height: 3px;
//     }
//     @include media-breakpoint-down(lg) {
//       font-size: 33px;
//       line-height: 41px;
//     }
//     @include media-breakpoint-down(sm) {
//       font-size: 28px;
//       line-height: 34px;
//     }
//   }
//   &__doctor_photo {
//     @include media-breakpoint-down(sm) {
//
//     }
//   }
//   &__doctor_container {
//     max-width: 767px;
//     margin: auto;
//   }
//   &__name {
//     font-size: 30px;
//     font-weight: bold;
//     color: $darkmain;
//     @include media-breakpoint-down(sm) {
//       display: inline-block;
//       font-size: 22px;
//     }
//   }
//   &__location {
//     font-size: 18px;
//     color: $mediummain;
//     @include media-breakpoint-down(sm) {
//       padding-left: 25px;
//       display: inline-block;
//       margin-bottom: 50px;
//       max-width: 55%;
//       font-size: 16px;
//     }
//   }
//   &__info {
//     color:$secmain;
//     line-height: 1.8;
//   }
//   &__more_info {
//     color:$secmain;
//     line-height: 1.8;
//     margin-top: 25px;
//     height: 0;
//     overflow: hidden;
//     padding-left: 15px;
//     padding-right: 15px;
//     @include media-breakpoint-down(sm) {
//       padding: 0 20px;
//       margin-top: 0;
//     }
//   }
//   &__more_info h4 {
//     color: $darkmain;
//     font-size: 20px;
//     &:after {
//       content: '';
//       display: block;
//       background-color: #7faed0;
//       margin: 5px auto 10px;
//       position: relative;
//       width: 100%;
//       height: 3px;
//     }
//   }
//   &__doctor {
//     &_information {
//       @include media-breakpoint-down(sm) {
//         order: 2;
//       }
//     }
//   }
// }
//
// .oval {
//   &__container {
//     height: 355px;
//     width: 245px;
//     border-radius: 115px / 105px;
//     border: 2px solid $mediummain;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &--right {
//       display: none;
//     }
//     @include media-breakpoint-down(sm) {
//       margin: 15px auto;
//     }
//   }
//   &__mobile {
//     display: none;
//     height: 100px;
//     width: 65px;
//     float: left;
//     margin-right: 20px;
//     @include media-breakpoint-down(sm) {
//       display: inline-flex;
//     }
//   }
//   &__mobile img {
//     width: 100px;
//   }
//   &__mobile figure {
//     height: 100%;
//     width: 100%;
//   }
//   &__figure {
//     height: calc(100% - 15px);
//     width: calc(100% - 15px);
//     border-radius: 115px / 105px;
//     overflow: hidden;
//     position: relative;
//     margin: 0;
//   }
//   &__figure img {
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//     height: 100%;
//   }
// }
//
// .our_team__container-right {
//   .oval {
//     &__mobile {
//       float: right;
//       margin-right: 0;
//     }
//   }
//   .our_team {
//     &__name,
//     &__location {
//       padding-left: 0;
//     }
//   }
// }
//
// .other-info {
//   &__left {
//     height: 265px;
//     background-color: $darkmain;
//     position: relative;
//     left: -50%;
//     border-top-right-radius: 200px;
//     border-bottom-right-radius: 200px;
//     padding-right: 75px;
//     @include media-breakpoint-down(md) {
//       left: calc((100% - 445px) * -1);
//     }
//   }
//   &__right {
//     height: 265px;
//     background-color: $darkmain;
//     position: relative;
//     right: -50%;
//     border-top-left-radius: 200px;
//     border-bottom-left-radius: 200px;
//     padding-left: 125px;
//     @include media-breakpoint-down(md) {
//       right: calc((100% - 475px) * -1);
//     }
//   }
//   &__wrapper {
//     margin-top: 90px;
//     margin-bottom: 90px;
//     @include media-breakpoint-down(sm) {
//       right: 0;
//       border-radius: 0;
//       left: 0;
//       padding: 20px;
//       margin-top: 0;
//       margin-bottom: 0;
//     }
//   }
//   &__bubbles {
//     position: absolute;
//     height: 66px;
//     width: 66px;
//     background-color: $darkmain;
//     top: -20px;
//     right: -50px;
//     border-radius: 50%;
//     @include media-breakpoint-down(sm) {
//       display: none;
//     }
//     &::before {
//       content: '';
//       position: absolute;
//       height: 40px;
//       width: 40px;
//       background-color: $darkmain;
//       top: -35px;
//       right: -25px;
//       border-radius: 50%;
//     }
//     &::after {
//       content: '';
//       position: absolute;
//       height: 20px;
//       width: 20px;
//       background-color: $darkmain;
//       top: -65px;
//       right: -25px;
//       border-radius: 50%;
//     }
//   }
//
//   &__bubbles--left {
//     left: -50px;
//     &::before {
//       left: -25px;
//     }
//     &::after {
//       left: -25px;
//     }
//   }
//   &__content {
//     float: right;
//     margin-top: 30px;
//     width: 345px;
//     @include media-breakpoint-down(sm) {
//       float: inherit;
//       width: 100%;
//     }
//   }
//   &__content--left {
//     float: left;
//     margin-top: 30px;
//     width: 345px;
//     @include media-breakpoint-down(sm) {
//       float: inherit;
//       width: 100%;
//     }
//   }
//   &__content .meet__what {
//     color: $lightwedo;
//   }
//   &__content .meet__bold {
//     color: #fff;
//   }
//   &__content .meet__inner {
//     color: $lightwedo;
//     font-size: 14px;
//   }
//   &__title {
//     color: $highlight;
//     text-transform: uppercase;
//     font-size: 32px;
//     @include media-breakpoint-down(sm) {
//       display: none;
//     }
//   }
// }
//
// .saying {
//   &__wrapper_doctors {
//     background: transparent;
//     padding-bottom: 50px;
//   }
//   &__title_doctors {
//     color: $darkmain;
//   }
// }
//
// .schedule {
//   &__wrapper {
//     padding: 100px 0;
//     @include media-breakpoint-down(sm) {
//       padding: 50px 0;
//     }
//   }
//   &__title {
//     text-align: center;
//     font-weight: 300;
//     color: $darkmain;
//     margin: 0 0 30px;
//     font-size: 38px;
//     line-height: 47px;
//     @include media-breakpoint-down(lg) {
//       font-size: 33px;
//       line-height: 41px;
//     }
//     @include media-breakpoint-down(sm) {
//       font-size: 28px;
//       line-height: 34px;
//     }
//   }
//   &__cta {
//     width: 240px;
//     margin: 0 auto;
//     display: block;
//   }
//   &__questions {
//     text-align: center;
//     margin-top: 35px;
//     color: $secmain;
//     @include media-breakpoint-down(sm) {
//       font-size: 14px;
//     }
//   }
//   &__questions a {
//     color: $darkmain;
//   }
// }
//
// // .meet {
// //   &__point {
// //     position: relative;
// //     width: 182px;
// //     display: none;
// //     @include media-breakpoint-down(sm) {
// //       display: block;
// //     }
// //     &--left {margin: 0 auto -9px 10px; }
// //     &--right {margin: 0 10px -9px auto; }
// //   }
// // }
//
// .our_staff {
//   text-align: center;
//   padding-top: 50px;
//   &__name {
//     color: $darkmain;
//   }
//   &__title {
//     color: $secmain;
//     text-align: center;
//     margin: auto;
//     min-height: 70px;
//     max-width: 200px;
//     font-size: 1rem;
//   }
//   &__employee:nth-child(n+5) {
//     margin-top: 100px;
//   }
//   &__employee {
//     @include media-breakpoint-down(lg) {
//       margin-top: 45px;
//     }
//     @include media-breakpoint-down(sm) {
//       margin-top: 45px;
//     }
//   }
//   &__information {
//     color: $secmain;
//     line-height: 1.8;
//     margin-top: 10px;
//   }
//   &__image {
//     border-radius: 50%;
//     width: 160px;
//     height: 160px;
//     object-fit: cover;
//   }
// }
//
//
// .read-more {
//   position: relative;
//   border: 1px solid;
//   padding: 16px 35px;
//   font-weight: bold;
//   font-size: 14px;
// }
//
// .read-less {
//   border: 1px solid;
//   padding: 16px 40px;
//   font-weight: bold;
//   font-size: 14px;
//   display: block;
//   margin: 25px auto;
//   max-width: 146px;
// }
//
// .fade-toggle {
//   margin-bottom: 50px;
// }
//
// .fade-toggle .our_team__info {
//   margin-bottom: 45px;
//   min-height: 170px;
// }
//
// .fade-toggle::after {
//   content: '';
//   position: absolute;
//   bottom: 65px;
//   height: 100px;
//   background: $lightbody;
//   background: linear-gradient(rgba($lightbody, 0.2) , $lightbody);
//   width: 100%;
//   left: 0;
// }

/* Bottom Collage */
.footer-image img {
  width: 100%;
  &.mobile{
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
  &.desktop{
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
