/* Footer */

.footer {
  color: #FFFFFF;
  &__wrapper {
    overflow: hidden;
    background: $primarygradient;
    padding: 45px 0 65px;
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 18px;
  }
  &__questions {
    font-size: 14px;
    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }
  &__support {
    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }
  &__tel {
    text-decoration: none;
    color: #FFFFFF;
    &:hover {
      color: $lightmain;
      text-decoration: underline;
    }
  }
  &__cta {
    margin-top: 18px;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  &__social {
    @include media-breakpoint-down(md) {
      text-align: center;
      padding: 1rem 0;
    }
  }
  &__link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none!important;
    display: inline-block;
    // border:1px solid red; overflow: hidden;
    img {
      width: 26px;
    }
    span.icon {
      color: white;
      font-size: 1.5rem;
      vertical-align: bottom;
    }
    &:hover {color: $green;}
  }
  &__visit {
    font-size: 14px;
    color: white;
    display: block;
    margin-top: 20px;
    margin-bottom: 36px;
    img {
      height: 15px;
      width: 17px;
    }
    &:hover {
      color: $lightbody;
      text-decoration: none;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__googlereviews {
    width: 120px;
    @include media-breakpoint-down(md) {
      // display: none;

    }
  }
  &__logo {
    width: 290px;
    @include media-breakpoint-down(md) {
      margin: 1rem 0 1.5rem;
    }
  }
  &__copyright {
    font-size: 12px;
    margin-top: 30px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__copyright p {
    text-align: center;
  }
  &__copyright a {
    color: #ffffff
  }
  &__center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__right {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      margin: 1rem 0 1.5rem;
      justify-content: center;
    }
  }
}

/* Footer Menu */

.footer-menu {
  list-style: none;
  padding: 0;
  &__title {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  &__item {}
  &__link {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
    &:hover {
      color: rgba(black,0.5);
      text-decoration: underline;
    }
  }
}

.bottom-address {
  text-align: center;
  a.location , a.location2, a {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
}

.call-bar-fixed {
  text-align: center;
  background-color: #fff;
  border-top: 2px solid $darkmain;
  .call-bar--link-phone {
    color: $darkcta;

  // 2020
    &--2020 {

      position: relative;
      width: 100px;
      .icon {
        // position: absolute;
        // top:-36px;
        // left: 0;
      }
      .icon-footer-main {
        &::before {
          // font-size: 90px;
          font-size: 60px;
        }
      }
    }
  // 2020

  }
  .call-bar--link {
    width: calc(100% / 5);
    color:$darkmain;

  }
  .call-bar--link:active,
  .call-bar--link:hover {
    text-decoration: none;
  }
  span {
    display: block;
    font-size: 12px;
    line-height: 1.3;
    &::before {
      display: block;
      margin-bottom: 5px;
      font-size: 21px;
      line-height: 1;
    }
  }
  .icon-footer-main {
    &::before {
      font-size: 45px;
    }
  }
}

.userway_accessibility_icon {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}
