// !!!! HEADER SPACER //
.header-spacer {
  display: block;
  height: 230px;
  @include media-breakpoint-down(sm) {
    height: 69px;
  }
}
// DESKTOP
body.home,
body.landing {
  .header-spacer {
    height: 0;
  }
}

// !CLEAN
// MOBILE  - Especific Pages Height
body.home,
body.landing,
body.services,
body.service-page {
  .header-spacer {
    @include media-breakpoint-down(sm) {
      height: 72px;
    }
  }
}

// !CLEAN
// MOBILE  - Especific Pages Height Where .footer_image is on top
body.your-first-visit,
body.contact-us,
body.patient-forms,
body.financing,
body.review-us,
body.teledentistry {
  .header-spacer {
    @include media-breakpoint-down(sm) {
      height: 70px;
    }
  }
}
// END OF: !!!! HEADER SPACER //
/* Header  */
.header {
  &__menu {
    @include media-breakpoint-down(lg) {
      .container {
        min-width: 100%;
      }
    }
    &:after {
      content: '';
      display: block;
      height: 4px;
      width: 100%;
      @include gradient-x-three-colors(
        $start-color: $darkmain,
        $mid-color: $lightmain,
        $color-stop: 40%,
        $end-color: $mediummain
      );
    }
  }
  &__subrow {
    background-color: #ffffff;
    // display: none;
    height: 66px;
    position: absolute;
    top: -10px;
    width: 100%;
    transition: top 0.7s;
    transition-timing-function: ease-in-out;

    svg {
      width: 15px;
      margin: -2px 5px 0 0;
    }
    &:after {
      content: '';
      display: block;
      height: 4px;
      width: 100%;
      @include gradient-x-three-colors(
        $start-color: $darkmain,
        $mid-color: $lightmain,
        $color-stop: 40%,
        $end-color: $mediummain
      );
    }

    &.slide-in {
      top: 81px;
      @include media-breakpoint-up(xl) {
        top: 55px;
      }
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__logo {
    // !CLEAN
    width: 300px;
    margin-top: 16px;
    height: auto;
  }
  &__logocol {
    @include media-breakpoint-down(lg) {
      text-align: center;
      margin-top: 5em;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-top: 2em;
    }
  }
  &__address {
    color: $darkmain;
    text-align: right;
    align-self: center;
    max-width: 450px;
  }

  &__addressinner {
    text-align: right;
    width: 225px; // !CLEAN
    display: inline-block;
    position: relative;
    padding-left: 20px;
    a {
      color: $darkmain;
    }
  }
  &__pin {
    width: 15px;
    height: auto;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 18px;
    // padding: 0 15px 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
  }
  &__phone {
    text-align: center;
    //min-width: 200px;
    //padding: 6px 12px 3px 12px;
    min-width: 2px;
    padding: 6px 15px 4px;
    // background: $darkcta;
    border: 1px solid $darkmain;
    border-radius: $border-radius-lg;
    display: block;
    color: $darkmain;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    span.icon {
      font-size: 15px;
      margin-right: 4px;
    }
    &:hover {
      text-decoration: none;
      color: white;
      background: $darkmain;
      box-shadow: 0 0 0 1px lighten($primary, 20%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
        0 4px 0 0 darken($primary, 10%);
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }

  &__subfirst {
    color: $secmain;
    line-height: 65px;
    &.reviews_number {
      padding-top: 18px;
      line-height: 1;
      font-size: 12px;
      p {
        margin: 0;
        margin-top: 6px;
        padding: 0;
      }
    }

    img {
      width: 15px;
      height: auto;
    }
    // hack to keep address inline
    a {
      font-size: 0.9rem;
      text-decoration: none;
      br {
        display: none;
      }
    }
    .address-coma {
      display: inherit;
    }
  }
  &__subcenter {
    text-align: center;
    line-height: 65px;

    @include media-breakpoint-down(lg) {
      opacity: 0;
    }
  }
  &__logosm {
    // width: 37px;
    height: 37px;
  }
  &__sublast {
    text-align: right;
  }
  &__button {
    margin-top: 13px;
    height: 38px !important;
    line-height: 20px;
    font-size: 14px !important;
    min-width: 200px; // !CLEAN
  }
  .header__logomob {
    display: none;
    width: auto;
    height: calc(65px - 8px);
    margin-top: calc((8px / 2) - 6px);
    margin-bottom: calc((8px / 2) - 6px);
    margin-right: 0;

    @include media-breakpoint-down(lg) {
      display: block;
      opacity: 0;
    }
    @include media-breakpoint-down(sm) {
      display: block;
      opacity: 1;
    }
    @media (max-width: 330px) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
    }
  }

  .header__buttonmob {
    display: none;
    @include media-breakpoint-down(lg) {
      // margin-left: auto;
      font-size: 12px;
      color: $darkmain;
      width: 68px;
      height: 27px;
      display: flex;
      align-items: center;
      margin-right: 10px;
      line-height: 12px;
      font-weight: bold;
      position: absolute;
      right: 65px;
      left: auto;
      top: auto;
      bottom: auto;
      span {
        text-align: right;
        width: auto;
        display: inline-block;
      }
      &:hover {
        text-decoration: none;
      }
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  // 2020
  .header__buttonmob--book {
    position: absolute;
    right: 64px;
    padding-left: 16px;
    padding-right: 16px;
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
    @include media-breakpoint-down(xxs) {
      right: 54px;
    }
  }
  // 2020

  .header__buttonmobicon {
    width: 22px;
    display: inline-block;
    margin: 0 0 0 10px;
    padding-top: 9px;
    font-size: 24px;
  }
  &-city {
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
}
.slide-in .header__logomob {
  opacity: 1;
}
.address-coma {
  display: none;
}

.sticky .header__subrow {
  display: block;
  z-index: -2;
  // position: relative;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.sticky .header__menu:after {
  @include media-breakpoint-up(xl) {
    height: 1px;
    width: 100%;
    background: $lightwedo;
  }
}

/* Navigation */

.navbar-nav {
  @include media-breakpoint-down(lg) {
    width: calc(100% + 40px);
    margin: 35px -20px 0 !important;
  }
}
.navbar-toggler {
  display: block;
  height: 69px;
  width: 60px;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  border: 0;
  background: $primarygradient;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -15px;
  padding-left: 10px;
  padding-right: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  border-radius: 0;

  @include media-breakpoint-down(sm) {
    display: block;
    left: calc(100% - 64px);
    padding-left: 20px;
    width: 70px;
    background: $white;
  }

  @include media-breakpoint-down(xxs) {
    display: none;
    display: block;
    left: calc(100% - 52px);
    padding-left: 10px;
    padding-right: 10px;
    width: 52px;
    background: $white;
  }

  &:hover,
  &:focus {
    background: $darkmain;
  }

  &__lines {
    background: white;

    display: block;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-height: 2px;
  }
  &__line {
    background: white;
    display: block;
    width: 90%;
    margin: 6px auto;
    position: relative;
    height: 2px;
    @include media-breakpoint-down(sm) {
      background: $darkmain;
    }
  }
}

.nav-item {
  svg {
    height: 15px;
    margin-right: 10px;
    margin-top: -3px;
  }
  @include media-breakpoint-down(lg) {
    border-top: 1px solid $lightmain;
    padding: 2px 10px;
  }
}
.nav-item:last-of-type {
  @include media-breakpoint-down(lg) {
    border-bottom: 1px solid $lightmain;
  }
}
#header-nav {
  .nav-link {
    color: $secmain;
    font-size: 18px;
    line-height: 22px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    position: relative;
    &:hover {
      color: $darkmain;
    }
    @include media-breakpoint-down(lg) {
      font-size: 15px;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    @include media-breakpoint-down(lg) {
      color: $lightmain;
      &:hover {
        color: #ffffff;
      }
    }
  }
}

// .dropdown-toggle::before {
//   @include media-breakpoint-down(lg) {
//     border: 1px solid #ffffff;
//     content: '';
//     display: inline-block;
//     border-radius: 50%;
//     width: 21px;
//     height: 21px;
//     position: absolute;
//     right: 10px;
//   }
// }

// .show > .dropdown-toggle::after {
//   @include media-breakpoint-down(lg) {
//     transform: rotate(-45deg);
//     top: 16px;
//   }
// }

// .sticky .dropdown-menu {
//   @media screen and (max-width: 1200px) {
//     top: 73px;
//   }
// }

// .sticky .dropdown-menu-services {
//   column-count: 3;
//   @include media-breakpoint-down(sm) {
//     column-count: 1;
//   }
// }

@media (max-width: 1300px) {
  .sticky .dropdown-menu-services--col-2 {
    column-count: 2;
  }
}

.sticky .dropdown-menu-services--col-2 {
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

/* Mobile Navigation */
#navbarNav {
  transition: none;
  @include media-breakpoint-down(lg) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $primarygradient;
    padding: 20px 20px 0;
    overflow-y: scroll !important;
    height: 100vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .nav-item {
    .nav-link {
      @include media-breakpoint-down(lg) {
        color: #fff;
      }
    }
    &.show {
      .nav-link {
        color: $darkmain;
        @include media-breakpoint-down(lg) {
          color: #fff;
        }
      }
    }
  }
}
.navbar-logo {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
    // !CLEAN
    width: 165px;
    // width: 80%;
    // max-width: 40vw;

    .a {
      fill: #91b7dc;
    }
  }
}
.navbar-close {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    &:hover {
      color: #eee;
      text-decoration: none;
    }
  }
}

/* accesibility */
body .userway {
  top: 7px !important;
  @include media-breakpoint-down(lg) {
    top: 13px !important;
    body .userway.userway_mobile .userway_accessibility_icon .userway_hide_icon,
    .userway_hide_icon {
      display: none !important;
      visibility: hidden;
    }
  }
  @include media-breakpoint-down(sm) {
    top: 100% !important;
    // top: auto !important;
    // display: none;
    .userway_accessibility_icon {
      display: block !important;
    }
    body .userway.userway_mobile .userway_accessibility_icon .userway_hide_icon,
    .userway_hide_icon {
      display: none !important;
      visibility: hidden;
    }
  }
}
// 2020
body .userway {
  @include media-breakpoint-down(sm) {
    .userway_accessibility_icon {
      bottom: 18px !important;
      right: 20px;
    }
  }
  @include media-breakpoint-down(xxs) {
    .userway_accessibility_icon {
      right: 10px;
    }
  }
}

.navbar-is-open .userway,
.modal-open .userway {
  display: none;
}

// LOCAL MED OVERLAY FIX
.localmed-enter-active .localmed-modal,
.localmed-enter-active .localmed-modal-overlay {
  z-index: 3333333333 !important;
}
.localmed-enter-active .localmed-modal-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
