// HEADER MODIFICATION
body.home {
  background-color: $white;
}
.header__menu,
.header__subrow,
.hero__logo {
  .container,
  .container-address {
    max-width: none;
    padding-left: 3rem;
    padding-right: 5rem;
    @include media-breakpoint-up(xl) {
      padding-left: 5%;
      padding-right: 6.5%;
    }
    @include media-breakpoint-up(xxxl) {
      //max-width: 1100px;
      padding-left: 7.5%;
      padding-right: 5%;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.header__subrow {
}
.header__menu:after {
  display: none;
}
.slide-in .header__menu:after {
  display: block;
  // background: $lightwedo;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.header__phone {
  border: none;
  color: $mediummain;
}

body.home {
  .hero__logo {
    display: none;
    visibility: hidden;
  }
}
.hero__logo {
  margin-top: 90px;
  width: 100%;
  position: absolute;
  z-index: 100;
  left: auto;
  right: auto;
  transition: all ease-in 0.5s;
  &.hide-it {
    @include media-breakpoint-down(lg) {
      opacity: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.home-hero {
  &__popup {
    .modal .close {
      text-align: right;
      min-width: 100%;
      margin-bottom: 15px;
    }
  }
  &__wrapper {
    background-image: url('/img/'+$imgfilename+'-hero.webp');
    background-size: cover;
    //margin: 3rem 2rem 2rem;
    margin: 3rem 2rem 0;
    padding: 2rem;
    text-align: center;
    position: relative;
    height: calc(100vh - 3rem - 2rem - 100px);
    min-height: calc(750px - 100px);
    //  heigh = (viewport height) - (.home-hero__wrapper margin-top) - (.home-hero__wrapper margin-bottom)
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    &.with-video {
      background-image: none;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      height: auto;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url('/img/hero-bg.svg') no-repeat center;
      background-size: cover;
    }
    & > div {
      position: relative;
    }
  }

  &__video {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.6);
      content: '';
    }
    video {
      object-fit: cover !important;
      width: 100vw;
      height: 100%;
    }
    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__address {
    text-align: right;
    padding-top: 1em;
    padding-right: 2.5rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__company {
    // LEFT SIDE
    &--wrapper {
    }
  }
  &__tagline {
    color: $white;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: calc(100% + 0%);
      height: calc(100% + 25vh);
      top: calc(-25vh / 2);
      right: calc(0rem - 4rem - (0% / 2));
      padding: 2em 4em;
      background: linear-gradient(25deg, $mediummain 0%, $darkmain 100%);
      opacity: 0.7;
      // transform: skewX(15deg);
      @include media-breakpoint-down(lg) {
        height: calc(100% + 30vw);
        top: calc((-30vw) / 2);
      }
    }
    & > div {
      position: relative;
    }
    // RIGHT SIDE
    &--wrapper {
      padding-left: 10vw;
    }

    &-title {
      font-family: $secondfont;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 6vw;
      @include media-breakpoint-down(lg) {
        font-size: 8vw;
      }
    }

    &-subtitle {
      font-size: 1.75vw;
      font-weight: 300;
      @include media-breakpoint-down(lg) {
        font-size: 2vw;
      }
    }
    //
    // &-color {
    //
    // }
  }
}

.heroinner {
  &__logo {
    margin-bottom: 7.5vh;
    width: 100%;
    max-width: 375px;
  }
  &__cta {
    display: block;
    text-align: left;
    max-width: 20em;
    margin: 0 auto 1em;
    position: relative;
    &:after {
      content: '⟶';
      position: absolute;
      right: calc(0% + 1em);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &.btn-cta {
      text-align: left;
      border-radius: $border-radius-sm;
    }

    &.btn-clear {
      background: transparent;
      color: $darkmain;
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        border: 1px solid;
        color: $darkmain;
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
// WITH DOCTORS IMAGE
.home-hero {
  &__wrapper {
    // height: calc(100vh - 3rem - 2rem);

    &--doctor {
      .home-hero__row {
        @include media-breakpoint-down(lg) {
          margin-top: calc(-50vh / 2);
        }

        @include media-breakpoint-down(sm) {
          margin-top: 1rem;
        }
      }
      .home-hero__company {
        // LEFT SIDE
        &--wrapper {
          padding-right: 10vw;

          @include media-breakpoint-down(lg) {
            padding-right: 0;
          }
        }
      }
      .home-hero__tagline {
        @include media-breakpoint-down(sm) {
          padding-top: 2.5vh;
          margin-top: 10vh;
        }

        &:before {
          width: calc(100% - 10vw);
          height: calc(100% + 150%);
          top: calc(-150% / 2);
          @include media-breakpoint-down(lg) {
            width: calc(100% + 1.5rem);
          }
        }
        // RIGHT SIDE
        &--wrapper {
          padding-left: 20vw;

          @include media-breakpoint-down(lg) {
            padding-left: 12vw;
          }

          @include media-breakpoint-down(sm) {
          }
        }
      }
    }
  }
  &__doctor-container {
    position: relative;

    @include media-breakpoint-down(sm) {
      padding-bottom: 30vh;
    }
    img {
      position: absolute;
      width: 47.5vw;
      left: calc(50% - (47.5vw / 2));
      bottom: calc(0rem - 4rem - 100px);
      z-index: 1;

      @include media-breakpoint-down(lg) {
        width: auto;
        height: 50vh;
        left: calc(50% - 50vh / 2);
      }
      @include media-breakpoint-down(sm) {
        height: 40vh;
        left: calc(50% - 40vh / 2);
        bottom: calc(0rem - 100px - 2rem);
      }
    }
  }
}

// WITH REVIEWS
.home-hero {
  &__wrapper {
    &.home-hero__wrapper--reviews {
      .home-hero__address {
        color: $mediummain;
        .header__addressinner a {
          color: $mediummain;
        }
      }
      .home-hero__company {
        // LEFT SIDE
        &--wrapper {
        }
      }
      .home-hero__tagline {
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          margin-top: 5em;
        }
        &:before {
          height: calc(100% + 35%);
          top: calc(-35% / 2);

          @include media-breakpoint-down(xxl) {
            height: calc(100% + 20%);
            top: calc(-20% / 2);
          }

          @include media-breakpoint-down(md) {
            width: calc(100% * 2);
            height: calc(100% + 2rem + 15vh);
            top: calc(0rem - 1rem);
            padding-left: 0;
            font-size: 0.75em;
          }
        }
        // RIGHT SIDE
        &--wrapper {
          @include media-breakpoint-down(md) {
            padding-left: 0;
          }
        }

        &-title {
          font-size: 5vw;
          @include media-breakpoint-down(md) {
            font-size: 8vw;
          }
          @include media-breakpoint-down(sm) {
            font-size: 10vw;
          }
        }

        &-subtitle {
          font-size: 1.5vw;
          @include media-breakpoint-down(md) {
            font-size: 2.25vw;
          }
          @include media-breakpoint-down(sm) {
            font-size: 4vw;
          }
          br {
            @include media-breakpoint-down(lg) {
              display: none;
            }
            @include media-breakpoint-down(sm) {
              display: block;
            }
          }
        }
      }
    }
  }
}

// Header Reviews
.home-hero__reviews {
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  // max-width: 500px;

  .reviews-data {
    background-color: $mediummain;
    box-shadow: none;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .reviews-single {
      &--info {
        background: rgba(255, 255, 255, 0.2);
        padding: 1em 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
      }

      &--author {
        display: block;
        order: 1;
        color: $white;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
        margin: 0.5em auto 1.5em;

        &-image {
          width: 40%;
          display: block;
          margin: auto;
          @include media-breakpoint-down(sm) {
            width: 20%;
          }
        }
      }

      &--site {
        font-size: 0.875rem;
        text-align: center;
        img {
          display: block;
          margin: 0 auto;
        }
        &-stars {
          color: $white;
        }
      }
      &--text {
        color: $white;
        padding: 1em 2em;
        font-style: normal;
        font-family: inherit;
        text-align: left;
        @include media-breakpoint-down(md) {
          font-size: 0.875rem;
          line-height: 1.2;
        }

        @include media-breakpoint-down(sm) {
          padding: 3em 2em;
          font-size: 1rem;
          line-height: 1.5;
          min-height: 12em;
        }
      }

      &--wrapper {
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        max-width: 100%;
        padding: 0;
      }
    }

    &.slick-slider > .slick-arrow {
      top: 100%;
    }

    .slick-arrow:before {
      border-color: transparent;
    }
    .slick-arrow:after {
      border-color: $white !important;
    }
  }
}

// MEMBERS
.members-hero {
  color: white;
  height: 100px;
  justify-content: center;
  align-content: center;
  padding: 1rem 7.5%;
  position: relative;
  z-index: 1;
  font-size: 1.75vw;
  margin: 0 2rem;

  @include media-breakpoint-down(lg) {
    padding: 1rem 2rem;
    font-size: 1.5em;
  }
  @include media-breakpoint-down(md) {
    height: auto;
    padding: 0;
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: $darkermain;
  }

  h1 {
    font-size: 1.5vw;
    @include media-breakpoint-down(lg) {
      font-size: 1em;
    }
  }

  &__text {
    text-align: left;
    @include media-breakpoint-down(md) {
      text-align: center;
      padding: 1em;
    }
  }

  &__logos {
    text-align: right;
    @include media-breakpoint-down(md) {
      text-align: center;
      padding: 1em;
      background: $darkmain;
    }
    img {
      width: auto;
      height: 60px;
      margin-left: 1em;
      opacity: 0.7;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
