/* Hero */
body.home,
body.boynton,
body.delray {
  color: attr(data-practice-name);
}
// MEMBERS
.member {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3.5rem;
  img {
    margin: 0 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    img {
      height: 55px;
    }
  }
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    padding: 0;
    img {
      height: auto;
      width: 100%;
      margin: 0;
    }
  }
  &__wrapper {
    background-image: url('/img/member-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 16px 0 163px 0;
    @include media-breakpoint-down(sm) {
      background-image: none;
      padding: 30px 15px 70px;
      img {
        padding-left: 0;
        max-width: 100%;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 1em 1em;
      margin: 2em 1em;
    }
  }
}

// MEET alt-012
/* Meet the doctors */
// .meet-single {
//   &__wrapper {
//     background: $darkmain;
//     background: url(/img/background.svg) no-repeat center center, $primarygradient;
//     background-size: 100%;
//     background-attachment: fixed;
//     max-width: 100%;
//     position: relative;
//     padding-top: 96px;
//     padding-bottom: 125px;
//     color: #fff;
//     @include media-breakpoint-down(sm) {
//     padding-top: 30px;
//     }
//   }
//   &__title {
//     font-family: $secondfont;
//     margin: 0;
//     text-align: center;
//     font-weight: 400;
//     color: #FFFFFF;
//     font-size: 49px;
//     line-height: 47px;
//     &:after {
//       content: '';
//       display: block;
//       background-color: #FFFFFF;
//       margin: 25px auto 50px;
//       position: relative;
//       width: 180px;
//       height: 3px;
//     }
//     @include media-breakpoint-down(lg) {
//       font-size: 35px;
//       line-height: 45px;
//     }
//     @include media-breakpoint-down(sm) {
//       font-size: 28px;
//       line-height: 34px;
//       &:after {
//         display: none;
//       }
//     }
//   }
//   &__container {
//     margin: auto;
//     max-width: 1000px;
//   }
//   &__container > div {
//     @include media-breakpoint-down(sm) {
//       padding-top: 25px;
//       padding-bottom: 25px;
//     }
//   }
//   &__img-container {
//     @include media-breakpoint-down(sm) {
//       text-align: center;
//     }
//     &--image {
//       width: 160px;
//
//       @include media-breakpoint-down(sm) {
//         width: 100%;
//         border: none;
//         margin-bottom: 0;
//         border-radius: none;
//       }
//     }
//   }
//   &__what {
//     font-size: 14px;
//   }
//   &__what img {
//     width: 26px;
//     height: 26px;
//     float: left;
//     margin: 3px 15px 0 0;
//   }
//
// }

// MEET

.meet {
  background: url(/img/background.svg) no-repeat center center,
    linear-gradient(45deg, $mediummain 0%, $darkmain 120%);
  // background: no-repeat center center, linear-gradient(45deg, $mediummain 0%, $darkmain 120%);
  background-size: 100%;
  background-attachment: fixed;
  margin: 0 2rem;
  padding: 7%;
  color: $white;
  position: relative;
  z-index: 5;
  @include media-breakpoint-down(lg) {
    padding: 12% 2% 10%;
  }
  @include media-breakpoint-down(md) {
    padding: 20% 2% 15%;
  }

  &.meet-single {
    padding: 3% 7% 4%;
    @include media-breakpoint-down(lg) {
      padding: 8% 2% 8%;
      background-size: cover;
    }
    @include media-breakpoint-down(md) {
      padding: 15% 2% 15%;
      background-size: cover;
    }
  }

  .container {
    // max-width: 80%;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__title {
    position: absolute;
    left: -10%;
    top: -1.25em;
    font-style: italic;
    font-weight: 300;
    font-size: 6em;
    opacity: 0.2;
  }
  &__text {
    position: relative;
  }
  &__doctor {
    &--image {
      border-radius: 100%;
      @include media-breakpoint-down(md) {
        align-self: flex-start;
      }
      img {
        width: 100%;
        border: 3em solid rgba(255, 255, 255, 0.05);
        border-radius: 100%;
        @include media-breakpoint-down(lg) {
          padding-left: 0;
          border-width: 2vw;
        }
      }
    }
    &--name {
      font-size: 3em;
      @include media-breakpoint-down(md) {
        font-size: 2em;
      }
    }
  }

  // Slider
  &-slider {
    &__slide {
      &--row {
        margin: 0 5% 0;
        padding: 2.5em 0 0;
      }
    }
  }
  .slick-list {
    @include media-breakpoint-down(lg) {
      overflow: visible;
    }
  }
  .slick-dots {
    position: absolute;
    margin: 0;
    left: calc(0% + 33% + 8px + 2.5%);
    bottom: 0;

    li {
      width: 1em;
      height: 1em;
      background: transparent;
      border: 2px solid;
      border-radius: calc(1em / 2);

      &.slick-active {
        background: $white;
      }
    }
  }

  .slick-slider {
    & > .slick-arrow {
      cursor: pointer;
      font-size: 0;
      border: none;
      background-color: transparent;
      outline: 0;
      width: 14px;
      height: 14px;
      position: absolute;
      top: calc(50% - 6px);
      &:before {
        border: none;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        display: block;
        border-bottom: 4px solid;
        border-right: 4px solid;
        z-index: 1001;
        transition: all 0.2s ease-out;
        border-color: $white;
        opacity: 0.5;
      }
    }
    & .slick-prev {
      left: -5%;
      @include media-breakpoint-down(lg) {
        left: 0;
      }
      &::after {
        left: 18px;
        transform: rotate(135deg);
      }
    }
    & .slick-next {
      right: -5%;
      @include media-breakpoint-down(lg) {
        right: 0;
      }
      &::after {
        right: 18px;
        transform: rotate(-45deg);
      }
    }
  }

  &__link {
    position: absolute;
    font-size: 1.25em;
    color: $white;
    bottom: calc((7% * 2) + 0.5em);
    right: calc(7% + 5%);
    &:hover {
      text-decoration: none;
      color: $white;
      font-weight: 500;
    }

    @include media-breakpoint-down(lg) {
      bottom: calc((10% / 2) + 0.5em);
    }
  }
}

// /* Specials */ PREV
// .specials {
//   &__wrapper {
//     // !CLEAN
//     padding: 2rem 0 6rem;
//     // background: $lightbody;
//   }
//   &__title {
//     font-family: $secondfont;
//     margin: 0;
//     text-align: center;
//     font-weight: 300;
//     color: $darkmain;
//     font-size: 38px;
//     line-height: 47px;
//     &:after {
//       content: '';
//       display: block;
//       background-color: $darkmain;
//       margin: 25px auto 30px;
//       position: relative;
//       width: 80px;
//       height: 3px;
//     }
//     @include media-breakpoint-down(lg) {
//       font-size: 33px;
//       line-height: 41px;
//     }
//     @include media-breakpoint-down(sm) {
//       font-size: 28px;
//       line-height: 34px;
//     }
//   }
//   &__lead {
//     color: $secmain;
//     font-size: 1.3rem;
//     margin-bottom: 35px;
//   }
// }
//
// /* Specials Single Box */
//
// .spec-box {
//   // margin-bottom: 30px;
//   &.free {
//     &:after{
//       content: 'FREE';
//       position: absolute;
//       background: white;
//       width: 100px;
//       text-align: center;
//       top: 0;
//       left: calc(50% - 50px);
//       padding: 5px 20px 5px;
//       border-radius: 0 0 5px 5px;
//       font-weight: bold;
//       z-index: 10;
//     }
//   }
//   &--second {
//     .spec-box__inner:before {
//       // background-color: $secmain;
//     }
//     .spec-box__price {
//       // border-color: $secmain;
//     }
//   }
//   &--third {
//     .spec-box__inner:before {
//       // background-color: $secmain;
//     }
//     .spec-box__price {
//       // border-color: $secmain;
//     }
//     @include media-breakpoint-down(sm) {
//       margin-top: 35px;
//     }
//   }
//
//   &__inner {
//     border: 1px solid $darkmain;
//     background-color: #FFFFFF;
//     position: relative;
//     padding: 15px;
//     &:before {
//       display: block;
//       position: absolute;
//       top: -1px;
//       left: -1px;
//       right: -1px;
//       content: "";
//       height: 200px;
//       background-color: $darkmain;
//       background: url(/img/background2.svg) no-repeat center center, $primarygradient;
//       background-size: 100%;
//       background-attachment: fixed;
//     }
//   }
//
//   // 2020
//   &.spec-box-mobile{
//     .spec-box__inner {
//       &:before {
//         background-attachment:local;
//         background-size: 60vh;
//       }
//     }
//   }
//   // 2020
//
//   &__top {
//     position: relative;
//     z-index: 1;
//     border-top: 2px dashed #FFFFFF;
//     border-left: 2px dashed #FFFFFF;
//     border-right: 2px dashed #FFFFFF;
//     height: 195px;
//   }
//   &__title {
//     font-family: $secondfont;
//     text-align: center;
//     color: #FFFFFF;
//     font-size: 24px;
//     line-height: 24px;
//     margin-top: 20px;
//     text-shadow: 0 0 18px $darkmain;
//     @include media-breakpoint-down(lg) {
//       font-size: 22px;
//     }
//   }
//   &__price {
//     position: absolute;
//     width: 159px;
//     height: 159px;
//     border-radius: 160px;
//     border: 6px solid $darkmain;
//     background-color: #FFFFFF;
//     text-align: center;
//     color: $darkmain;
//     font-size: 64px;
//     font-weight: 300;
//     line-height: 149px;
//     z-index: 3;
//     letter-spacing: -5px;
//     left: 50%;
//     transform: translate(-50%, 0);
//     margin-top: -105px;
//     box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
//     padding-right: 10px;
//     &--strikethrough {
//       // position: relative;
//       &:before {
//         content: '';
//         position: absolute;
//         left:26px; top: 50%;
//         width: 70%;
//         height: 4px;
//         background: $red;
//         transform: rotate(20deg);
//       }
//       &:after {
//         content: '';
//         position: absolute;
//         left:26px; top: 50%;
//         width: 70%;
//         height: 4px;
//         background: $red;
//         transform: rotate(-20deg);
//       }
//     }
//     span {
//       font-size: 23px;
//       position: relative;
//       top: -26px;
//       font-weight: normal;
//       letter-spacing: 0px;
//     }
//   }
//   &__bottom {
//     // height: 195px;
//     position: relative;
//     border-bottom: 2px dashed $darkmain;
//     border-left: 2px dashed $darkmain;
//     border-right: 2px dashed $darkmain;
//     text-align: center;
//     color: $secmain;
//     font-size: 16px;
//     line-height: 18px;
//     padding: 65px 10px 0;
//     @include media-breakpoint-down(lg) {
//       font-size: 16px;
//     }
//   }
//   &__bottom--includes {
//     margin-bottom: 0;
//     min-height: 72px;
//   }
//   &__cta {
//     font-weight: bold;
//     font-size: 13px !important;
//     display: inline-block;
//     width: auto;
//     margin: 12px auto 20px;
//   }
//   &__note {
//     color: $secmain;
//     font-size: 12px;
//     text-align: center;
//     margin-top: 15px;
//     @include media-breakpoint-down(sm) {
//       font-size: 13px;
//     }
//   }
// }

.specials {
  background: $lightmainmid;
  margin-bottom: 4%;
  @include media-breakpoint-down(md) {
    margin-bottom: 8%;
  }
  &.container {
    max-width: calc(100% - 4rem - 4rem);
    padding: 4% 4%;
    @include media-breakpoint-down(md) {
      max-width: calc(100% - 4rem);
    }
  }
  &__text {
    @include media-breakpoint-down(md) {
      text-align: center;
      margin: 5% auto;
    }
  }
  &__title {
    color: $darkmain;
    font-size: 2.5em;
    small {
      display: block;
      color: $mediummain;
      text-transform: uppercase;
      font-size: 0.6em;
    }
  }

  &__expiration {
    color: $mediummain;
  }

  &__link {
    display: block;
    font-size: 1.25em;
    margin-top: 2em;
    color: $darkmain;
    font-weight: 500;
    transition: all ease 0.5s;
    &:hover {
      text-decoration: none;
      color: $mediummain;
    }
  }
  .slick-slider {
    & > .slick-arrow {
      cursor: pointer;
      font-size: 0;
      border: none;
      background-color: transparent;
      outline: 0;
      width: 14px;
      height: 14px;
      position: absolute;
      top: calc(50% - 6px);
      &:before {
        border: none;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        display: block;
        border-bottom: 4px solid;
        border-right: 4px solid;
        z-index: 1001;
        transition: all 0.2s ease-out;
        border-color: $mediummain;
        opacity: 0.5;
      }
    }
    & .slick-prev {
      left: -2vw;
      @include media-breakpoint-down(lg) {
        left: -4vw;
      }
      &::after {
        left: 18px;
        transform: rotate(135deg);
      }
    }
    & .slick-next {
      right: -2vw;
      @include media-breakpoint-down(lg) {
        right: -4vw;
      }
      &::after {
        right: 18px;
        transform: rotate(-45deg);
      }
    }
  }
}
// Individual boxes
.spec-box {
  border: 2px solid $lightmainmid;
  padding: 3em 1em 1em;

  position: relative;
  text-align: center;

  &__slide {
    background: $white;
    padding: 1em;
    // margin: 3em 1em;
    margin: 2em 1em 0;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
  }

  &__price {
    background: url(/img/background2.svg) no-repeat center center,
      linear-gradient(to left, $mediummain, $lightmain);
    background-size: 200%;
    color: $white;
    padding: 4px;
    position: absolute;
    min-width: 60%;
    left: calc(50% - (60% / 2));
    top: -3em;

    @include media-breakpoint-down(sm) {
      top: -1.5em;
      font-size: 1.5em;
      min-width: 80%;
      left: calc(50% - (80% / 2));
    }

    h4 {
      font-size: 2em;
      font-weight: 900;
      border: 2px dashed $white;
      margin: 0;
      padding: 0.5em;
      @include media-breakpoint-down(sm) {
        font-size: 1em;
      }
    }
  }

  &__title {
    color: $darkmain;
    @include media-breakpoint-down(md) {
      .spec__br {
        display: none !important;
      }
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.25em;
      .spec__br {
        display: block !important;
      }
    }
  }
  &__bottom {
    &--includes {
      color: $mediummain;
    }
  }
  &__cta {
    color: $mediummain !important;
    border-color: $mediummain !important;
    margin-top: 1em;

    &:hover {
      background: $mediummain !important;
      color: $white !important;
    }
  }
}

// Safety and Comforto
.home {
  &__safety-comfort {
    font-size: 1em;
    margin: 4rem 0 0;
    @include media-breakpoint-down(md) {
      font-size: 1em;
    }

    &--header {
      margin: 0 7%;
      text-align: center;
      margin-bottom: calc(7% / 2);
      @include media-breakpoint-down(md) {
        font-size: 0.875em;
      }
      h2 {
        color: $darkermain;
        @include sectionTitle();
      }
    }
    &--step-box {
      // box-shadow: 0 2px 30px 0 rgba(0,0,0,0.04);
      background: $lightmainmid;
      border-radius: $border-radius-sm;
      border-top: 0.5em solid $lightmainmid;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        margin-bottom: 1em;
      }
      img {
        width: 100%;
      }
      &__title {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $mediummain;
        position: relative;

        .icon {
          position: absolute;
          right: 0.5em;
          top: -1em;
          display: block;
          background: white;
          box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
          border-radius: 100%;
          text-align: center;
          font-size: 2.25em;
          padding: 0.75em 0.75em 0.5em;
        }
      }
      &__text {
        padding: 1rem 2rem;
        min-height: 11.5em;
        @include media-breakpoint-down(md) {
          min-height: auto;
          border-left: 1px solid $lightmainmid;
        }
        h4 {
          font-size: 1.25em;
          color: $darkmain;
        }
        p {
          font-size: 1em;
        }
      }
      &__footer {
        padding: 1rem 2rem;
        font-size: 0.875em;
        a {
          color: $mediummain;
          &:hover {
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }
}

/* Location */

.location {
  &__wrapper {
    background-color: $lightbody;
    overflow: hidden;
    background-image: url('/img/'+$imgfilename+'-city-bg.webp');
    background-position: center top;
    background-size: cover;
    padding: 4rem 0;
    @include media-breakpoint-down(sm) {
      padding: 50px 0;
      background-image: url('/img/'+$imgfilename+'-city-bg-mobile.webp');
    }
  }
  &__content {
    text-align: left;
    color: $secmain;
  }
  &__title {
    color: $darkmain;
    @include sectionTitle($line: false);
  }
  &__serving {
    text-transform: uppercase;
    margin-top: 80px;
    color: $darkmain;
    font-weight: bold;
    font-size: 14px;
    @include media-breakpoint-down(sm) {
      margin-top: 32px;
    }
  }
  &__logo {
    margin-top: 45px;
    max-width: 300px;
    @include media-breakpoint-down(sm) {
      width: 300px;
    }
  }
  &__address {
    color: $mediummain;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }
  &__direct {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__directions {
    color: $darkmain;
    font-size: 2em;
    font-family: $secondfont;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 0px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__text {
    h4 {
      color: $mediummain;
      font-size: 1.15em;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 20px;
    }
  }
  &__mobcta {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      margin: 2rem auto 0;
      width: 210px;
    }
  }
}

.no-webp .location__wrapper,
.no-webpanimation .location__wrapper,
.no-webp-alpha .location__wrapper,
.no-webp-lossless .location__wrapper {
  background-image: url('/img/'+$imgfilename+'-city-bg.jpg');
  @include media-breakpoint-down(sm) {
    background-image: url('/img/'+$imgfilename+'-city-bg-mobile.jpg');
  }
}

/* Saying */
.saying {
  overflow: hidden;
  text-align: left;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  &__wrapper {
    background: $lightmainsoft;
    padding: 2rem 0 1.5rem;
    @include media-breakpoint-down(md) {
      padding: 7.5% 0 7.55%;
    }
    //   background: $lightmain;
    //   background: url(/img/background3.svg) no-repeat center center, $primarygradient;
    //   background-size: 100%;
    //   background-attachment: fixed;
    //   max-width: 100%;
    //   position: relative;
    //   padding: 80px 0;
    //   @include media-breakpoint-down(sm) {
    //     background: #fff !important;
    //     padding-top: 0;
    //     padding-bottom: 40px;
    //   }

    .reviews-data.slick-slider > .slick-arrow:after {
      border-color: $mediummain !important;
    }
  }
  &__title {
    color: $darkmain;
    @include sectionTitle($line: false);
    text-align: left;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__cta {
    color: $mediummain;
    &:hover {
      font-weight: 400;
      color: $mediummain;
      text-decoration: none;
    }
  }
  // &__content {
  //   background-color: #FFFFFF;
  //   color: $secmain;
  //   margin: 0;
  //   box-shadow: 0px 3px 20px 0px rgba(6, 99, 163, 0.45);
  //   padding: 30px;
  //   border: 1px solid $mediummain;
  //   &:before {
  //     display: block;
  //     content: '';
  //     width: 0;
  //     height: 0;
  //     border-style: solid;
  //     border-width: 0 25.5px 35px 25.5px;
  //     border-color: transparent transparent #FFFFFF transparent;
  //     position: absolute;
  //     margin-top: -65px;
  //     left: 50%;
  //     transform: translate(-50%, 0);
  //     @include media-breakpoint-down(sm) {
  //       display: none;
  //     }
  //   }
  //   @include media-breakpoint-down(sm) {
  //     margin-left: -15px;
  //     margin-right: -15px;
  //     border: 0;
  //     box-shadow: none;
  //     padding-left: 10px;
  //     padding-right: 10px;
  //   }
  // }
  //   &__item:not(:last-of-type) {
  //     @include media-breakpoint-down(sm) {
  //       margin-bottom: 40px;
  //     }
  //   }
  //   &__thumb {
  //     width: 64px;
  //     border: 1px solid $darkmain;
  //     border-radius: 50%;
  //   }
  //   &__author {
  //     font-size: 19px;
  //     font-weight: bold;
  //     margin: 20px 0;
  //   }
  //   &__quote {
  //     font-style: italic;
  //     font-size: 14px;
  //     line-height: 22px;
  //     font-family: $reviewsfont;
  //     @include media-breakpoint-down(sm) {
  //       font-size: 15px;
  //     }
  //   }
  //   .col-4 .row .col:last-of-type {
  //     text-align: right;
  //   }
  //   &__cta {
  //     // margin: 75px auto 0;
  //     display: block;
  //     width: 300px;
  //   }
  //   &__rate {
  //     @include media-breakpoint-down(md) {
  //       text-align: right;
  //     }
  //   }
}

body.home {
  .saying__title {
    @include media-breakpoint-down(sm) {
      color: $white;
    }
  }
}

/* What we Do */

// .wedo {
//   margin-top: 60px;
//   @include media-breakpoint-down(sm) {
//     margin-top: 0;
//   }
//   &__wrapper {
//     @include media-breakpoint-down(sm) {
//       margin-top: 0px;
//     }
//   }
//   &__title {
//     font-family: $secondfont;
//     margin: 0;
//     text-align: center;
//     font-weight: 300;
//     color: $darkmain;
//     font-size: 38px;
//     line-height: 47px;
//     &:after {
//       content: '';
//       display: block;
//       background-color: $darkmain;
//       margin: 25px auto 40px;
//       position: relative;
//       width: 80px;
//       height: 3px;
//     }
//     @include media-breakpoint-down(lg) {
//       font-size: 33px;
//       line-height: 41px;
//     }
//     @include media-breakpoint-down(sm) {
//       // font-size: 28px;
//       // line-height: 34px;
//       display: none;
//     }
//   }
//   &__texttop {
//     color: $secmain;
//     margin-left: 10%;
//     margin-right: 10%;
//     @include media-breakpoint-down(lg) {
//       font-size: 14px;
//     }
//   }
// &__text {
//   color: $secmain;
//   font-size: 16px;
//   line-height: 24px;
//   background-color: #FFFFFF;
//   border-top: 1px solid $mediummain;
//   align-items: center;
//   justify-content: center;
//   display: flex;
//   flex-direction: column;
//   @include media-breakpoint-down(lg) {
//     font-size: 14px;
//   }
//   &--1 {
//     // @include media-breakpoint-down(sm) {
//     //   order: 2;
//     // }
//   }
//
//   &--2 {
//     // @include media-breakpoint-down(sm) {
//     //   order: 4;
//     // }
//   }
// }
// &__image {
//   text-align: center;
//   position: relative;
//   overflow: hidden;
//   &--1 {
//     // @include media-breakpoint-down(sm) {
//     //   order: 1;
//     // }
//   }
//
//   &--2 {
//     // @include media-breakpoint-down(sm) {
//     //   order: 3;
//     // }
//   }
//
//   &--right {
//     &:before {
//       content: "";
//       display: inline-block;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 34px 0 34px 20px;
//       border-color: transparent transparent transparent #FFFFFF;
//       position: absolute;
//       top: 50px;
//       left: 0;
//       // @include media-breakpoint-down(sm) {
//       //   display: block;
//       //   width: 0;
//       //   height: 0;
//       //   border-style: solid;
//       //   border-width: 0 20px 15px 20px;
//       //   border-color: transparent transparent $mediummain transparent;
//       //   margin-top: auto;
//       //   top: auto;
//       //   bottom: 67px;
//       //   left: 50%;
//       //   transform: translate(-50%, 0);
//       // }
//
//     }
//
//   }
//   &--left {
//     &:before {
//       content: "";
//       display: inline-block;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 34px 20px 34px 0;
//       border-color: transparent #FFFFFF transparent transparent;
//       position: absolute;
//       top: 50px;
//       right: 0;
//       @include media-breakpoint-down(sm) {
//         display: inline-block;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: 0 20px 15px 20px;
//         border-color: transparent transparent $mediummain transparent;
//         top: auto;
//         bottom: 67px;
//         left: 50%;
//         transform: translate(-50%, 0);
//       }
//     }
//   }
// }
// &__inner {
//   padding: 0;
//   margin-top: 30px;
//   @include media-breakpoint-down(sm) {
//     margin-top: 0;
//   }
// }
// &__content {
//   max-width: 260px;
//   @include media-breakpoint-down(lg) {
//     padding: 0 15px;
//   }
//   @include media-breakpoint-down(sm) {
//     padding: 1rem 0;
//   }
// }
// &__cta {
//   font-size: 12px;
//   font-weight: bold;
//   display: block;
//   width: 153px;
//   margin-top: 15px;
//   margin-left: 0px;
//   border: 2px solid $green;
//   &:hover {
//     background: $green;
//     color: white;
//   }
// }
// &__img {
//   width: 100%;
//   height: auto;
//   vertical-align: top;
//   // @include media-breakpoint-down(sm) {
//   //   margin-bottom: -5%;
//   // }
// }
// &__heading {
//   color: $darkmain;
//   font-size: 24px;
//   font-weight: 400;
//   padding: 30px 0 40px;
//   background: linear-gradient(90deg, $lightwedo 0%, rgba(255, 255, 255, 1) 39%, $lightwedo 100%);
//   margin-bottom: 0;
//   @include media-breakpoint-down(lg) {
//     font-size: 18px;
//   }
//   // @include media-breakpoint-down(sm) {
//   //   background: none;
//   //   background-color: $mediummain;
//   //   color: #FFFFFf;
//   //   padding: 20px 0;
//   //   z-index: 2;
//   //   position: relative;
//   // }
// }
// &__all {
//   // border: 1px solid #707070;
//   background-color: $darkmain;
//   background: url(/img/background.svg) no-repeat center center, $primarygradient;
//   background-size: 100%;
//   background-attachment: fixed;
//   text-align: center;
//   padding: 50px 0;
//   // 2020
//   @include media-breakpoint-down(sm){
//     padding: 75px 0;
//     background-size: 200%, 400% 250%;
//     border-top: 8px solid $lightbody;
//     border-bottom: 8px solid $lightbody;
//   }
//   // 2020
// }
// &__link {
//   border: 1px solid #FFFFFF;
//   color: #FFFFFF;
//   text-align: center;
//   font-size: 18px;
//   line-height: 22px;
//   padding: 13px 85px;
//   border-radius: 30px;
//   font-weight: 500;
//   text-decoration: none;
//   &:hover {
//     color: $darkmain;
//     background-color: #FFFFFF;
//     text-decoration: none;
//   }
//   // @include media-breakpoint-down(sm) {
//   //   background-color: $darkmain;
//   //   color: #FFFFFf;
//   //   &:hover {
//   //     background-color: $primary;
//   //     color: #FFFFFf;
//   //   }
//   // }
// }
// &__row-column-reverse {
//     .row {
//       @include media-breakpoint-down(md) {
//         flex-direction: row-reverse;
//       }
//       // @include media-breakpoint-down(sm) {
//       //   flex-direction: row;
//       // }
//     }
// }
// }

.wedo {
  &__texttop {
    text-align: center;
    padding: 4rem 10%;
  }

  &__title {
    color: $darkermain;
    @include sectionTitle($line-small: true, $line: false);
  }

  &__row-column {
    background: linear-gradient(to right, $lightmainsoft 0%, $white 100%);
    @include media-breakpoint-up(xxxl) {
      background: $lightmainsoft;
    }
    &:nth-child(odd) {
      background: linear-gradient(to left, $lightwedo 0%, $lightmainsoft 100%);
      @include media-breakpoint-up(xxxl) {
        background: $lightmainsoft;
      }
    }
  }

  &__row-column-reverse {
    .row {
      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }
  }

  &__box-1,
  &__box-4 {
    .row {
      @include media-breakpoint-up(xxxl) {
        flex-direction: row-reverse;
      }
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }
  &__text {
    align-self: center;
  }
  &__content {
    @include media-breakpoint-up(xxxl) {
      padding: 10%;
    }
    padding: 5%;
  }

  &__heading {
    color: $darkmain;
    font-weight: 300;
    font-size: 2em;
  }
  &__cta {
    color: $mediummain;
    margin-top: 1em;
    display: block;

    &:hover {
      text-decoration: none;
      font-weight: 400;
      color: $mediummain;
    }
  }

  &__all {
    background: url(/img/background.svg) no-repeat center center,
      linear-gradient(45deg, $mediummain 0%, $darkmain 120%);
    background-size: cover;
    background-attachment: fixed;
    padding: 2.5%;
    text-align: center;
    @include media-breakpoint-down(sm) {
      padding: 10% 2.5%;
    }
  }
  &__link {
    color: $white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: $secondfont;
    letter-spacing: 3px;
    @include media-breakpoint-down(sm) {
      letter-spacing: 0;
    }

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

// 2020
@include media-breakpoint-down(sm) {
  .wedo {
    &__texttop {
      display: none;
    }
    &__image {
      &--right {
        &::before {
          display: none;
        }
      }
      &--left {
        &::before {
          display: none;
        }
      }
    }

    &__heading {
      font-weight: 600;
      font-size: 1.5em;
      margin: 0;
      text-align: center;
    }
    &__text {
      border: none;
      text-align: center;
    }
    &__content {
      p {
        display: none;
      }
    }
  }
  // .wedo__inner {
  //   .row:first-of-type {
  //     .wedo__row-column,
  //     .wedo__row-column-reverse {
  //      .row {
  //         flex-direction: column-reverse;
  //       }
  //     }
  //   }
  // }
}

// 2020

/* Systems */

.systems {
  &__wrapper {
    background-image: url('/img/'+$imgfilename+'-systems-bg.webp');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    @include media-breakpoint-down(sm) {
      padding: 50px 0;
      background-image: url('/img/'+$imgfilename+'-systems-bg-mobile.webp');
    }
  }
  &__title {
    font-family: $secondfont;
    color: $darkmain;
    text-align: center;
    margin: 0 0 40px 0;
    font-weight: 300;
    font-size: 38px;
    line-height: 47px;
    @include media-breakpoint-down(lg) {
      font-size: 33px;
      line-height: 41px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  &__inner {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__img {
    margin: 2rem 0 0;
    max-height: 80px;
    @include media-breakpoint-down(sm) {
      // margin: 1rem 0;
      // width: 180px;
    }
  }
  .col {
    text-align: center;
  }
}

.no-webp .systems__wrapper,
.no-webpanimation .systems__wrapper,
.no-webp-alpha .systems__wrapper,
.no-webp-lossless .systems__wrapper {
  background-image: url('/img/'+$imgfilename+'-systems-bg.jpg');
  @include media-breakpoint-down(sm) {
    background-image: url('/img/'+$imgfilename+'-systems-bg-mobile.jpg');
  }
}

/* Before & After  */

.before {
  &__wrapper {
    border: 1px solid #707070;
    padding-top: 80px;
    background: url(/img/background4.svg) no-repeat center center, $primarygradient;
    background-size: 100%;
    background-attachment: fixed;
  }
  &__title {
    font-family: $secondfont;
    margin: 0;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    font-size: 38px;
    line-height: 47px;
    &:after {
      content: '';
      display: block;
      background-color: #ffffff;
      margin: 25px auto 40px;
      position: relative;
      width: 80px;
      height: 3px;
    }
    @include media-breakpoint-down(lg) {
      font-size: 33px;
      line-height: 41px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  &__slider {
    margin: 50px 0 160px;
    @include media-breakpoint-down(sm) {
      margin: 50px 0 60px;
    }
  }
  &__slide {
  }
  &__slidein {
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      padding: 0 3rem;
      flex-direction: column;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Here to Help */
.help {
  background: $white;
  padding: 4rem 0;
  &__wrapper {
    // background-image: url('/img/member-bg.png');
    // background-repeat: no-repeat;
    // background-position: center top 50px;
    // background-size: 100vw;

    overflow: hidden;

    // @media screen and (max-width: 992px) {
    //   padding: 55px 0;
    //   background-position: center top 80px;
    // }
    // @include media-breakpoint-down(sm) {
    //   background-image: none;
    //   padding: 35px 0;
    // }
  }
  &__title {
    text-align: center;
    font-weight: 300;
    color: $darkmain;
    margin: 0 0 2rem;
    font-size: 2vw;
    line-height: 1.25;
    padding-left: 5%;
    padding-right: 5%;
    @include media-breakpoint-down(lg) {
      font-size: 33px;
      line-height: 41px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 34px;
    }
    strong {
      font-weight: 600;
    }
  }
  &__cta {
    width: 300px;
    padding: 10px 30px;
    margin: 0 auto;
    display: block;
    font-size: 1.2rem;
  }
}

.office-tour-section {
  background-color: $darkmain;
  background: url(/img/background.svg) no-repeat center center,
    linear-gradient(-45deg, $darkermain 0%, $mediummain 100%);
  background-size: 100%;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 5%;
  @include media-breakpoint-down(sm) {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .carousel,
  .office-tour__slider {
    max-width: 72%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
  &__iframe {
    width: 100%;
    height: 350px;
    border: 0;
  }
  &__title {
    color: $white;
    @include sectionTitle();
  }
}

.slick-dots {
  position: relative;
  /* right: 0; */
  /* bottom: 10px; */
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 30px;
  li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background: white;
    opacity: 0.6;
    &.slick-active {
      opacity: 1;
    }

    button {
      display: none;
      visibility: hidden;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  color: #fff;
  text-align: center;
  opacity: 1;
  background: transparent;
  border: none;
  font-size: 0px;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  &:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid white;
    transform: rotate(45deg);
    opacity: 0.6;
  }
  &:hover:before {
    opacity: 1;
  }
  &.slick-prev:before {
    /* content: '→'; */
    /* color: white; */
    /* font-size: 35px; */
    border-top: none;
    border-right: none;
  }
  &.slick-next {
    right: 0;
    &:before {
      border-bottom: none;
      border-left: none;
    }
  }
  &:focus {
    outline: none;
  }
}

.white_cta {
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 85px;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  margin: 50px auto 0;
  &:hover {
    color: $mediummain;
    background-color: #fff;
    text-decoration: none;
  }
}

.icon_footer {
  color: $darkmain;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IE css */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .office-tour-section,
  .saying__wrapper,
  .wedo__all,
  .meet-single__wrapper,
  .meet,
  .home,
  .wedo__wrapper,
  .spec-box__inner:before {
    background-size: 200vw;
  }
  body {
    background-size: 165vw !important;
  }
  // .help__wrapper--svg {
  //   background-position-y: -175px;
  // }
}

// Modal Reviews

.modal__reviews {
  .reviews-data {
    display: block;
    box-shadow: none;
    border-radius: 30px;
    margin-top: 25px;
    padding: 15px;
    border: 2px solid rgba(145, 183, 220, 0.38);
    color: $darkmain;
    .reviews-single {
      &--wrapper {
        max-width: 100%;
        padding: 0;
      }
      &--author {
        order: 0;
        font-size: 14px;
        margin-top: 0;
        &-image {
          display: none;
        }
      }
      &--site {
        order: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        img {
          height: 20px;
        }
      }
      &--text {
        order: 0;
      }
    }
    &.slick-slider {
      & > .slick-arrow {
        top: 5px;
        &:after {
          border-color: $darkmain;
        }
      }
      & .slick-prev {
        right: 75px;
      }
      & .slick-next {
        right: 25px;
      }
    }
  }
}

.reviews-data .slick-list {
  z-index: 5;
}

/* New Reviews */

.reviews-data {
  background-color: $white;
  box-shadow: 0px 3px 20px 0px rgba(6, 99, 163, 0.45);
  color: $secmain;
  padding: 30px;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    padding: 0 2vh 2vh;
    box-shadow: none;
  }
  .reviews-single {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--wrapper {
      max-width: calc(100% / 3);
      padding: 0 15px;
      width: 100%;
      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
        // margin-top: 25px;
      }
    }
    &--author {
      font-size: 19px;
      font-weight: bold;
      margin: 20px 0;
      order: 3;
      width: 100%;
      &-image {
        width: 64px;
        order: 1;
        border: 1px solid #255093;
        border-radius: 50%;
      }
    }
    &--text {
      order: 4;
      font-style: italic;
      font-size: 14px;
      line-height: 22px;
      font-family: $reviewsfont;
    }
    &--site {
      order: 2;
      & img {
        height: 35px;
        width: auto;
        display: block;
      }
      &-stars {
        color: #f7993a;
        @include media-breakpoint-down(md) {
          display: block;
          text-align: center;
        }
      }
    }
  }

  // Slider Reviews
  &.slick-slider {
    & > .slick-arrow {
      visibility: hidden;
      cursor: pointer;
      font-size: 0;
      border: 0;
      background-color: transparent;
      outline: 0;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 15px;
      &::after {
        content: '';
        position: absolute;
        top: 16px;
        width: 12px;
        height: 12px;
        display: block;
        border-bottom: 4px solid transparent;
        border-right: 4px solid transparent;
        z-index: 1001;
        transition: all 0.2s ease-out;
        border-color: $secmain;
      }
    }
    & .slick-prev {
      right: 115px;
      &::after {
        left: 18px;
        transform: rotate(135deg);
      }
    }
    & .slick-next {
      right: 45px;
      &::after {
        right: 18px;
        transform: rotate(-45deg);
      }
    }
  }
  &.slick-initialized {
    & > .slick-arrow {
      visibility: visible;
    }
  }
  &.slick-initialized {
    .reviews-single {
      &--wrapper {
        visibility: visible;
        max-height: 100%;
        overflow: visible;
      }
    }
  }
}

.reviews-data.slick-slider > .slick-arrow {
  z-index: 100;
}

.saying__wrapper {
  .reviews-data {
    // &::before {
    //   content: '';
    //   width: 0;
    //   height: 0;
    //   border-left: 25px solid transparent;
    //   border-right: 25px solid transparent;
    //   border-bottom: 25px solid $white;
    //   margin: -55px auto 0;
    //   position: absolute;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   @include media-breakpoint-down(md) {
    //     margin-top: -25px;
    //   }
    // }
  }
}

.specialty-section {
  &__wrapper {
    max-width: 100%;
    position: relative;
    background: transparent url('/img/'+$imgfilename+'-hero.webp') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: $darkmain;
    padding: 4em 2em;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: $lightmain;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }
  &__title {
    @include sectionTitle($line: false);
  }
  &__link {
    display: block;
    margin-top: 1em;
    z-index: 10;
    color: $lightmain;
    font-size: 0.9em;
  }

  &__box {
    @include media-breakpoint-down(sm) {
      margin-bottom: 4em;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.no-webp .specialty-section__wrapper,
.no-webpanimation .specialty-section__wrapper,
.no-webp-alpha .specialty-section__wrapper,
.no-webp-lossless .specialty-section__wrapper {
  background-image: url('/img/'+$imgfilename+'-city-bg.jpg');
}

@mixin soft-light {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: $darkermain;
  }
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 260px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  h2 {
    font-size: 1.75em;
    // text-transform: uppercase;
    font-weight: 400;
    position: relative;
    backface-visibility: hidden;
    margin-bottom: 0;
    // &:after {
    //   content: '';
    //   display: block;
    //   background-color: $lightmain;
    //   margin: 1em auto 0;
    //   position: relative;
    //   width: 80px;
    //   height: 3px;
    // }
    @include media-breakpoint-down(lg) {
      font-size: 1.4em;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.1em;
    }
  }
  .icon {
    color: $lightmain;
    font-size: 3em;
    margin-top: -0.25em;
  }
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: $white;
  color: $darkmain;
  padding: 2em;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url('/img/'+$imgfilename+'-mobile-hero-slide-1.jpg');
  background-size: cover;
  color: $white;
  padding: 2em;
  transform: rotateY(180deg);
  @include media-breakpoint-down(md) {
    padding: 2em 1em;
  }
  @include soft-light;

  h2 {
    margin-bottom: 0.5em;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }

    &:after {
      display: none;
    }
  }
  .icon {
    margin: 20px auto;
  }

  &__first {
  }
  &__second {
    background-image: url('/img/'+$imgfilename+'-mobile-hero-slide-2.webp');
  }
  &__third {
    background-image: url('/img/'+$imgfilename+'-mobile-hero-slide-3.webp');
  }
  // !CLEAN
  // &__fourth {
  //   background-image: url('/img/' + $imgfilename + '-mobile-hero-slide-4.webp');
  // }
  @include media-breakpoint-down(lg) {
    font-size: 0.9em;
    line-height: 1.1;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1;
    line-height: 1.5;
  }
  p {
    z-index: 10;
    line-height: 1.25;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      font-size: 0.875em;
      line-height: 1.25;
    }
  }
  a {
    &:hover {
      text-decoration: none;
      color: $lightwedo;
    }
  }
}

.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .flip-card:hover .flip-card-back {
    backface-visibility: visible;
  }
}

.no-webp .flip-card-back,
.no-webpanimation .flip-card-back,
.no-webp-alpha .flip-card-back,
.no-webp-lossless .flip-card-back {
  background-image: url('/img/'+$imgfilename+'-mobile-hero-slide-1.jpg');
}
.no-webp .flip-card-back__second,
.no-webpanimation .flip-card-back__second,
.no-webp-alpha .flip-card-back__second,
.no-webp-lossless .flip-card-back__second {
  background-image: url('/img/'+$imgfilename+'-mobile-hero-slide-2.jpg');
}
.no-webp .flip-card-back__third,
.no-webpanimation .flip-card-back__third,
.no-webp-alpha .flip-card-back__third,
.no-webp-lossless .flip-card-back__third {
  background-image: url('/img/'+$imgfilename+'-mobile-hero-slide-3.jpg');
}
// !CLEAN
// .no-webp .flip-card-back__fourth ,
// .no-webpanimation .flip-card-back__fourth ,
// .no-webp-alpha .flip-card-back__fourth ,
// .no-webp-lossless .flip-card-back__fourth  {
//   background-image: url('/img/' + $imgfilename + '-mobile-hero-slide-4.jpg');
// }
