// ALT  - Original
.hero {
  position: relative;
  height: 860px;
  @include media-breakpoint-down(sm) {
    min-height: 900px;
  }
  @include media-breakpoint-down(xs) {
    height: auto;
  }

  &__logoinner {
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  &__slide {
    position: relative;
    @include media-breakpoint-down(sm) {
      height: 830px;
      margin-top: 55px;
    }
  }
  &__wrapper {
    width: 100%;
  }
  // &__image {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   margin: 0 auto;
  //   // max-width: 100%;
  //   // height: 830px;
  //   position: relative;
  //   z-index: 1;
  //   transform: translate(0%, 0%); /* added */
  //   // margin: -10% auto 0% auto;
  //   @include media-breakpoint-down(md) {
  //
  //   }
  //   @include media-breakpoint-down(sm) {
  //     // min-width: 500px !important;
  //     width: 100%;
  //     height: auto;
  //     border-bottom: 6px solid $darkmain;
  //   }
  //   }
  // &__content {
  //   position: absolute;
  //   top: 150px;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   display: flex;
  //   align-items: center;
  //   // justify-content: center;
  //   flex-direction: column;
  //   z-index: 20;
  //   @include media-breakpoint-down(sm) {
  //     justify-content: flex-start;
  //     top:0;
  //   }
  //   .doctor-img {
  //     position: absolute; right:10%; bottom: 96px;
  //     width: 580px;
  //     z-index: -1;
  //     @media screen and (max-width: 1500px) {right: -3%;}
  //     @include media-breakpoint-down(lg) {right:-15%;}
  //     @include media-breakpoint-down(md) {
  //        right:-15%;
  //        top:70px;
  //        width: 480px;
  //        display: none;
  //     }
  //     @include media-breakpoint-down(sm) {
  //
  //       // top: -60px;
  //       // width: 290px; right:-20%;
  //     }
  //   }
  // }
  &__play {
    display: block;
    margin-top: 90px;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    &:hover {
      cursor: pointer;
    }

    img {
      &.animated {
        animation-delay: 2s;
        animation-timing-function: ease;
        border-radius: 50%;
      }

      width: 60px;
      height: 60px;
    }
    @include media-breakpoint-down(sm) {
      order: 1;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  //   &__title {
  //     font-family: $secondfont;
  //     color: $darkmain;
  //     text-align: center;
  //     font-size: 32px;
  //     font-weight: bold;
  //     line-height: 39px;
  //     margin-bottom: 20px;
  //     @include media-breakpoint-down(md) {
  //       text-shadow: 3px 3px 0 #ffffff, -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
  //     }
  //     @include media-breakpoint-down(sm) {
  //       order: 2;
  //
  //       // margin-top: 90px;
  //
  //       font-size: 22px;
  //       line-height: 26px;
  // //       &:after {
  // //         content: '';
  // //         display: block;
  // //         width: 100%;
  // //         height: 300px;
  // //         background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, #FFFFFF 65%);
  // //         position: absolute;
  // //         z-index: -1;
  // //         top: 0;
  // //       }
  //     }
  //   }
  // &__colored {
  //   color: $darkcta;
  // }
  // .review-slider {
  //   @include media-breakpoint-down(sm) {
  //     order: 3;
  //   }
  // }
  // &__button {
  //   margin-top: 25px;
  //   @include media-breakpoint-down(sm) {
  //     order: 4;
  //     margin-top: 40px;
  //   }
  // }
  &__logo {
    margin-top: 90px;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: auto;
    right: auto;
    transition: all ease-in 0.5s;
    &.hide-it {
      @include media-breakpoint-down(lg) {
        opacity: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  // &__reviews {
  //   @include media-breakpoint-down(sm) {
  //     order: 3;
  //   }
  // }
  // &__footer {
  //   display: none;
  //   @include media-breakpoint-down(sm) {
  //     display: block;
  //     order: 5;
  //     color: $secmain;
  //     // background:white;
  //     font-size: 14px;
  //     line-height: 24px;
  //     // margin-top: 60px;
  //     padding: 0 20px;
  //     max-width: 500px;
  //   }
  // }
  // &__h3 {
  //   text-align: center;
  //   font-size: 20px;
  //   line-height: 24px;
  //   margin-bottom: 20px;
  // // }
  // &__all {
  //   display: block;
  //   margin: 30px auto;
  //   width: 150px;
  //   @include media-breakpoint-down(sm) {
  //     text-align: center;
  //   }
  // }
  // &__spec {
  //   display: block;
  //   margin: 30px auto;
  //   width: 210px;
  //   @include media-breakpoint-down(sm) {
  //     text-align: center;
  //   }
  // }
  &__video-bg {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.81);
      content: '';
    }
    video {
      object-fit: cover !important;
    }
  }
  &__video-mobile {
    height: 300px;
  }
  &__video-bg-mobile {
    z-index: -1;
  }
}

// video play

.video-play {
  width: 60px;
  height: 60px;
  background: $primarygradient;
  border-radius: 100%;
  position: relative;
  pointer: cursor;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    display: block;
    border: 2px solid white;
    border-radius: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-40%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid white;
    width: 0;
    height: 0;
  }

  // use icon instead
  /*&::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-family: "cw-icons";
    text-align: center;
    content: "\E06D";
    color: white;
    font-size: 26px
  }*/

  &:hover {
    background: $darkmain;
  }
}

/* Hero reviews */
//
// .hero-review {
//   background-color: rgba(255, 255, 255, 0.78);
//   position: relative;
//   width: 490px;
//   border: 2px solid rgba(145, 183, 220, 0.38);
//   border-radius: 30px;
//   padding: 1rem 2rem;
//   color: $darkmain;
//   @include media-breakpoint-down(sm) {
//     width: 90%;
//     background-color: #fff;
//     &:after {
//       content: '';
//       display: block;
//       width: 36px;
//       height: 27px;
//       background-image: url('/img/hero-review-point.svg');
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: cover;
//       position: absolute;
//       left: 50%;
//       transform: translate(-50%, 0);
//       margin-top: 14px;
//     }
//   }
//   &__title {
//     font-size: 14px;
//     line-height: 18px;
//     font-weight: bold;
//     font-style: normal;
//     font-family: $mainfont;
//     margin-bottom: 15px;
//   }
//   div {
//     font-family: $reviewsfont;
//     font-size: 14px;
//     font-style: italic;
//   }
//   &__rating {
//     margin-top: 10px;
//     display: flex;
//     justify-content: space-between;
//     img {
//       align-self: center;
//     }
//   }
// }

/* New Hero */

.home-hero {
  &__wrapper {
    width: 100%;
    margin-top: 56px;
    // height: 85vh;
    height: 860px;
    max-height: calc(100vh - 56px);
    min-height: 600px;
    background-image: url('/img/'+$imgfilename+'-hero.webp');
    background-size: cover;
    position: relative;
    padding-top: 179px;
    @include media-breakpoint-down(lg) {
      height: 92.5vh;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 0;
    }
    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.6);
      content: '';
    }
  }
  &__video {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.6);
      content: '';
    }
    video {
      object-fit: cover !important;
    }
    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__popup {
    .modal-content {
      background-color: transparent;
      justify-content: center;
      align-items: center;
      border-radius: 0 !important;
      border: 0;
      overflow: visible;
      iframe {
        max-width: 100%;
      }
      @include media-breakpoint-down(sm) {
        margin: 45px 0;
        margin: 45px 0 0;
        height: calc(100vh - 73px);
      }
    }

    .close {
      display: block !important;
      color: $white;
      float: none;
      position: absolute;
      top: -30px;
      right: 0;
      @include media-breakpoint-up(md) {
        &.mobile {
          display: none !important;
        }
      }
      @include media-breakpoint-down(sm) {
        top: 15px;
        right: 15px;
        &.desktop {
          display: none !important;
        }
      }
    }
  }
  &__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
    height: 100%;
    z-index: 10;
    @include media-breakpoint-down(lg) {
      padding-top: 0;
    }
    &--play {
      width: 65px;
      height: 65px;
      display: block;
      cursor: pointer;
      @include media-breakpoint-down(lg) {
        margin: auto;
      }
      img {
        max-width: 100%;
      }
    }
    &--text {
      @include media-breakpoint-down(lg) {
        text-align: center;
        margin-top: 0;
        font-size: 27px;
        align-self: flex-end;
        margin-bottom: 16px;
      }
      &-title {
        font-size: 100px;
        @include media-breakpoint-down(md) {
          font-size: 60px;
        }
      }
      &-subtitle {
        @include media-breakpoint-down(lg) {
          font-size: 27px;
        }
      }
      &-color {
        color: $darkcta;
      }
      .btn {
        margin-top: 15px;
      }
    }
    &--doctor {
      display: flex;
      justify-content: center;
      position: relative;
      img {
        width: 120%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-down(lg) {
          width: 150%;
        }
        @include media-breakpoint-down(md) {
          width: 175%;
        }
      }
    }
  }
  &__wrapper--doctor {
    @include media-breakpoint-down(md) {
      height: 750px;
    }
    .home-hero__container {
      &--text {
        flex: 0 0 50%;
        text-align: left;
        .home-hero__container--text-title {
          @include media-breakpoint-down(lg) {
            margin-top: 15px;
          }
        }
      }
      &--play {
        @include media-breakpoint-down(md) {
          margin: 0;
        }
      }
    }
  }
}

.no-webp .home-hero__wrapper,
.no-webpanimation .home-hero__wrapper,
.no-webp-alpha .home-hero__wrapper,
.no-webp-lossless .home-hero__wrapper {
  background-image: url('/img/'+$imgfilename+'-hero.jpg');
}

// Header Reviews
.home-hero__reviews {
  @include media-breakpoint-down(lg) {
    padding-top: 50px;
  }
  .reviews-data {
    background-color: $white;
    padding: 20px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding: 50px;
    }
    box-shadow: 0 10px 20px #b4aba2;
    border-radius: 30px;
    position: relative;
    margin-left: 75px;
    margin-right: 75px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(lg) {
      margin-left: 25px;
      margin-right: 25px;
      min-height: 275px;
    }
    &::before {
      position: absolute;
      z-index: 3;
      content: '';
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background: $white;
      transform: rotate(45deg) translateY(-50%);
      top: 48%;
      left: -30px;
      box-shadow: 0 10px 20px #b4aba2;
      @include media-breakpoint-down(lg) {
        left: 49%;
        transform: rotate(45deg) translateX(-50%);
        top: -5px;
      }
    }
    &::after {
      position: absolute;
      z-index: 4;
      content: '';
      width: 40px;
      height: 100px;
      background: $white;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      @include media-breakpoint-down(lg) {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 50px;
        width: 100px;
      }
    }
    .reviews-single {
      justify-content: center;
      &--author {
        align-self: center;
        text-align: left;
        font-size: 15px;
        width: 100%;
        color: $mediummain;
        padding-left: 60px;
        order: 0;
        font-weight: 500;
        margin: 0 0 0.5em 0;
        &-image {
          width: 50px;
          margin-right: 10px;
          border: 0;
          order: 0;
        }
      }
      &--text {
        width: calc(100% - 60px);
        text-align: left;
        color: $secmain;
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
        line-height: 1.5;
        order: 0;
      }
      &--site {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        order: 0;
        & img {
          max-height: 34px;
        }
      }
      &--wrapper {
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        max-width: 100%;
        padding: 0;
        @include media-breakpoint-down(lg) {
          margin-top: 0;
        }
      }
    }
  }
}
