// ALT  - 2 similar to https://www.smilesbydrdrew.com/
.hero {
  position: relative;
  height: 860px;
  @include media-breakpoint-down(sm) {
    min-height: 900px;
  }
  @include media-breakpoint-down(xs) {
    height: auto;
  }

  &__logoinner {
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  &__slide {
    position: relative;
    @include media-breakpoint-down(sm) {
      height: 830px;
      margin-top: 55px;
    }
  }
  &__wrapper {
    width: 100%;
  }

  &__play {
    display: block;
    margin-top: 90px;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    &:hover {
      cursor: pointer;
    }

    img {
      &.animated {
        animation-delay: 2s;
        animation-timing-function: ease;
        border-radius: 50%;
      }

      width: 60px;
      height: 60px;
    }
    @include media-breakpoint-down(sm) {
      order: 1;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  &__logo {
    margin-top: 90px;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: auto;
    right: auto;
    transition: all ease-in 0.5s;
    &.hide-it {
      @include media-breakpoint-down(lg) {
        opacity: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__video-bg {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.81);
      content: '';
    }
    video {
      object-fit: cover !important;
    }
  }
  &__video-mobile {
    height: 300px;
  }
  &__video-bg-mobile {
    z-index: -1;
  }
}

// video play

.video-play {
  width: 60px;
  height: 60px;
  background: $primarygradient;
  border-radius: 100%;
  position: relative;
  pointer: cursor;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    display: block;
    border: 2px solid white;
    border-radius: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-40%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid white;
    width: 0;
    height: 0;
  }

  // use icon instead
  /*&::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-family: "cw-icons";
    text-align: center;
    content: "\E06D";
    color: white;
    font-size: 26px
  }*/

  &:hover {
    background: $darkmain;
  }
}

/* New Hero */

.home-hero {
  &__wrapper {
    width: 100%;
    margin-top: 56px;
    // height: 85vh;
    height: 860px;
    max-height: calc(100vh - 56px);
    min-height: 600px;
    background-image: url('/img/'+$imgfilename+'-hero.webp');
    background-size: cover;
    position: relative;
    padding-top: 179px;
    background-color: white;
    background-repeat: no-repeat;
    /*@include media-breakpoint-down(lg){
      height: 92.5vh;
    }*/

    &:after {
      content: '';
      width: 100%;
      height: 20em;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      position: absolute;
      top: 0;
      left: 0;
    }
    @include media-breakpoint-down(lg) {
      //height: 729px;
      background-size: 126%;
      background-position: top center;
      background-position: center bottom;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 0;
    }
    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.1);
      content: '';
    }
  }
  &__video {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.1);
      content: '';
    }
    video {
      object-fit: cover !important;
    }
    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__popup {
    .modal-content {
      background-color: transparent;
      justify-content: center;
      align-items: center;
      border-radius: 0 !important;
      border: 0;
      iframe {
        max-width: 100%;
      }
    }
  }
  &__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
    height: 100%;
    z-index: 10;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      padding-top: 0;
    }
    @media only screen and (min-width: 1600px) {
      max-width: 1300px;
    }
    &--play {
      width: 65px;
      height: 65px;
      display: block;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        margin: auto;
      }
      img {
        max-width: 100%;
      }
    }
    &--text {
      @include media-breakpoint-down(lg) {
        text-align: center;
        //margin-top: 0;
        font-size: 27px;
        //align-self: flex-end;
        margin-bottom: 16px;
        margin-top: 10vh;
        align-self: flex-start;
      }
      &-title {
        font-size: 60px;
        @include media-breakpoint-down(md) {
          font-size: 50px;
        }
      }
      &-subtitle {
        font-size: 1.4rem;
        @include media-breakpoint-down(lg) {
          font-size: 1.25rem;
        }
      }
      &-color {
        color: $mediummain;
      }
      .btn {
        margin-top: 15px;
      }
    }
    &--doctor {
      display: flex;
      justify-content: center;
      position: relative;
      img {
        width: 120%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 60%;
        transform: translateX(-50%);

        //
        max-width: 950px;
        @include media-breakpoint-down(lg) {
          width: 150%;
          left: 50%;
        }
        @include media-breakpoint-down(md) {
          width: 175%;
        }
        @media only screen and (min-width: 1600px) {
          width: 120%;
        }
      }
    }
  }
  &__wrapper--doctor {
    @include media-breakpoint-down(md) {
      //height: 78vh;
      //height: 70vh;
      //height: 650px;
      background-size: 126%;
      background-position: bottom center;
      height: 675px;
    }

    @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
      min-height: 815px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
      min-height: 700px;
    }
    .home-hero__container {
      &--text {
        //flex: 0 0 50%;
        text-align: left;
        position: static;
        &-title {
          margin-top: -8px;
          @include media-breakpoint-down(lg) {
            //margin-top: 15px;
            margin-top: 0;
          }
        }
      }
      &--play {
        @include media-breakpoint-down(md) {
          margin: 0;
        }
      }
    }
  }
  &__text {
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 65px;
    padding: 25px 25px;
    @include media-breakpoint-down(lg) {
      bottom: 90px;
    }
    @include media-breakpoint-down(md) {
      bottom: 50px;
    }
    &:before {
      content: '';
      background: #ffffffde;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1000%;
      right: -10%;
      transform: skewX(-15deg);
    }
    > * {
      position: relative;
    }
  }
}

.no-webp .home-hero__wrapper,
.no-webpanimation .home-hero__wrapper,
.no-webp-alpha .home-hero__wrapper,
.no-webp-lossless .home-hero__wrapper {
  background-image: url('/img/'+$imgfilename+'-hero.jpg');
}

// Header Reviews
.home-hero__reviews {
  @include media-breakpoint-down(lg) {
    padding-top: 50px;
  }
  .reviews-data {
    background-color: $white;
    padding: 50px;
    box-shadow: 0 10px 20px #b4aba2;
    border-radius: 30px;
    position: relative;
    margin-left: 75px;
    margin-right: 75px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(lg) {
      margin-left: 25px;
      margin-right: 25px;
      min-height: 275px;
    }
    &::before {
      position: absolute;
      z-index: 3;
      content: '';
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background: $white;
      transform: rotate(45deg) translateY(-50%);
      top: 48%;
      left: -30px;
      box-shadow: 0 10px 20px #b4aba2;
      @include media-breakpoint-down(lg) {
        left: 49%;
        transform: rotate(45deg) translateX(-50%);
        top: -5px;
      }
    }
    &::after {
      position: absolute;
      z-index: 4;
      content: '';
      width: 40px;
      height: 100px;
      background: $white;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      @include media-breakpoint-down(lg) {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 50px;
        width: 100px;
      }
    }
    .reviews-single {
      justify-content: center;
      &--author {
        align-self: center;
        text-align: center;
        font-size: 15px;
        width: 100%;
        color: $mediummain;
        padding-left: 60px;
        order: 0;
        font-weight: 500;
        margin: 0 0 0.5em 0;
        &-image {
          width: 50px;
          margin-right: 10px;
          border: 0;
          order: 0;
        }
      }
      &--text {
        width: calc(100% - 60px);
        text-align: center;
        color: $secmain;
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
        line-height: 1.5;
        order: 0;
      }
      &--site {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        order: 0;
        & img {
          max-height: 34px;
        }
      }
      &--wrapper {
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        max-width: 100%;
        padding: 0;
        @include media-breakpoint-down(lg) {
          margin-top: 0;
        }
      }
    }
  }
}
