.landing__logo {
  .header__addressinner {
    width: 294px;
  }
}

/* Office Hours */
.landing-hero {
  &.hero {
    height: 775px;
  }
  .hero__content {
    top: 300px;
    .container {
      .row {
        position: relative;
        > div {
          position: static;
        }
      }
    }
    .doctor-img {
      bottom: -25%;
      right: -8%;
      @include media-breakpoint-down(md) {
        display: block;
        top: auto;
        bottom: -15%;
      }
    }
  }
  .hero__title {
    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 1.25;
    }
  }
  &__actions,
  .hero__title {
    max-width: 490px;
  }
  &__actions {
    text-align: center;
    width: 490px;
    a.btn {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .review-slider:after {
    //left: auto;
    //right: 50px;
  }
  .review-slider {
    border: none;
    background: rgba(0, 86, 126, 0.65);
    color: white;
    border-radius: 0;
    padding-bottom: 30px;
  }

  .review-slider:after {
    display: none;
  }

  .review-slider__rating {
    display: none;
  }

  .hero__video-bg:before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .hero__play {
    margin-right: auto;
    margin-left: 225px;
  }
}

/* Office Hours */
.landing-hours {
  position: relative;
  overflow: visible;
  z-index: 3;
  border-radius: 0px 15px 15px 15px;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  //text-align: center;
  .landing-hours__clock {
    position: absolute;
    top: -49px;
    left: 40px;
    color: $darkmain;
    @include media-breakpoint-down(sm) {
      position: static;
      color: white;
      padding-top: 10px;
    }
    .icon {
      display: inline-block;
      line-height: 50px;
      font-size: 30px;
      vertical-align: middle;
      @include media-breakpoint-down(sm) {
        line-height: 2;
        font-size: 18px;
      }
    }
  }
  .column-section__wrapper {
    padding: 15px;
    @include media-breakpoint-down(sm) {
      padding-top: 15px;
    }
  }
  .subtitle {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 0px;
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
  &__day {
    display: inline-block;
    font-size: 14px;
    padding-right: 9px;
    margin-right: 6px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 1.2;
    @include media-breakpoint-down(sm) {
      border: none;
      padding-right: 8px;
      margin-right: 5px;
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
    &:last-child {
      border-right: none;
      padding-right: 0px;
      margin-right: 0px;
    }
    strong {
      color: $highlight;
      font-weight: 600;
    }
  }
}

/* Doctors */
.landing-doctors {
  position: relative;
  &.column-section .row {
    @include media-breakpoint-down(sm) {
      align-items: start;
    }
  }
  .subtitle {
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
  .centered-heading {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Specials */
.landing-specials {
  &__wrapper {
    padding: 0 30px;
    @include media-breakpoint-down(lg) {
      padding: 0 0 30px;
    }
  }
  .spec-box {
    .spec-box__inner {
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
    &__top {
      height: 115px;
    }
    &__inner:before {
      height: 129px;
    }
    &__price {
      width: 140px;
      height: 140px;
      border-radius: 100%;
      font-size: 51px;
      line-height: 134px;
      span {
        top: -16px;
      }
    }
    &__bottom {
      font-size: 14px;
      padding-top: 41px;
      padding-bottom: 25px;
      h3 {
        color: $darkmain;
        margin-bottom: 5px;
      }
    }
  }
}

/* Services */
.landing-services {
  .card-deck {
    margin-right: 0;
    margin-left: 0;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .card {
      @include media-breakpoint-down(md) {
        max-width: calc(50% - 30px) !important;
        flex: 0 0 calc(50% - 30px);
      }
      @include media-breakpoint-down(md) {
        max-width: 100% !important;
      }
    }
  }
}

/* Highlights */
.landing-highlight {
  border-top: 1px solid $lightmain;
  border-bottom: 1px solid $lightmain;
  .row {
    padding-top: 30px;
  }
  &__icon-figure {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
    background: $mediummain;
    padding: 40px;
    border-radius: 100%;
    position: relative;
    transition: all 0.6s ease-in-out;
    &:before {
      position: absolute;
      content: '';
      border: 2px solid $lightmain;
      display: block;
      top: -9px;
      left: -9px;
      right: -9px;
      bottom: -9px;
      border-radius: 100%;
    }
  }
  h3.subtitle {
    color: $darkmain;
    transition: all 0.4s ease-in-out;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    h3.subtitle {
      border-bottom: none !important;
      text-decoration: none !important;
      color: $mediummain;
    }
    .landing-highlight__icon-figure {
      background: $darkmain;
      &:before {
        border-color: $darkmain;
      }
    }
  }
}

/* Highlights */
.landing-location {
  &.location__wrapper {
    background-attachment: fixed;
  }
}

/* Insurance */
.landing-insurance {
  &__dumfries {
    background-image: url('/img/'+$imgfilename+'-dumfries-insurance.webp');
    @include media-breakpoint-down(sm) {
      background-image: url('/img/'+$imgfilename+'-dumfries-insurance-mobile.webp');
    }
  }
  &__woodbridge {
    background-image: url('/img/'+$imgfilename+'-woodbridge-insurance.webp');
    @include media-breakpoint-down(sm) {
      background-image: url('/img/'+$imgfilename+'-woodbridge-insurance-mobile.webp');
    }
  }
  &__logos {
    margin-bottom: 40px;
    img {
      height: 40px;
      margin: 10px 15px;
      @include media-breakpoint-down(md) {
        height: 30px;
        margin: 10px;
      }
      @include media-breakpoint-down(sm) {
        height: 25px;
      }
    }
  }
}

.no-webp .landing-insurance__dumfries,
.no-webpanimation .landing-insurance__dumfries,
.no-webp-alpha .landing-insurance__dumfries,
.no-webp-lossless .landing-insurance__dumfries {
  background-image: url('/img/'+$imgfilename+'-dumfries-insurance.jpg');
  @include media-breakpoint-down(sm) {
    background-image: url('/img/'+$imgfilename+'-dumfries-insurance-mobile.jpg');
  }
}

.no-webp .landing-insurance__dumfries,
.no-webpanimation .landing-insurance__dumfries,
.no-webp-alpha .landing-insurance__dumfries,
.no-webp-lossless .landing-insurance__dumfries {
  background-image: url('/img/'+$imgfilename+'-woodbridge-insurance.jpg');
  @include media-breakpoint-down(sm) {
    background-image: url('/img/'+$imgfilename+'-woodbridge-insurance-mobile.jpg');
  }
}

/* change the class landing for the name of the php */
.landing {
  .member__wrapper {
    background: white;
    padding: 40px 0;
  }
}
