////// PAGE HERO TEST
.mobile-hero {
  color: #FFFFFF;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__wrapper {
    margin-top: 73px;
  }
  &__title {
    text-align: center;
    font-size: 1rem;
    padding: 15px 15px;
    font-weight: normal;
    background-color: $darkmain;
    margin-bottom: 0;
   }
   &__slider {
     overflow: hidden;
     position: relative;
     .slick-arrow:before {
       content: '';
       opacity: 1;
       width: 12px;
       height: 12px;

       top: calc(50% - 6px);
       z-index: 1;
     }

     .slick-arrow:after {
       content: '';
       width: 40px;
       height: 40px;
       border-radius: 100%;
       background: $darkermain;
       position: absolute;
       opacity: 0.6;
       top: calc(50% - 20px);
     }

     .slick-arrow.slick-prev:after{
       left: calc(50% - 23px);
     }
     .slick-arrow.slick-next:after{
       right: calc(50% - 23px);
     }
   }
  &__count {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    color: #FFFFFF;
    z-index: 999;
    font-size: 0.8rem;
    padding: 2px 7px;
    text-align: center;
    width: 55px;
    opacity: 0.85;
  }
  &__slide {
    img {
      width: 100%;
      vertical-align: top;
    }
  }

  &__cta {
    display: flex;
    margin-top: -88px;
    position: relative;
    padding: 24px 15px;
    z-index: 2;
    //background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    justify-content: space-between;
  }
  &__rating {
    background-color: $darkmain;
    padding: 8px 15px;
    display: flex;
    font-size: 14px;
    span {
      color: #f7993a;
      margin: 0 1px;
    }
   }
   &__group {
    margin-left: auto;
  }
   &__book {
     font-size: 0.8rem !important;
     padding: 4px 10px 6px !important;
     line-height: 2;
   }
   &__call {
    font-size: 0.8rem !important;
    padding: 7px 10px 6px !important;
   }
 }

@media (max-width: 324px) {
  .mobile-hero {
    &__cta {
      padding: 21px 10px;
    }
  }
}

// 2020
.mobile-hero-2020 {
  &__title {
    text-align: center;
    font-size: 1rem;
    padding: 15px 15px;
    font-weight: normal;
    background-color: $darkmain;
    margin-bottom: 0;
    color: $white;
   }


  &__slider {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 20%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, $lightbody 10%, rgba(255,255,255,0) 100%);
    }
  }

  &__rating {
    position: relative;
    z-index: 10;
    text-align: center;
    margin: -96px 2.15rem 1.5rem;
    .icon{
      color: #FFA140;
      font-size: 2em;
    }
    &--wrapper {
      background: $mediummain;
      color: $white;
      padding: 1em;
      margin-top: .5em;
    }
    p {
      margin: 0;
    }
  }
}
.mobile-2020 {

  &__meet {

    &--title {
      text-align: center;
      font-size: 1.5em;
      color: $mediummain;
      margin: 1.25em 1em .75em;
      small {
        display: block;
      }
    }

    &--slide {
      &__container {
        background: $white;
        border-radius: $border-radius-lg;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
        margin: 1em 1em 2em;
        padding-bottom: 2em;

        img {
          width: 100%;
        }
      }
    }

    &--name {
      text-align: center;
      padding: 1.25rem;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
      color: $darkermain;
    }
    &--text {
      padding: 1.25rem;
      min-height: 11rem;

      @include media-breakpoint-down(xxs){
        // min-height: 20rem;
        font-size: .85rem;
      }
    }

    &--slider{

      &--single {
        margin: 0 1.85rem;

        .mobile-2020__meet--text {
          min-height: auto;
        }
      }
      .slick-arrow:before {
        content: '';
        opacity: 1;
        width: 14px;
        height: 14px;
        border-color: $mediummain;
        top: calc(50% - 6px);
        z-index: 1;

      }

      // .slick-arrow:after {
      //   content: '';
      //   width: 40px;
      //   height: 40px;
      //   border-radius: 100%;
      //   background: $darkermain;
      //   position: absolute;
      //   opacity: 0.6;
      //   top: calc(50% - 20px);
      // }
      //
      // .slick-arrow.slick-prev:after{
      //   left: calc(50% - 23px);
      // }
      // .slick-arrow.slick-next:after{
      //   right: calc(50% - 23px);
      // }


    }
  }



  &__specials {
    &--wrapper{
      background: linear-gradient(to bottom, $white 0%, $lightmainmid 80%);
      padding: .5em 0 10%;
      margin-top: 1em;
    }
    &--title {
      text-align: center;
      font-size: 1.5em;
      color: $mediummain;
      margin: 1.5em 1em 0;
      small {
        display: block;
      }

    }

    &--slider {
      .slick-arrow:before {
        content: '';
        opacity: 1;
        width: 14px;
        height: 14px;
        border-color: $mediummain;
        top: calc(50% - 6px);
        z-index: 1;

      }
    }
  }

  &__video {
    &--wrapper {
      padding: 2em 1em;
    }
    &--title {
      text-align: center;
      font-size: 1.5em;
      color: $mediummain;
      margin: 0 1em .5em;
      small {
        display: block;
      }
    }

  }

  &__wedo {

    &--title {
      color: $white;
      text-align: center;
      font-size: 1.5em;
      margin: 0 1em 2em;
      display: none;
      small {
        display: block;
      }
      @include media-breakpoint-down(sm){
        display: block;
      }
    }
  }

  &__location {
    background: $mediummain;
    color: $white;
    padding: 3em 1.5em 3em;

    &--title {
      text-align: center;
      font-size: 1.5em;
      margin: 0 1em .75em;
      small {
        display: block;
      }
    }

    &--subtitle {
      font-size: 1.1em;
      text-transform: uppercase;
      color: rgba(255,255,255,.65);
    }
    .icon {
    }

    a {
      color: $white;
    }

    &--box{
      padding: 1.5rem 1rem 0;
      border-bottom: 1px solid rgba(255,255,255,.25);
    }
    .nav-tabs {
      border-top: 1px solid rgba(255,255,255,.5);
      border-bottom: 1px solid rgba(255,255,255,.5);
    }
    .nav-item {
      border-top: none;
      margin:0;
      padding: 0;
      width: 50%;
      text-align: center;
    }
    .nav-item:last-of-type{
      border-bottom: none;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
      color: $white;
      border: none;
      border-radius: 0;
      padding: 1rem;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      background-color: rgba(255,255,255,.2);
    }
  }

  &__reviews {
    background: $mediummain;

    padding-bottom: 1.5rem;
    .saying.container{
      padding-right: 0;
      padding-left: 0;
    }
    .saying__wrapper {
      background: transparent !important;
    }
    .review-slider:after { display: none;}
    .review-slider {
      @include media-breakpoint-down(sm) {
        box-shadow:0 10px 20px rgba(0, 0, 0, .3);
        margin:2rem 1rem;
        // width: 100%;
      }
    }
    .saying__cta {
      margin-top: 0;
    }
    .review-slider__slider > .slick-next::after {
      right: -2px;
    }
  }
}


.spec-box-mobile {
  margin: 0 1em 0;
  .spec-box__top {
    height: 182px;
  }

}

// 2020
