.modal-body {
  padding: 0;
}

/* Contact Modal */
.contact-modal {
  .form-row {
    margin-top: 20px;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
  &__address {
    color: $secmain;
    margin-top: 20px;
    padding: 0 20px;
  }

  &__addressinner {
    text-align: left;
    width: 190px;
    display: inline-flex;
    align-items: flex-start;
    a {
      font-size: 0.7rem;
    }
  }
  &__pin {
    width: 15px;
    height: auto;
    margin-right: 10px;
    margin-top: 3px;
    // padding: 0 15px 15px 0;
  }
  input,
  textarea,
  select {
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
  }
  select {
    height: 44px;
    width: 100%;
    background-color: $input-bg;
    color: $secmain;
    border-color: $gray-400;
  }

  label {
    color: $darkmain;
    font-size: 14px;
  }
  &__call {
    font-size: 13px;
    line-height: 18px;
    color: $secmain;
    a {
      color: $darkmain;
    }
  }
  &__submit {
    display: block;
    width: 100%;
  }
}

.contact-us .mb50 .contact-modal {
  &__aside {
    background-color: transparent;
  }
}

/* Call Modal */

.call-modal {
  .modal-dialog {
    width: 660px;
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 0;
    }
  }
  color: $darkmain;
  &__container {
    padding: 25px 50px 50px;
  }
  &__heading {
    text-align: center;
  }
  &__location {
    font: bold 20px/1em 'Montserrat', sans-serif;
  }
  &__number {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 2rem;
    &:hover {
      text-decoration: none;
    }
  }
  &__row {
    margin-top: 25px;
    a.location,
    a.location2 {
      display: block;
    }
    a.btn-white {
      margin-top: 20px;
    }
    a.btn-white {
      margin-bottom: 20px;
    }
  }
}

/* Hero reviews */

.modal-review {
  background-color: rgba(255, 255, 255, 0.78);
  position: relative;
  width: 100%;
  border: 2px solid rgba(145, 183, 220, 0.38);
  border-radius: 30px;
  padding: 1rem 1.2rem;
  color: $darkmain;
  margin-top: 20px;
  @include media-breakpoint-down(sm) {
    width: 90%;
    background-color: #fff;
    &:after {
      content: '';
      display: block;
      width: 36px;
      height: 27px;
      background-image: url('/img/hero-review-point.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: 14px;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    font-style: normal;
    font-family: $mainfont;
    margin-bottom: 15px;
  }
  div {
    font-family: $reviewsfont;
    font-size: 14px;
    font-style: italic;
  }
  &__rating {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    img {
      max-height: 17px;
    }
  }
}

/* Book Modal */
.book-modal {
  .form-row {
    margin-top: 10px;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
  &__aside {
    padding: 30px;
    width: 340px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__content {
    background-color: $lightbody;
    padding: 30px;
    width: calc(100% - 340px);
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 20px;
    }
  }
  &__logo {
    width: 85%;
    margin-top: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  &__head {
  }
  &__set {
    margin-top: 10px;
    color: $secmain;
    font-size: 15px;
    line-height: 22px;
    padding: 28px 0;
    span {
      color: $darkmain;
      font-weight: bold;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }
  &__date {
    background-image: url('/img/date-icon.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: #ffffff !important;
    @include media-breakpoint-down(sm) {
      display: none;
      visibility: hidden;
    }
    &--mobile {
      background-image: url(/img/date-icon.svg);
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: 24px;
      background-color: #ffffff !important;
      @include media-breakpoint-up(sm) {
        display: none;
        visibility: hidden;
      }
    }
  }
  &__reviews {
    margin-top: 50px;
  }
  &__photo {
    width: 102px;
    border: 5px solid $darkmain;
    border-radius: 50%;
    float: right;
    margin-top: -0px;
    margin-right: 10px;
  }

  input,
  textarea,
  select {
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.7rem 0.75rem;
    margin-bottom: 0.5rem;
  }
  select {
    height: 44px;
    width: 100%;
    background-color: $input-bg;
    color: $secmain;
    border-color: $gray-400;
  }

  label {
    color: $darkmain;
    font-size: 14px;
  }
  &__call {
    font-size: 12px;
    line-height: 18px;
    color: $secmain;
    a {
      color: $darkmain;
    }
  }
  &__speak {
    margin-top: 30px;
    font-size: 12px;
    line-height: 18px;
    color: $secmain;
    a {
      color: $darkmain;
    }
  }
  &__submit {
    display: block;
    width: 100%;
  }
}

.input-group {
  @include media-breakpoint-down(md) {
    margin-bottom: 0.5rem;
  }
}

select {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  min-height: 45.4px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding-right: 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAn1BMVEVneJZneJcAAABneJdqfJVhcppldpdoeZdneJdmeZdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdkdJZneJdneJdneJdneJdneJhneJZneJdneJdneJdneJdneJdneJdneJdneJdneJdneJdmeJdmeZdmeZdneJdneJdneJdneJcAAABXswrLAAAAMHRSTlMAAAAAAAAAAAAAGxsbGxsbG53W1dXV1qQ/2udOAWLz/IMECZT+wxwgxO5MQ3UHAgfuDMBWAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAAN+wAADfsBC3c1mwAAAAd0SU1FB+IIAQwSBR4QQbUAAABKSURBVAjXBcEDAoBAFAXA18+2bWPr/ndrBppumKZlO3A9PwjCKEaSPoy9WY6irNhTNy3Q9cM3ThyIn5d1E0SQJO/HqRCI1OtWiX7buwX3CPLTQQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wOC0wMVQxMjoxODowNS0wNDowMED6ZT8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDgtMDFUMTI6MTg6MDUtMDQ6MDAxp92DAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
