body.office-hours {
  background: url('/img/'+$imgfilename+'-office-bg.webp') no-repeat center top;

  @include media-breakpoint-down(sm) {
    background-size: 130%;
    background-position: center 80px;
  }
  .office {
    background: white;
    box-shadow: 0 0 28px $lightwedo;
    padding-top: 30px;
    padding-bottom: 30px;
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
      border-color: transparent;
    }
    .nav {
      display: none;
    }
    h1 {
      font-size: 1.7em;
      font-weight: bold;
      color: $darkmain;
    }
    &__wrapper {
      min-height: 900px;
      .tab-content {
        padding: 3rem 20px;
      }
      @include media-breakpoint-down(sm) {
        h1 {
          margin-top: 2rem;
        }
      }
    }
    &__intro-copy {
      padding: 20px 45px 26px;
      width: 100%;
      h2 {
        @include media-breakpoint-down(lg) {
          font-size: 1.75rem;
        }
        br {
          display: none;
        }
      }
    }
    &__photo {
      width: 100%;
      height: 250px;
      background: url('/img/'+$imgfilename+'-interior-photo2.webp') no-repeat center center;
      background-size: cover;
      position: relative;
      a.btn-cta {
        position: relative;
        display: inline-block;
        float: right;
        margin-right: 20px;
        margin-top: 80px;
      }
      @include media-breakpoint-down(sm) {
        height: 140px;
      }
    }
    &__viewlocations {
      color: $darkmain;
      font-size: 22px;
      font-weight: normal;
    }

    //////////////////////////////
    ////// TABS AND ACCORDION /////
    //////////////////////////////

    ul.nav-tabs#locationTabs {
      .nav-item {
        // border:1px solid red;
        margin-right: 10px;
        border: 0;
        a.nav-link {
          color: $secmain;
          padding: 15px 40px 10px 40px;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          background: $lightwedo;
          &.active {
            background: white;
            color: $darkmain;
          }
          @include media-breakpoint-down(md) {
            width: 130px;
            padding: 10px 14px;
            line-height: 1.2em;
          }
        }

        @include media-breakpoint-down(md) {
          margin-right: 0px;
          padding-right: 0px;
        }
      }
    } // ul.nav-tabs#locationTabs

    #locationTabContent {
      .tab-pane {
        &__info {
          h3 {
            color: $darkmain;
            font: bold 20px/1em $mainfont;
          }
          a {
            display: inline-block;
            color: $mediummain;
            margin-bottom: 30px;
          }
          .table__wrapper {
            padding: 20px;
            background: $lightwedo;
            border-radius: 18px;
            table.table {
              color: $secmain;
              font-weight: 100;

              thead tr th {
                border: 0;
                color: $darkmain;
              }
              tbody tr {
                span.note {
                  font-weight: normal;
                  font-size: 0.8rem;
                }
                td:nth-child(1) {
                  font-weight: bold;
                }
              }
            }
          }
          h3 {
            @include media-breakpoint-down(sm) {
              font-size: 1rem;
            }
          }
          @include media-breakpoint-down(sm) {
            font-size: 0.85rem;
          }
        } // tab-pane__info
        &__landmarks {
          color: $secmain;
          h2 {
            font-weight: 100;
            margin-top: 60px;
            color: $darkmain;
            margin-bottom: 20px;
          }
          h3 {
            margin-top: 30px;
            font-size: 18px;
            font-weight: bold;
          }
          .btn-white {
            margin-top: 15px;
            padding: 12px 50px;
            height: auto;
          }
        } // tab-pane__landmarks
      }
    } // #locationTabContent

    .panel-group#accordion {
      .card {
        border: 0;
        border-bottom: 1px solid $mediummain;
        position: relative;
        .view-button {
          position: absolute;
          z-index: 0;
          right: 20px;
          top: 30px;
          border: 1px solid $darkmain;
          font-size: 12px;
          color: $darkmain;
          padding: 2px 8px;
          border-radius: 18px;
        }
        .card-header {
          background-color: $lightbody;
          border: 0;
          text-decoration: none;
          padding: 12px 16px;
          button.btn-link {
            color: $darkmain;
            font-weight: bold;
            text-align: left;
            padding: 0;
            border-radius: 0;
            padding: 28px 20px;
            display: block;
            width: 100%;
            border: 0;
            text-decoration: none;
            position: relative;
            z-index: 2;
          }
        } // .card-header
        .card-body {
          background: #f6f9fd;
          > .tab-wrap {
            background: white;
            padding: 1.8rem 0;
            position: relative;
            border-radius: 10px;
            border: 1px solid $darkmain;
            &:before,
            &:after {
              content: '\0020';
              display: block;
              position: absolute;
              top: -18px;
              left: 30px;
              z-index: 2;
              width: 0;
              height: 0;
              overflow: hidden;
              border: solid 20px transparent;
              border-top: 0;
              border-bottom-color: #fff;
            }
            &:before {
              top: -20px;
              z-index: 1;
              border-bottom-color: $darkmain;
            }
          }
        } // .card-body
        .collapse {
        }
      } // .card

      .tab-pane {
        &__info {
          h3 {
            color: $darkmain;
            font: bold 20px/1em $mainfont;
          }
          a {
            display: block;
            color: $secmain;
            margin-bottom: 30px;
          }
          .table__wrapper {
            table.table {
              color: $secmain;
              font-weight: 100;
              thead tr th {
                border: 0;
                color: $darkmain;
              }
              tbody tr td:nth-child(1) {
                font-weight: bold;
              }
            }
          }
        } // tab-pane__info
        &__landmarks {
          color: $secmain;
          h2 {
            font-weight: 100;
            margin-top: 60px;
            color: $darkmain;
            margin-bottom: 20px;
          }
          h3 {
            margin-top: 30px;
            font-size: 18px;
            font-weight: bold;
          }
        } // tab-pane__landmarks
      }
    } // .panel-group#accordion

    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0px;
      .row {
        margin: 0;
      }
    }
  } // .office
  .help__wrapper {
    background-color: $lightbody;
  }

  @media (max-width: 450px) {
    #locationTabContent,
    .tab-pane__info {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.no-webp body.office-hours,
.no-webpanimation body.office-hours,
.no-webp-alpha body.office-hours,
.no-webp-lossless body.office-hours {
  background-image: url('/img/'+$imgfilename+'-office-bg.jpg');
}

.no-webp body.office-hours .office__photo,
.no-webpanimation body.office-hours .office__photo,
.no-webp-alpha body.office-hours .office__photo,
.no-webp-lossless body.office-hours .office__photo {
  background-image: url('/img/'+$imgfilename+'-interior-photo2.jpg');
}
