body.review-us  {
  .footer-image {
    img {
      // border-top: 3px solid $darkmain;
      // border-bottom: 3px solid $darkmain;
      margin-bottom: 3rem;
    }
  }
}

.review-icons {
	padding-top: 20px;
	a {
	  	display: block;
	  	margin-bottom: 5px;
	  .icon {
	    left: 0;
	    font-size: 1.5em;
	    color: $lightmain;
	    vertical-align: middle;
	    margin-right: 0.35em;
		}
		&:hover, &:focus {
			color: $mediummain;
			.icon{
				color: $mediummain;
			}
		}
	}
}
