// NEW SERVICES STYLE
.services {
  &__content {
    .subtitle {
      font-weight: 300;
      color: $mediummain;
    }
  }

  // SERVICES: MAIN PAGE
  &__home {
    font-size: 16px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    // Hero Section
    &--hero {
      background: $darkermain url('/img/'+$imgfilename+'-hero.webp') no-repeat
        top center;
      // !CLEAN
      // background: $darkermain url('/img/services-main-hero.webp') no-repeat top center;
      background-size: cover;
      background-attachment: fixed;
      color: $white;
      font-size: 1.2em;
      text-align: center;
      position: relative;
      @include media-breakpoint-down(lg) {
        background-size: cover;
      }
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $darkmain;
        opacity: 0.85;
      }
      &__wrapper {
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 4em 30%;

        @include media-breakpoint-down(lg) {
          padding: 4em 20%;
        }
        @include media-breakpoint-down(md) {
          padding: 4em 10%;
        }
        @include media-breakpoint-down(sm) {
          padding: 3em 7.5%;
        }
      }

      &__title {
        font-size: 2em;
        @include media-breakpoint-down(md) {
          font-size: 1.75em;
        }
        &:after {
          content: '';
          display: block;
          background-color: $lightmain;
          margin: 0.5em auto 0.5em;
          position: relative;
          width: 80px;
          height: 3px;
        }
      }
      &__description {
        @include media-breakpoint-down(md) {
          font-size: 0.9em;
        }
      }
      .btn.btn-cta {
        margin-top: 1em;
      }
    }

    // MAIN SERVICES PAGE: Content - Services Links
    &--content {
      margin: 2em auto 0;
      position: relative;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        margin: 0 auto;
        padding-top: 2em;
      }
      // Links / Buttons

      .accordion .card:last-of-type {
        margin-bottom: 0;
      }

      &__link-title {
        // min-width: 60%;
        // text-align: center;
        align-self: center;
        font-size: 1.75em;
        font-weight: 300;
        padding-left: 2em;
        @include media-breakpoint-down(md) {
          font-size: 1.5em;
          padding: 0.75em 2.5em;
          text-align: center;
          width: 100%;
        }

        @include media-breakpoint-down(sm) {
          font-size: 1.25em;
          padding: 0.5em 1.5em 0.5em 2em;
        }
        span {
          font-size: 1em;
          padding-left: 0.5em;
        }
        .icon {
          font-size: 1.5em;
          line-height: 0.75;
          display: inline-block;
          color: $lightmain;
          padding-left: 0;
          position: relative;
          &:before {
            position: absolute;
            top: -0.25em;
            right: 0;
          }
        }
        strong {
          font-weight: 600;
        }
      }

      &__link-box {
        border: 1px solid transparent;
        background: $white;
        border-radius: $border-radius-sm;
        display: block;
        font-size: 1.1em;
        margin: 1em auto;
        padding: 1.5em;
        text-decoration: none;
        text-align: center;
        transition: all 0.5s;

        // &--parent {
        //   background: $lightwedo;
        // }

        @include media-breakpoint-down(sm) {
          padding: 1em;
          margin: 0.5em auto;
        }

        &:hover {
          text-decoration: none;
          background: $mediummain;
          color: $white;
          .icon {
            color: $white;
          }
        }

        .icon {
          display: block;
          font-size: 2em;
          color: $lightmain;
        }

        &--name {
          display: block;
          line-height: 1;
          min-height: 2em;
          font-size: 1em;
          margin: 0;

          @include media-breakpoint-down(md) {
            font-size: 0.825em;
          }
          @include media-breakpoint-down(sm) {
            font-size: 1em;
          }
        }

        p {
          font-size: 0.8em;
          color: $secmain;
          margin: 1em 0 0;
          @include media-breakpoint-down(sm) {
            font-size: 0.8em;
          }
        }
      }
    }

    // OFFICE HOURS AND LOCATION
    &--info {
      color: $white;
      background: $darkmain;
      text-align: center;

      &__light {
        background-color: $darkmain;
      }
      &__dark {
        background-color: $darkermain;
      }

      &__wrapper {
        padding: 2em 1em;
      }
      .icon {
        color: $lightmain;
      }
      .icon.main {
        font-size: 3.75em;

        @include media-breakpoint-down(md) {
          font-size: 2em;
        }
      }

      &__title {
        font-size: 1.375em;
        font-weight: 500;
        margin-bottom: 1em;
        @include media-breakpoint-down(md) {
          font-size: 1.2em;
          margin-bottom: 0.5em;
        }
      }
      a {
        color: $white;
      }

      &__hours {
        ul {
          font-size: 0.975em;
          list-style: none;
          padding: 0;
          margin: 0;
          // display: flex;
          // flex-direction: row;
          // flex-wrap: wrap;
          // @include media-breakpoint-down(md) {
          //   margin: 0 auto;
          //   width: 80%;
          // }
          // @include media-breakpoint-down(sm) {
          //   width: 100%;
          //   font-size: 1em;
          // }

          li {
            // width: 50%;
            // margin-bottom: .25em;
            // text-align: left;
            //
            // @include media-breakpoint-down(md) {
            //   width: 100% ;
            //   margin-bottom: 0;
            //   text-align: center;
            //
            //   &:nth-child(6),&:nth-child(7) {
            //     width: 50%;
            //   }
            // }
            // @include media-breakpoint-down(sm) {
            //   width: 100%;
            //
            //   text-align: center;
            //   &:nth-child(6),&:nth-child(7) {
            //     width: 100%;
            //   }
            // }

            span {
              color: $darkermain;
            }

            &.note {
              width: 100%;
              text-align: center;
              margin-top: 1em;
            }
          }
        }
      }

      &__contact {
        ul {
          font-size: 0.975em;
          list-style: none;
          padding: 0;
          margin: 0;
          @include media-breakpoint-down(sm) {
            font-size: 1em;
          }
          li {
            margin-top: 0.75em;
            // text-align: left;
          }
        }
      }

      .location__map {
        padding: 0.5em;
        //2020
        height: 100%;
        //

        .map-responsive {
          //2020
          padding-bottom: 0;
          height: 100%;
          //
          iframe {
            @include media-breakpoint-down(md) {
              max-height: 800px;
            }
          }
          @include media-breakpoint-down(md) {
            padding-bottom: 100%;
          }
        }

        @include media-breakpoint-down(sm) {
          margin-top: 2em;
          height: auto;
        }
      }
    }

    &--info.services-section__info {
      margin: 3em auto;
      font-size: 14px;
      background: $lightwedo;
      color: $secmain;
      .services__home--info__wrapper {
        padding: 2.5vh;
        @include media-breakpoint-down(sm) {
          padding: 2.5vh;
        }
      }
      .icon.main {
        font-size: 2.5em;
      }
      .services__home--info__title {
        margin-bottom: 0.25em;
      }
      a {
        color: $secmain;
      }
      .location__map {
        border: none;
        .map-responsive {
          padding-bottom: calc(67% + 1em);
          @include media-breakpoint-down(lg) {
            padding-bottom: calc(67% + 6vh);
          }

          @include media-breakpoint-down(lg) {
            padding-bottom: 35%;
          }

          iframe {
            @include media-breakpoint-down(md) {
              max-height: 260px;
            }
            @include media-breakpoint-down(sm) {
              max-height: 360px;
            }
          }
        }
      }
    }

    // OFFICE HOURS AND LOCATION
    &--CTA_banner {
      &__wrapper {
        background: $darkmain url('/img/'+$imgfilename+'-city-bg.webp')
          no-repeat center center;
        background-size: cover;
        // !CLEAN
        // background: $darkmain url('/img/' + $imgfilename + '-services-main-city.webp') no-repeat center center;
        // background-size: 100%;
        // background-attachment: fixed;
        padding: 5em 20%;
        color: $white;
        text-align: center;
        position: relative;

        @include media-breakpoint-down(sm) {
          padding: 5em 10%;
        }

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: $darkermain;
          opacity: 0.6;
        }

        &--content {
          position: relative;
          z-index: 1;
          top: 0;
          left: 0;
        }
      }
      &__title {
        font-weight: 300;
        font-style: italic;
        font-size: 1.25em;

        @include media-breakpoint-down(sm) {
          font-size: 0.9em;
        }
      }
      .btn.btn-cta {
        margin-top: 1.5em;
        font-size: 1.25em;
        @include media-breakpoint-down(sm) {
          font-size: 1em;
        }
      }
    }
  }

  // SERVICES: PARENT PAGE
  &__parent {
    font-size: 16px;
    &--header {
      text-align: center;
      background: url(/img/background.svg) no-repeat center center,
        linear-gradient(45deg, $mediummain 0%, $darkmain 120%);
      background-size: 100%;
      color: $white;
      overflow: hidden;
      &__text {
        padding: 2em;
        z-index: 2;

        a,
        .services__parent--header__title {
          z-index: 1;
          position: relative;
        }
      }
      &__icon {
        font-size: 4em;
        line-height: 1;
        color: $white;

        @include media-breakpoint-down(md) {
          position: absolute;
          opacity: 0.07;
          font-size: 350px;
          top: 15%;
          left: 50%;
          transform: translateX(-50%);
          line-height: 1;
          z-index: 0;
        }
      }

      &__title {
        font-size: 2.5em;
        font-weight: 400;
        margin: 0;
        @include media-breakpoint-down(md) {
          margin-bottom: 0.5em;
        }
        span {
          display: block;
          font-weight: 300;
          color: $white;
          font-size: 0.6em;
        }
        &:after {
          content: '';
          display: block;
          background-color: $white;
          margin: 0.5em auto 1em;
          position: relative;
          width: 80px;
          height: 3px;
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      .btn {
        position: relative;
        z-index: 10;
      }

      &__image {
        img {
          width: 100%;
          height: 330px;
          object-fit: cover;

          @include media-breakpoint-down(lg) {
            height: 380px;
          }
          @include media-breakpoint-down(md) {
            height: 280px;
          }
          @include media-breakpoint-down(sm) {
            height: 200px;
          }
        }
      }
    }

    // PARENT SERVICES PAGE: CONTENT
    &--content {
      &__block-special {
        margin: 4em 0;

        p {
          color: $darkmain;
          font-style: italic;
          font-weight: 300;
        }
      }
      &__block-description {
        margin: 4em 0;
        // &--text {
        //
        // }
        &--image {
          img {
            width: 100%;
          }
        }
      }

      .services__home--content__link-box {
        &:hover {
          background-color: $white;
          border: 1px solid $lightmain;
          .icon {
            color: $lightmain;
          }
          .services__home--content__link-box--name {
            color: $darkmain;
          }
          p {
            color: $secmain;
          }
        }
      }
    }
  }

  &__child {
  }

  // SERVICES: FEATURED PAGE
  &__featured {
    &--header {
      &__icon {
        color: $white;
        font-size: 4em;
      }
    }
    // Hero Section
    &--hero {
      background: $darkermain url('/img/'+$imgfilename+'-hero.webp') no-repeat
        top center;
      // !CLEAN
      // background: $darkermain url('/img/' + $imgfilename + '-services-main-hero.webp') no-repeat top center;
      background-size: cover;
      background-attachment: fixed;
      color: $white;
      font-size: 1.2em;
      text-align: center;
      position: relative;

      &.dental-implants {
        background-image: url('/img/banner-implants.webp');
      }
      &.crowns {
        background-image: url('/img/banner-crowns.webp');
      }
      &.emergency {
        background-image: url('/img/banner-emergency.webp');
      }
      &.checkups {
        background-image: url('/img/banner-checkups.webp');
      }
      &.invisalign {
        background-image: url('/img/banner-invisalign.webp');
      }

      @include media-breakpoint-down(sm) {
        background-position-x: 60%;
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $darkermain;
        opacity: 0.8;
      }
      &__wrapper {
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 4em 30%;

        @include media-breakpoint-down(lg) {
          padding: 4em 20%;
        }
        @include media-breakpoint-down(md) {
          padding: 4em 10%;
        }
        @include media-breakpoint-down(sm) {
          padding: 3em 7.5%;
        }
      }
      &__title {
        font-size: 2em;

        @include media-breakpoint-down(md) {
          font-size: 1.75em;
        }
        span {
          font-size: 0.6em;
          font-weight: 300;
        }
        // &:after {
        //   content: '';
        //   display: block;
        //   background-color: $white;
        //   margin: .5em auto .5em;
        //   position: relative;
        //   width: 80px;
        //   height: 3px;
        // }
      }
      &__description {
        @include media-breakpoint-down(md) {
          font-size: 0.9em;
        }
      }
      .btn.btn-cta {
        margin-top: 1em;
      }
    }

    &--call {
      background-color: $white;
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 300px;
      background-image: none;

      &__wrapper {
        padding: 4vw 0;
        @include media-breakpoint-down(sm) {
          background: rgba(255, 255, 255, 0.8);
        }
      }

      p {
        font-size: 1.1em;
        font-style: italic;
      }
      p:only-of-type {
        font-size: 1.25em;
        margin: 0;
        @include media-breakpoint-down(sm) {
          margin-bottom: 1em;
          text-align: center;
        }
      }
    }

    &--specials {
      position: relative;
      overflow: hidden;
      padding-bottom: 4em;
      .container {
        max-width: 90%;
      }

      .specials__title {
        font-size: 2em;
      }
    }

    &--meet {
      margin-top: 0;

      &__title {
        text-align: center;
        color: $mediummain;
        font-weight: 300;
        font-size: 2em;
        margin-bottom: 1em;
        strong {
          color: $darkmain;
          font-weight: 500;
        }
      }
      &__doctor {
        background: $white;
        padding: 2em;
        &--image {
          align-self: center;
          text-align: center;
          max-width: 175px;
          @include media-breakpoint-down(md) {
            align-self: flex-start;
            max-width: 115px;
          }
          @include media-breakpoint-down(sm) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
          }
          img {
            width: 100%;
            //max-width: 160px;
          }
        }
        &--text {
          align-self: center;
          @include media-breakpoint-down(sm) {
            align-self: flex-start;
            //text-align: center;
            //margin-top: 1em;
          }
        }
        .one-doctor {
          .services__featured--meet__doctor--image {
            max-width: 200px;
          }
        }
        .three-doctors {
          .services__featured--meet__doctor--image {
            @include media-breakpoint-down(lg) {
              align-self: flex-start;
              max-width: 115px;
            }
          }
        }
        &--row {
          margin-top: 1em;
          @include media-breakpoint-down(sm) {
            display: block;
          }
        }
      }
      &__members {
        background: $lightwedo;
        padding: 1em;
        img {
          max-height: 80px;
          @include media-breakpoint-down(lg) {
            max-height: none;
            width: 90%;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
      }

      &.with-featured-img {
        position: relative;
        .services__featured--meet__doctor,
        .services__featured--meet__members {
          padding-left: 30vw;
          @include media-breakpoint-down(md) {
            padding-left: 2em;
          }
        }
      }
      &__featured-img {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30vw;
        @include media-breakpoint-down(lg) {
          height: 40vw;
          left: -8vw;
        }
        @include media-breakpoint-down(md) {
          display: none;
          visibility: hidden;
        }
      }
    }

    &--book {
      padding: 2em 0 3em;

      &__wrapper {
        color: $white;
        background: linear-gradient(to right, $lightmain 0%, $mediummain 100%);
        opacity: 0.85;
        padding: 2em;
        p {
          font-style: italic;
          margin: 0;
          font-size: 1.15em;
        }
      }
    }

    &--insurance {
      // background: $darkmain url('/img/office/' + $imgfilename + '-01-full.webp') center;
      // !CLEAN
      /* uncomment if there are no office tour images to use as a background, change also in ie background */
      background: $darkmain
        url('/img/'+$imgfilename+'-services-landing-insurance-bg.webp') center;
      background-size: 100%;
      color: $white;
      text-align: center;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $darkermain;
        opacity: 0.9;
      }

      &__wrapper {
        position: relative;
        z-index: 1;
        padding: 4vw 1em;
      }

      &__title {
        font-size: 2em;
        font-weight: 300;
        &:after {
          content: '';
          display: block;
          background-color: $lightmain;
          margin: 0.5em auto 1em;
          position: relative;
          width: 80px;
          height: 3px;
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      &__logo {
        align-self: center;
        text-align: center;
        img {
          max-height: 70px;
          margin: 0.5em auto;
        }
      }
    }

    &--schedule {
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: none;
      background-size: 360px;
      background-position: -2.5% 100%;
    }
  }

  &__comfort-section {
    background: white;
    padding-top: 1px;
    padding-bottom: 5rem;
    @include media-breakpoint-down(sm) {
      padding-bottom: 3rem;
    }
  }
}

.service-page {
  // Accordion
  .card-header {
    h2 {
      margin: 0;

      button,
      a {
        background: $white;
        border-radius: 0;
        border: 0;
        display: flex;
        padding: 0.75em;
        position: relative;
        width: 100%;
        text-align: left;
        text-decoration: none !important;
        transition: all 0.5s;

        @include media-breakpoint-down(md) {
          padding: 0;
          flex-direction: column-reverse;
        }

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }

        &:after {
          content: '';
          width: 0.75em;
          height: 0.75em;
          border: 3px solid;
          border-color: transparent $lightmain $lightmain transparent;
          border-radius: 0 0 2px 0;
          transform: rotate(45deg);
          position: absolute;
          top: calc(50% - 0.375em);
          right: 2em;
          transition: all 0.5s;
          @include media-breakpoint-down(md) {
            top: 1.75em;
            top: calc(50% - 0.5em);
          }
        }

        &.single-link {
          &:after {
            display: none;
          }
        }

        &:hover {
          background: $lightwedo;
          color: $darkmain;
        }

        &[aria-expanded='true'] {
          background: $darkmain;
          color: $white;
          &:after {
            transform: rotate(-135deg);
            @include media-breakpoint-down(md) {
              top: calc(50% - 0.25em);
            }
          }
        }

        img {
          height: 80px;
          @include media-breakpoint-down(md) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .card-body {
    background-color: $lightwedo;
    padding: 1em 2em;
    @include media-breakpoint-down(sm) {
      padding: 1em;
      > .row {
        margin-left: -0.5em;
        margin-right: -0.5em;
        > div {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
    }
  }
}
.services.service-page {
  .services__home--content__link-title {
    padding-left: 3em;
    @include media-breakpoint-down(md) {
      padding: 1em 2em;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.25em;
      padding: 0.5em 3em 0.5em 0.5em;
    }
  }
  .card-header {
    h2 {
      margin: 0;

      button,
      a {
        padding: 0;

        &:after {
          @include media-breakpoint-down(md) {
            top: 2em;
          }
          @include media-breakpoint-down(sm) {
            top: 1.05em;
            transform: rotate(45deg) scale(1.1);
            border-width: 2px;
          }
        }

        &[aria-expanded='true'] {
          &:after {
            @include media-breakpoint-down(md) {
              top: 2.5em;
            }
            @include media-breakpoint-down(sm) {
              top: 1.5em;
              transform: rotate(-135deg) scale(1.1);
            }
          }
        }

        img {
          height: 80px;
          @include media-breakpoint-down(md) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.service-page {
  .specialty-section__wrapper {
    // !CLEAN
    // background-image: url('/img/' + $imgfilename + '-services-amenities-bg.webp');
  }
  .specialty-section__title {
    // display: none;
    // visibility: hidden;
  }

  .specialty-amenities {
    .specialty-section__title {
      display: block;
      visibility: visible;
      margin-bottom: 1em;
      &:after {
        display: none;
      }
    }
  }
}

.no-webp .services__home--hero,
.no-webpanimation .services__home--hero,
.no-webp-alpha .services__home--hero,
.no-webp-lossless .services__home--hero {
  background-image: url('/img/'+$imgfilename+'-hero.jpg');
  // !CLEAN
  //background-image: url('/img/services-main-hero.jpg');
}
.no-webp .services__home--CTA_banner__wrapper,
.no-webpanimation .services__home--CTA_banner__wrapper,
.no-webp-alpha .services__home--CTA_banner__wrapper,
.no-webp-lossless .services__home--CTA_banner__wrapper {
  background-image: url('/img/'+$imgfilename+'-city-bg.jpg');
  // !CLEAN
  // background-image: url('/img/' + $imgfilename + '-services-main-city.jpg');
}

// !CLEAN
//
// .no-webp .specialty-section__wrapper,
// .no-webpanimation .specialty-section__wrapper,
// .no-webp-alpha .specialty-section__wrapper,
// .no-webp-lossless .specialty-section__wrapper  {
//   background-image: url('/img/' + $imgfilename + '-services-amenities-bg.jpg');
// }

.no-webp .services__featured--hero,
.no-webpanimation .services__featured--hero,
.no-webp-alpha .services__featured--hero,
.no-webp-lossless .services__featured--hero {
  background-image: url('/img/'+$imgfilename+'-hero.jpg');
  // !CLEAN
  // background-image: url('/img/' + $imgfilename + '-services-main-hero.jpg');
}

.no-webp .services__featured--hero.dental-implants,
.no-webpanimation .services__featured--hero.dental-implants,
.no-webp-alpha .services__featured--hero.dental-implants,
.no-webp-lossless .services__featured--hero.dental-implants {
  background-image: url('/img/banner-implants.jpg');
}

.no-webp .services__featured--hero.emergency,
.no-webpanimation .services__featured--hero.emergency,
.no-webp-alpha .services__featured--hero.emergency,
.no-webp-lossless .services__featured--hero.emergency {
  background-image: url('/img/banner-emergency.jpg');
}

.no-webp .services__featured--hero.crowns,
.no-webpanimation .services__featured--hero.crowns,
.no-webp-alpha .services__featured--hero.crowns,
.no-webp-lossless .services__featured--hero.crowns {
  background-image: url('/img/banner-crowns.jpg');
}

.no-webp .services__featured--hero.checkups,
.no-webpanimation .services__featured--hero.checkups,
.no-webp-alpha .services__featured--hero.checkups,
.no-webp-lossless .services__featured--hero.checkups {
  background-image: url('/img/banner-checkups.jpg');
}

.no-webp .services__featured--hero.invisalign,
.no-webpanimation .services__featured--hero.invisalign,
.no-webp-alpha .services__featured--hero.invisalign,
.no-webp-lossless .services__featured--hero.invisalign {
  background-image: url('/img/banner-invisalign.jpg');
}

.no-webp .services__featured--insurance,
.no-webpanimation .services__featured--insurance,
.no-webp-alpha .services__featured--insurance,
.no-webp-lossless .services__featured--insurance {
  // background: $darkmain url('/img/office/' + $imgfilename + '-01-full.jpg') center;
  // !CLEAN
  /* uncomment if there are no office tour images to use as a background, change also in ie background */
  //background: $darkmain url('/img/' + $imgfilename + '-city-bg.jpg') center;
  background: $darkmain
    url('/img/'+$imgfilename+'-services-landing-insurance-bg.webp') center;
}
.no-webp .services__featured--call__wrapper,
.no-webpanimation .services__featured--call__wrapper,
.no-webp-alpha .services__featured--call__wrapper,
.no-webp-lossless .services__featured--call__wrapper {
  background-image: url('/img/service-landing-call-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 300px;
}
.no-webp .services__featured--schedule,
.no-webpanimation .services__featured--schedule,
.no-webp-alpha .services__featured--schedule,
.no-webp-lossless .services__featured--schedule {
  background-image: url('/img/service-landing-bottom-bg.png');
}

// Specials Small
.spec-box__service {
  br {
    display: none;
  }
  &.spec-box__slide {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  }
  // margin-bottom: 0;
  // max-width: 500px;
  // margin-left: auto;
  // margin-right: auto;
  // &.free{
  //   &:after{
  //     display: none;
  //   }
  //   .spec-box__price{
  //     font-size: 35px;
  //     padding-right: 5px;
  //     line-height: 104px;
  //     letter-spacing: -3px;
  //   }
  // }
  // @include media-breakpoint-down(lg){
  //   max-width:100%;
  //   .spec__br {
  //     display: none;
  //     visibility: hidden;
  //   }
  // }
  // @include media-breakpoint-down(md){
  //   margin-top: 30px;
  //
  // }
  // .spec-box__inner{
  //   min-height: 170px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   &:before {
  //     right: calc(100% - 117px);
  //     bottom: 0;
  //     height: auto;
  //   }
  // }
  // .spec-box__price {
  //   width: 117px;
  //   height: 117px;
  //   line-height: 110px;
  //   top: 50%;
  //   bottom: auto;
  //   left: 25px;
  //   transform: translateY(-50%);
  //   right: auto;
  //   margin-top: 0;
  //   font-size: 50px;
  //   border-color: $lightmain;
  //   span{
  //     top: -0.65em
  //   }
  // }
  //
  // .spec-box__bottom {
  //   border-top: 2px dashed $darkmain;
  //   padding-left: 139px;
  //   text-align: left;
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   padding-top: 20px;
  //   padding-bottom: 20px;
  //   align-self: stretch;
  // }
  //
  // .spec-box__title {
  //   margin-top: 0;
  //   text-align: left;
  //   text-shadow: none;
  //   color: $darkmain;
  //   padding: 0;
  //   @media only screen and (max-width: 320px) {
  //       font-size: 15px;
  //     }
  //
  //   @include media-breakpoint-down(sm){
  //     font-size: 18px;
  //   }
  // }
  //
  // .spec-box__bottom--includes{
  //   min-height: auto;
  //   color: $secmain;
  //   @include media-breakpoint-down(sm){
  //     font-size: 14px;
  //   }
  // }
}

.services-schedule-appointment {
  background: linear-gradient(to top right, $lightmain 0%, $mediummain 100%);
  color: white;
  margin: 50px 0;
  &__icon {
    font-size: 35px;
    padding-top: 15px;
    display: inline-block;
    @include media-breakpoint-down(md) {
      font-size: 25px;
    }
  }
  h2 {
    margin-top: 0;
    line-height: 1.1;
    font-size: 28px;
    padding: 0 15px;
    text-transform: capitalize;
    @include media-breakpoint-down(md) {
      font-size: 21px;
    }
  }
  .actions {
    margin-top: 20px;
    padding-bottom: 15px;
    .btn {
      margin-left: 5px;
      margin-right: 5px;
      text-transform: capitalize;
      @include media-breakpoint-down(md) {
        padding-right: 17px !important;
        padding-left: 17px !important;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
    }
  }
}

/* Amenities section */
.flip-card__icon {
  width: 3.2em;
  display: block;
  margin: 0 auto 15px;
}

.specialty-amenities {
  .flip-card-back h2 {
    font-size: 1.2em;
  }
  &__box {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
}

.services__parent {
  .financing-pop {
    margin-top: 4em;
  }
}

.rsp-fix {
  width: 100%;
  object-fit: cover;
  &__lg {
    &--30 {
      @include media-breakpoint-down(lg) {
        height: 30vh;
      }
    }
    &--40 {
      @include media-breakpoint-down(lg) {
        height: 40vh;
      }
    }
  }

  &__md {
  }

  &__md-landscape {
    &--55 {
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        height: 55vh;
      }
    }

    &--75 {
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        height: 75vh;
      }
    }
  }
}
