/* Hero slider */

.hero > .slick-arrow {
  display          : block;
  background-repeat: no-repeat;
  height           : 100%;
  width            : 20%;
  background-color : transparent;
  border           : 0;
  z-index          : 999;
  font-size        : 0;

  &:hover,
  &:focus {
    outline: none;
  }

}

.hero > .slick-prev {
  position     : absolute;
  left        : 55px;
  top          : calc(50%);
  // padding-right: 50px;
  // background-color: rgba(0,0,0,0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid $darkmain;

  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    left         : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 3px solid transparent;
    border-right : 3px solid transparent;

    // box-shadow: 1px 1px 0 1px transparent;
    transform    : rotate(135deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: $darkmain;
  }
}

.hero > .slick-next {
  position     : absolute;
  right        : 55px;
  top          : calc(50%);
  // padding-right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid $darkmain;


  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    right        : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 3px solid transparent;
    border-right : 3px solid transparent;
    // box-shadow   : 1px 1px 0 1px transparent;
    transform    : rotate(-45deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: $darkmain;
  }
}

.hero > .slick-disabled {
  opacity: 0.35;
}

/* Hero Reviews Slider */
.hero-review__slider > .slick-arrow {
  display          : block;
  background-repeat: no-repeat;
  height           : 100%;
  width            : 20%;
  background-color : transparent;
  border           : 0;
  z-index          : 999;
  font-size        : 0;

  &:hover,
  &:focus {
    outline: none;
  }

}

.hero-review__slider > .slick-prev {
  position     : absolute;
  right: 40px;
  top          : -10px;
  width: 14px;
  height: 14px;
  cursor: pointer;

  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    left         : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 4px solid transparent;
    border-right : 4px solid transparent;

    // box-shadow: 1px 1px 0 1px transparent;
    transform    : rotate(135deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: $darkmain;
  }
}

.hero-review__slider > .slick-next {
  position     : absolute;
  right: -20px;
  top          : -10px;
  width: 14px;
  height: 14px;
  cursor: pointer;


  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    right        : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 4px solid transparent;
    border-right : 4px solid transparent;
    // box-shadow   : 1px 1px 0 1px transparent;
    transform    : rotate(-45deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: $darkmain;
  }
}

/* Before & After slider */

.before__slider > .slick-arrow {
  display          : block;
  background-repeat: no-repeat;
  height           : 100%;
  width            : 20%;
  background-color : transparent;
  border           : 0;
  z-index          : 999;
  font-size        : 0;

  &:hover,
  &:focus {
    outline: none;
  }

}

.before__slider > .slick-prev {
  position     : absolute;
  left        : 55px;
  top          : calc(30%);
  // padding-right: 50px;
  // background-color: rgba(0,0,0,0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #FFFFFF;

  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    left         : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 3px solid transparent;
    border-right : 3px solid transparent;

    // box-shadow: 1px 1px 0 1px transparent;
    transform    : rotate(135deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: #FFFFFF;
  }
  @include media-breakpoint-down(lg) {
    left: -10px;
  }
  @include media-breakpoint-down(sm) {
    left: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #FFFFFF;
    &:after {
      border-bottom-width: 1px;
      border-right-width: 1px;
      top: 8px;
      left: 10px;
      width: 8px;
      height: 8px;
    }
  }
}

.before__slider > .slick-next {
  position     : absolute;
  right        : 55px;
  top          : calc(30%);
  // padding-right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #FFFFFF;


  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    right        : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 2px solid transparent;
    border-right : 2px solid transparent;
    // box-shadow   : 1px 1px 0 1px transparent;
    transform    : rotate(-45deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: #fff;
  }
  @include media-breakpoint-down(lg) {
    right: -10px;
  }
  @include media-breakpoint-down(sm) {
    right: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #FFFFFF;
    &:after {
      border-bottom-width: 1px;
      border-right-width: 1px;
      top: 8px;
      right: 10px;
      width: 8px;
      height: 8px;
    }
  }
}

.before__slider > .slick-disabled {
  opacity: 0.35;
}

.before__slider > .slick-dots {
  margin-top: 80px;
  list-style: none;
  display   : block;
  text-align: center;
  padding   : 0;
  width     : 100%;

  li {
    position: relative;
    display : inline-block;
    height  : 11px;
    width   : 11px;
    margin: 0 4px;
    padding : 0;
    cursor  : pointer;

    button {
      border     : 0;
      background : transparent;
      display    : block;
      height     : 11px;
      width      : 11px;
      outline    : none;
      line-height: 0;
      font-size  : 0;
      color      : transparent;
      padding    : 0;
      cursor     : pointer;

      &:hover,
      &:focus {
        outline: none;
      }

      &:before {
        position               : absolute;
        top                    : 0;
        left                   : 0;
        content                : "";
        width                  : 20px;
        height                 : 20px;
        font-size              : 0;
        line-height            : 20px;
        text-align             : center;
        -webkit-font-smoothing : antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color       : transparent;
        border-radius          : 50%;
        display                : block;
        width                  : 13px;
        height                 : 13px;
        background-color: #FFFFFF;
        border: 1px solid #707070;
      }
    }

    &.slick-active button:before {
      background-color: $darkmain;
      border: 1px solid #FFFFFF;
    }
  }
}

/* Modal Reviews Slider */
.modal-review__slider > .slick-arrow , .review-slider__slider > .slick-arrow {
  display          : block;
  background-repeat: no-repeat;
  height           : 100%;
  width            : 20%;
  background-color : transparent;
  border           : 0;
  z-index          : 999;
  font-size        : 0;

  &:hover,
  &:focus {
    outline: none;
  }

}

.modal-review__slider > .slick-prev , .review-slider__slider > .slick-prev {
  position     : absolute;
  right: 40px;
  top          : -10px;
  width: 14px;
  height: 14px;
  cursor: pointer;

  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    left         : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 4px solid transparent;
    border-right : 4px solid transparent;

    // box-shadow: 1px 1px 0 1px transparent;
    transform    : rotate(135deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: $darkmain;
  }
}

.modal-review__slider > .slick-next , .review-slider__slider > .slick-next {
  position     : absolute;
  right: -20px;
  top          : -10px;
  width: 14px;
  height: 14px;
  cursor: pointer;


  &::after {
    content      : "";
    position     : absolute;
    top          : 16px;
    right        : 18px;
    width        : 12px;
    height       : 12px;
    display      : block;
    border-bottom: 4px solid transparent;
    border-right : 4px solid transparent;
    // box-shadow   : 1px 1px 0 1px transparent;
    transform    : rotate(-45deg);
    z-index      : 1001;
    transition   : all 0.2s ease-out;
    border-color: $darkmain;
  }
}

.twentytwenty-overlay {
  display: none;
}

.twentytwenty-container img {
  width: 100%;
}

.twentytwenty-container {
  margin-bottom: 25px;
}