//colors//

//CTA button

$darkcta: #f86500;
$lightcta: #f99923;

//panel gradient

$darkmain: #1f6c96;
$mediummain: #5193b9;
$lightmain: #8cb7ce;
$highlight: #00EAF8;
$lightwedo: #E2EDF3;
$lightbody: #F5F9FA;
$secmain: #333;

$darkermain: #0F5880;

//Content Sections
$lightmainmid: $lightbody; //Change to soft color if body is white
$lightmainsoft: #F0F5F9;

// Variable use to add practice name to images - also change on _config.php
$imgfilename: 'oak-park-dental-associates';

$primarygradient: linear-gradient(to top, $lightmain 0%, $mediummain 59%, $darkmain 100%);
$ctagradient: linear-gradient(to right, $darkcta 0%, $lightcta 100%);

// Variable use for Fonts
$mainfont:'Prompt', sans-serif;; // General Font
$secondfont:'Barlow Condensed', sans-serif; //  Font for Titles
$reviewsfont: 'Georgia', 'Times New Roman', Times, serif; //  Font for Reviews


@mixin sectionTitle($line-small:false,$line:true, $color:$lightmain) {
  font-family: $secondfont;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 1em;

  @include media-breakpoint-down(sm){
    font-size: 1.75em;
    letter-spacing: 0;
    font-family: $mainfont;
    font-weight: 300;
    text-transform: none;
  }

  small {
    display: block;
    color: $color;
    font-family: $mainfont;
    font-weight: 300;
    font-size: .5em;
    letter-spacing: 0;

      @include media-breakpoint-down(sm){
        font-size: .8em;
      }

    @if $line-small {
      color: $color;
      display: inline-block;
      border-bottom: 2px solid $color;
      padding: 0 0 .5em;
      margin-bottom: .5em;

    }
  }

  @if $line {
    &:after {
      content: '';
      display: block;
      background-color: $color;
      margin: 25px auto 50px;
      position: relative;
      width: 100px;
      height: 2px;
    }
  }


}

.justify-center{ justify-content: center; }

.row-reverse{
  &__desktop{
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }
}


.overlay-section{
  &__left, &__right {
    position: relative;
    z-index: 2;
  }
  &__left{
    margin-left: -30px;
    @include media-breakpoint-down(md)  {
      margin-left: 0px;
    }
  }
  &__right{
    margin-right: -30px;
    @include media-breakpoint-down(md)  {
      margin-right: 0px;
    }
  }
  &__top{
    margin-top: 30px;
    @include media-breakpoint-down(md)  {
      margin-top: 0px;
    }
  }
}
