$border-radius-teledentistry: 2rem;
body.teledentistry {
  background: $white;
  .container {
    max-width: 1170px;
  }
  .help {
    .container {
      max-width: 100px;
    }
  }

  .services__featured--meet__doctor {
    background: $lightmainmid;
  }

  @include media-breakpoint-down(lg) {
    font-size: 0.875rem;
  }
}
// HERO
.teledentistry {
  &__hero {
    background: $darkermain url('/img/teledentistry/teledentistry-hero.svg')
      no-repeat bottom left;
    background-size: 100%;
    font-size: 1.5em;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
      flex-direction: column-reverse;
      background-image: none;
    }
    &--title {
      font-size: 2.75em;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 0.5em;
      @include media-breakpoint-down(md) {
        font-size: 2em;
      }
    }

    &--text {
      padding: 7%;
      color: $white;
      @include media-breakpoint-down(md) {
        font-size: 0.875em;
      }
      @include media-breakpoint-down(sm) {
        line-height: 1.2;
        padding-top: 0;
      }

      a {
        color: $lightmain;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }

    &--image {
      font-size: 1rem;

      @include media-breakpoint-down(xs) {
        // background: rgba(0,0,0,.1);
        // border-radius: 50%;
      }
      &__wrapper {
        position: relative;
        padding-top: 10%;
        padding-bottom: 1em;
        // margin-top: calc(100% / 8);
        @include media-breakpoint-down(lg) {
          padding-top: 5%;
        }
        @include media-breakpoint-down(xs) {
          margin-bottom: -7%;
        }
      }
      &__title {
        position: absolute !important;
        font-size: 1.5em;
        top: 25%;
        left: 0;
        width: auto;
        text-align: center;
        background: $mediummain;
        color: $white;
        border-radius: 2em;
        padding: 0.75em 1.5em;
        @include media-breakpoint-down(md) {
          top: 20%;
          font-size: 1.25em;
        }
        @include media-breakpoint-down(xs) {
          font-size: 1em;
        }
      }
      img {
        display: block;
        @include media-breakpoint-down(md) {
          margin-left: -5%;
        }
        @include media-breakpoint-down(xs) {
          width: 150%;
        }
        @include media-breakpoint-down(xxs) {
          width: 175%;
        }
      }
      &__note {
        position: absolute !important;
        bottom: 2vh;
        left: 0;
        color: $white;
        font-size: 0.875rem;
        padding: 0 10%;
        @include media-breakpoint-down(lg) {
          bottom: 3vh;
        }
        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
        @include media-breakpoint-down(xs) {
          display: none;
        }

        &.mobile {
          display: none;
          @include media-breakpoint-down(xs) {
            display: block;
            position: static !important;
            padding: 0;
            margin: 2em auto;
          }
        }
      }
    }
    &--note-link {
      text-transform: uppercase;
      color: $white !important;
      font-size: 0.75em;
      font-weight: 600;
    }
  }
}
// Virtual Care
.teledentistry {
  &__virtual-care {
    font-size: 1.5em;
    margin: 7% 0;
    @include media-breakpoint-down(sm) {
      font-size: 1.25em;
    }
    &--header {
      margin: 0 7%;
      text-align: center;
      margin-bottom: calc(7% / 2);
      h2 {
        font-size: 2em;
        color: $darkermain;
        font-weight: 600;
        margin-bottom: 0.75em;
      }
    }
    &--step-box {
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.04);
      background: $white;
      border-radius: $border-radius-sm;
      border-top: 0.5em solid $lightmainmid;
      overflow: hidden;
      img {
        width: 100%;
      }
      &__title {
        text-transform: uppercase;
        font-size: 0.875em;
        padding: 1rem 2rem;
        color: $mediummain;
        position: relative;

        .icon {
          position: absolute;
          right: 0.5em;
          top: -1em;
          display: block;
          background: white;
          box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
          border-radius: 100%;
          text-align: center;
          font-size: 1.75em;
          padding: 0.75em 0.75em 0.5em;
        }
      }
      &__text {
        padding: 1rem 2rem;
        min-height: 11.5em;
        @include media-breakpoint-down(md) {
          min-height: auto;
          border-left: 1px solid $lightmainmid;
        }
        h4 {
          font-size: 1.25em;
          color: $darkmain;
        }
        p {
          font-size: 0.75em;
        }
      }
      &__footer {
        padding: 1rem 2rem;
        font-size: 0.875em;
        a {
          color: $mediummain;
          &:hover {
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }
}
// RESPONSE
.teledentistry {
  &__highlight {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 7% 0;
    @include media-breakpoint-down(sm) {
      font-size: 1em;
      line-height: 1.5;
      text-align: center;
    }

    &--text {
      h2 {
        color: $darkermain;
        font-size: 2.5em;
        font-weight: 600;
        margin: 0 auto 0.5em;
      }

      .btn-cta {
        margin-top: 1em;
      }
    }

    &--image {
      @include media-breakpoint-down(sm) {
        margin: 1.5em auto 2em;
      }
      img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.08);
      }
    }
    &--icon {
      @include media-breakpoint-down(sm) {
        margin: 1.5em auto 2em;
      }
      img {
        width: 80%;
      }
    }
  }
}

.modal__guidelines {
  .modal-header  {
    background: $darkermain;
    color: $white;
  }
  .modal-content {
    background: $darkermain;
  }
  .modal-body {
    padding: 5%;
    background: $white;
  }
  .close {
    color: $white;
    text-shadow: none;
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      color: $lightmain;
    }
  }
  h5 {
    color: $darkermain;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
