body.testimonials {
  .quote {
    position: relative;
    blockquote {
      padding: 0px;
      border: 0;
      margin: 0;
      // font-size: 14px;
      font-style: italic;
      border-radius: 8px;
      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 90px;
        width: 0;
        height: 0;
        border-top: 0.83333em solid #ccc;
        border-right: 0.86667em solid transparent;
      }
      p {
        color: #fff;
        padding-top: 25px;
        padding-bottom: 45px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    &.dark blockquote {
      background-color: $darkmain;
    }

    &.dark blockquote {
      background-color: $darkmain;
      &:before {
        border-top-color: $darkmain;
      }
    }
    &.light blockquote {
      background-color: $lightmain;
      &:before {
        border-top-color: $lightmain;
      }
    }
  }

  .quote-footer {
    margin: 10px 0;
    .quote-author-img img {
      float: left;
      max-width: 90px;
      width: 90px;
      height: 90px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-left: -5px;
      margin-top: -40px;
      position: relative;
      z-index: 1;
      padding: 5px;
      background-color: #fff;
    }
    h4 {
      font-size: 14px;
      margin-bottom: 4px;
    }
    p {
      font-weight: 400;
      font-style: italic;
      font-size: 14px;
    }
  }


}
