body.your-first-visit {
  .footer-image {
    img {
      // border-top: 3px solid $darkmain;
      // border-bottom: 3px solid $darkmain;
      // margin-bottom: 3rem;
    }
  }
}

.thatsit {
  color: $secmain;
  margin: 4em auto 2em;
}

$color: #FFF;

.blue-bg {
    color: $secmain;
    height: 100%;
    }

.circle{
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: $mediummain;
    color: $color;
    height: 50px;
    width: 50px;
    z-index: 2;
    @include media-breakpoint-down(sm){
      min-height: 50px;
      min-width: 50px;
      height: 50px;
      width: 50px;
    }
    }

.mail-desktop {
  @include media-breakpoint-down(sm){
    display: none;
  }
}

.mail-mobile {
  display: none;
  @include media-breakpoint-down(sm){
    display: block;
  }
}

.how-it-works {
  color: $secmain;
  h2 {
    color:$mediummain;
    strong {
      color: $darkmain;
    }
  }
}
.how-it-works.row {
    display: flex;
    .col-2{
        display: inline-flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
      }
        &::after{
            content: '';
            position: absolute;
            border-left: 3px solid $mediummain;
            z-index: 1;
          }
        }
    .col-2.bottom{
        &::after{
            height: 50%;
            left: 50%;
            top: 50%;
          }
        }
    .col-2.full{
        &::after{
            height: 100%;
            left: calc(50% - 3px);
          }
        }
    .col-2.top{
        &::after{
            height: 50%;
            left: 50%;
            top: 0;
          }

        }


.timeline {

    div  {
        padding: 0;
        height: 40px;
      }
    hr  {
        border-top: 3px solid $mediummain;
        margin: 0;
        top: 17px;
        position: relative;
      }
    .col-2 {
        display: flex;
        overflow: hidden;
      }
    .corner {
        border: 3px solid $mediummain;
        width: 100%;
        position: relative;
        border-radius: 15px;
      }
    .top-right {
        left: 50%;
        top: -50%;
      }
    .left-bottom {
        left: -50%;
        top: calc(50% - 3px);
      }
    .top-left {
        left: -50%;
        top: -50%;
      }
    .right-bottom {
        left: 50%;
        top: calc(50% - 3px);
      }
}




.safety-comfort {
  &__number {
      width: 50px;
      height: 50px;
      margin: 0 auto 25px;
      background: $mediummain;
      text-align: center;
      color: white;
      border-radius: 100%;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 50px;
      @include media-breakpoint-down(md){
        display: inline-block;
        margin-right: 10px;
      }
      @include media-breakpoint-down(sm){
        display: block;
        margin-right: auto;
        margin-bottom: 10px;
      }
  }
  &__item {
    text-align: center;
    @include media-breakpoint-down(md){
      text-align: left;
    }
    @include media-breakpoint-down(sm){
      text-align: center;
    }
    p {
      text-align: justify;
    }
    h3 {
      border-bottom: 1px solid $lightmain;
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 19px;
      margin-top: 0!important;

    }
  }
}
