@import '~bootstrap/scss/bootstrap';

// Global Styles
@import 'style';
@import 'header';
@import 'footer';

@import 'slider';
@import 'callbar';
@import 'modals';
@import 'cw-icons';
@import 'animated';

// Pagesx
@import 'home-hero';
@import 'home';
@import 'awards';
@import 'about';
@import 'doctors';
@import 'office-hours';
@import 'services';
@import 'your-first-visit';
@import 'review-us';
@import 'testimonials';
@import 'mobile-only';
@import 'teledentistry';
@import 'landing';

.btn {
  // height: 30px;
  padding: 10px 26px 9px;
  text-align: center;
  border-radius: $border-radius-sm;
  font-weight: 500;
  font-size: 0.9rem;
}

.btn-white {
  background-color: $white;
  border: 1px solid $darkmain;
  color: $darkmain;
  &:hover {
    background: $darkmain;
    color: white;
  }
}

.btn-cta {
  background-color: $darkcta;
  background-image: $ctagradient;
  background-size: cover;
  color: #ffffff;
  font-size: 18px;
  height: auto;
  padding: 10px 33px;
  border-radius: $border-radius-sm;
  border: 0;
  &:hover {
    color: #ffffff;
    background: $darkcta;
  }
  &:active {
    background-color: $darkmain;
  }
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
}

.btn-blue {
  background-color: $darkcta;
  background-image: linear-gradient(to right, $lightcta 0%, $darkcta 100%);
  &:hover {
    background: $darkcta;
  }
}

.btn-inverted {
  background: transparent;
  border: 1px solid $lightmain;
  color: $white;

  &:hover {
    background: $lightmain;
    color: $white;
  }
}

.btn-line {
  background-color: $darkcta;
  background-image: $ctagradient;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 11px;
  height: auto;
  padding: 10px 33px;
  border-radius: $border-radius-sm;
  text-transform: uppercase;
  &:hover {
    color: #ffffff;
    background: $darkcta;
  }
}

.btn-submit {
  background-image: $ctagradient;
  background-size: cover;
  color: #ffffff;
  font-size: 18px;
  height: auto;
  padding: 10px 33px;
  border-radius: $border-radius-sm;
  border: 0;
  &:hover {
    color: #ffffff;
  }

  &:active {
    background-color: #80c064;
    box-shadow: 0 0 0 1px lighten($green, 20%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 4px 0 0 darken($green, 20%);
  }
}

// ACCORDION
.card {
  background: transparent;
  border: none;
  margin-bottom: 1em;
}
.card-header {
  background: transparent;
  border: none;
  padding: 0;
}
.card-body {
  background: $lightwedo;
  border-radius: 0 0 5px 5px;
  padding-left: 2.5em;
}
.btn {
  white-space: normal;
}
.btn-faq {
  color: $darkmain;
  font-weight: 600;
  font-size: 0.6em;
  padding: 1em;
  padding-left: 2em;
  background: $lightwedo;
  border-radius: $border-radius-sm;
  word-wrap: break-word;
  width: 100%;
  text-align: left;

  &:focus {
    box-shadow: none;
  }

  &:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px $darkmain solid;
    border-right: none;
    border-top: none;
    position: absolute;
    transform: rotate(135deg);
    position: absolute;
    top: 30px;
    left: 1em;
  }

  &.collapsed {
    background: transparent;
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.centered-heading {
  font-family: $secondfont;
  margin: 2rem;
  text-align: center;
  font-weight: 300;
  color: $darkmain;
  font-size: 38px;
  line-height: 47px;
  &:after {
    content: '';
    display: block;
    background-color: $darkmain;
    margin: 25px auto 50px;
    position: relative;
    width: 80px;
    height: 3px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 33px;
    line-height: 41px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 28px;
    line-height: 34px;
    margin-top: 15px;
  }
}
h2.centered-heading {
  font-size: 32px;
  line-height: 1;
  &:after {
    background-color: $lightmain;
  }
}
ul.underlined-list {
  li {
    border-bottom: 1px solid $gray-300;
  }
}

.error-404 {
  margin: 0 auto;
  text-align: center;
  .error-code {
    bottom: 60%;
    color: $darkmain;
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
  }
  .error-desc {
    width: 50%;
    margin: 0 auto 6rem auto;
    font-size: 14px;
    color: $secmain;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -150px;
      left: 10%;
      display: block;
      width: 80%;

      height: 300px;
      border: 1px solid white;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.review-slider {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  max-width: 490px;
  border: 2px solid rgba(145, 183, 220, 0.38);
  border-radius: 30px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  color: $darkmain;
  margin-bottom: 14px;
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-down(sm) {
    border: none;
  }

  &:after {
    content: '';
    display: block;
    width: 36px;
    height: 27px;
    background-image: url('/img/hero-review-point.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 4px;
  }
  @include media-breakpoint-down(sm) {
    width: 90%;
    background-color: #fff;
  }
  &__title {
    font-family: $secondfont;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 15px;
    color: $darkmain;
  }
  div,
  .review-text {
    font-family: $reviewsfont;
    font-size: 14px;
    font-style: italic;
    color: $secmain;
  }
  &__rating {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    img {
      align-self: center;
    }
  }
}

// LAYOUT
.justify-center {
  justify-content: center;
}

.row-reverse {
  &__desktop {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }
  &__lg {
    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse;
    }
  }
}

.vcenter {
  align-self: center;
}

// Create margin and padding helpers 50px to 150px
// Usage example: <div class="mt50"><div>
$spaceamounts: (
  0,
  50,
  60,
  70,
  80,
  100,
  110,
  120,
  130,
  140,
  150
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// Lazyload
.lazy-hidden {
  background: #fff url('/img/loading.gif') no-repeat 50% 50%;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

// Request appointment button with doctor picture

.request_appointment__wrapper .doctor-button {
  font-size: 14px;
}

//Fun Facts icon list
.icon-list {
  list-style: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 35px;
    padding-bottom: 10px;
    min-height: 25px;
    img {
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

/* styled titles */
a .subtitle {
  display: block;
}

.subtitle a {
  display: inline-block;
  border-bottom: 1px solid;
}

a:hover .subtitle,
.subtitle a:hover,
a:focus .subtitle,
.subtitle a:focus {
  text-decoration: none;
}

h2.subtitle {
  font-size: 1.75em;
  font-weight: 400;
  color: $darkmain;
  margin-top: 1em;
  margin-bottom: 0.5em;
  position: relative;
  @include media-breakpoint-down(md) {
    font-size: 1.8em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.7em;
  }
  &.no-margin {
    margin-top: 0;
  }
  small {
    color: $darkmain;
  }
  &.red {
    color: $lightcta;
  }
}

a h2.subtitle,
h2.subtitle a {
  color: $darkmain;
}

a:hover h2.subtitle,
h2.subtitle a:hover,
a:focus h2.subtitle,
h2.subtitle a:focus {
  color: $mediummain;
}

h3.subtitle {
  font-size: 1.5em;
  color: $mediummain;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  font-weight: 400;
  small {
    font-size: 65%;
  }
  &.no-margin {
    margin-top: 0;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.4em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.2em;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

a h3.subtitle,
h3.subtitle a {
  color: $darkmain;
}

a:hover h3.subtitle,
h3.subtitle a:hover,
a:focus h3.subtitle,
h3.subtitle a:focus {
  color: $mediummain;
}

h4.subtitle {
  font-size: 1.1em;
  color: $darkmain;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  &.no-margin {
    margin-top: 0;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1em;
  }
}

a h4.subtitle,
h4.subtitle a {
  color: $secmain;
}

a:hover h4.subtitle,
h4.subtitle a:hover,
a:focus h4.subtitle,
h4.subtitle a:focus {
  color: $mediummain;
}

//COLUMN LAYOUT SECTION.
//Use column-section__default column-section__primary and column-section__secondary to apply backgrounds
// Use .row.no-gutters to create columns without space between them and column-section__wrapper to add padding to the columns
.column-section {
  &__link,
  &__link:hover,
  &__link:focus {
    color: $highlight;
  }
  &__default {
    background: $lightmainsoft no-repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    h2.subtitle {
      color: $darkmain;
    }
  }
  &__primary {
    background: $mediummain url(/img/background.svg) no-repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    @include media-breakpoint-down(sm) {
      background-size: cover;
    }
    .subtitle,
    .centered-heading {
      color: white;
    }

    &__link,
    &__link * {
      color: white;
    }

    &__link:hover,
    &__link:hover * {
      color: $highlight;
    }
  }
  &__secondary {
    background: white;
  }

  &__tertiary {
    background: $lightwedo;
  }

  &__dark {
    background: $darkermain;
    color: $white;
    .subtitle,
    .centered-heading {
      color: white;
    }
  }

  //centers the columns vertically
  .row {
    align-items: center;
  }

  // vertical align columns to top
  .row.align-top {
    align-items: normal;
  }

  // padding for the columns
  &__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    @include media-breakpoint-down(sm) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__wrapper,
  &__wrapper-bottom,
  &__wrapper-vertical {
    padding-bottom: 50px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 30px;
    }
  }
  &__wrapper,
  &__wrapper-top,
  &__wrapper-vertical {
    padding-top: 50px;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
    }
  }
  &__wrapper-wide {
    padding-left: 130px;
    padding-right: 130px;
    @include media-breakpoint-down(sm) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__wrapper-wide,
  &__wrapper-wide-bottom,
  &__wrapper-wide-vertical {
    padding-bottom: 50px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }
  }
  &__wrapper-wide,
  &__wrapper-wide-top,
  &__wrapper-wide-vertical {
    padding-top: 50px;
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
    }
  }
  &__wrapper,
  &__wrapper-vertical,
  &__wrapper-bottom,
  &__wrapper-top,
  &__wrapper-wide,
  &__wrapper-wide-vertical,
  &__wrapper-wide-bottom,
  &__wrapper-wide-top {
    .subtitle:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    ul.bullet-list:last-child {
      margin-bottom: 0;
    }
    .centered-heading {
      margin-top: 0;
    }
  }
}

.column-section-size {
  > .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    > div {
      /* height: 100%; */
      display: flex;
      align-items: center;
      > div {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.bullet-list {
  padding-left: 0.5em;
  list-style: none;
  margin-bottom: 1.2em;
  &.no-margin {
    margin-bottom: 0;
  }
  li {
    position: relative;
    padding-left: 2em;
    list-style: none;
    padding-bottom: 0.75em;
    &:before {
      content: '\2022';
      position: absolute;
      top: 0;
      bottom: auto;
      left: 0;
      right: auto;
      font-weight: bold;
      color: $lightmain;
      font-size: 1.3em;

      line-height: 1;
    }
    ul {
      list-style: none;
      list-style-type: none;
      padding-left: 0.5em;
      padding-top: 0.5em;
      li {
        padding-left: 1.5em;
        &:before {
          color: $lightmain;
          font-size: 1em;
        }
      }
    }
  }
  &.two-column {
    li {
      width: calc(50% - 4px);
      display: inline-block;
      vertical-align: top;
      padding-right: 10px;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-right: 0;
        display: block;
        padding-right: 0;
      }
    }
  }

  &.three-column {
    li {
      width: calc(33% - 4px);
      display: inline-block;
      vertical-align: top;
      padding-right: 10px;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-right: 0;
        display: block;
        padding-right: 0;
      }
    }
  }
}

.large-icon {
  color: $lightmain;
  font-size: 2.5em;
}

.card-deck {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  .link-card {
    margin-bottom: 30px !important;
    &:hover,
    &:focus {
      background: $darkmain;
      a {
        text-decoration: none;
        &:hover  {
          color: white;
        }
      }
      .card-icon {
        color: white;
      }
      .card-text {
      }
    }
  }
  .card {
    background: white;
    margin-bottom: 30px !important;

    &:hover {
      .card-title {
        color: $white;
      }
    }
  }
  .card-body {
    background: transparent;
  }
}

.card-title {
  font-size: 19px;
  transition: color 500ms ease-out;
  color: $darkmain;
  small {
    .icon {
      color: $darkcta;
    }
  }
}

.card.icon-card {
  padding-left: 75px;
  position: relative;
  .card-icon {
    color: $lightmain;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 45px;
    transition: color 500ms ease-out;
  }
  .card-text {
    font-size: 15px;
  }
  .card-body {
    padding-left: 0;
  }
}

// alt card
.card-deck {
  .card.card-secondary {
    background: $lightwedo;
    .card-icon {
      font-size: 36px;
      margin-left: 5px;
    }
  }
  .link-card.card-secondary {
    &:hover,
    &focus {
      background: $white;
      .icon {
        color: $mediummain;
      }
    }
  }
}

iframe[src*='vimeo.com'] {
  max-width: 100%;
}

.fancybox-active .fancybox-container {
  z-index: 999999999999;
}

// Patient forms LINKS
.list-group-item {
  border-color: $lightmain;
  background: rgba(255, 255, 255, 0.4);
  color: $darkmain;
}

.financing-pop {
  background: linear-gradient(to left, $mediummain 0%, $darkermain 100%);
  color: $white;
  &__wrapper {
  }
  &__image-container {
    position: relative;
  }
  &__image {
    position: absolute;
    left: auto;
    bottom: 0;
    // height: 10em;
    width: 100%;
    z-index: 1;
    @include media-breakpoint-down(md) {
      width: 140%;
      left: -40%;
    }
    @include media-breakpoint-down(sm) {
      left: -27.5vw;
      width: auto;
      height: 100%;
      z-index: 0;
    }
    @include media-breakpoint-down(xxs) {
      left: -32.5vw;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
      height: 120%;
      width: auto;
      left: -17.5vw;
    }
  }
  &__weaccept {
    position: absolute;
    top: -1.25em;
    left: 100%;
    width: 10em;
    background: $lightmain;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.5em 1.25em;
    border-radius: $border-radius-sm;
    @include media-breakpoint-down(md) {
      left: 65%;
    }
    @include media-breakpoint-down(sm) {
      left: calc(50%);
    }
  }

  &__text-container {
    padding: 2em 0;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      div {
        width: 33%;
        text-align: center;
        line-height: 2;
      }
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      padding-bottom: 1em;
      font-size: 14px;
      div {
        width: auto;
        text-align: left;
      }
    }
  }

  /*a {
    font-weight: 400;
    color: $white;
  }*/
}
body.home {
  .financing-pop {
    @include media-breakpoint-down(sm) {
      // margin-top: 15%;
    }
  }
}

// .page-header {
//   background: url(/img/background.svg) no-repeat center center, linear-gradient(45deg, $mediummain 0%, $darkermain 80%);
//   background-size: cover;
//   background-attachment: fixed;
//   // padding: 2.5%;
//   // min-height: 25vh;
//   // display: flex;
//   // flex-direction: column;
//   // flex-wrap: wrap;
//   // justify-content: center;
//   // align-content: center;
//   text-align: center;
//   color: $white;
//   margin: 0 auto 5%;
//
//   @include media-breakpoint-down(md) {
//     padding: 0;
//   }
//
//   .icon {
//     color: $lightmain;
//     display: block;
//     margin: auto;
//   }
//
//   h1 {
//     font-family: $secondfont;
//     text-transform: uppercase;
//     font-weight: 300;
//     align-self: center;
//
//     small {
//       display: inline-block;
//       border-top: 2px solid $lightmain;
//       padding-top: 1em;
//       color: $lightmain;
//       font-family: $mainfont;
//       font-weight: 300;
//       font-size: .6em;
//       text-transform: none;
//       margin-top: 1em;
//     }
//   }
// }

.page-header {
  margin-bottom: 2.5%;
  &__wrapper {
    border-bottom: 4px solid $lightmain;
    background: $darkmain url('/img/teledentistry/teledentistry-hero.svg') no-repeat bottom left;
    background-size: cover;
    padding: 5% 10%;
    text-align: center;
    color: $white;
    overflow: hidden;
    position: relative;

    .icon {
      color: $lightmain;
      display: block;
      margin: auto;
      position: absolute;
      top: -0.1em;
      left: 0;
      font-size: 600%;
      z-index: -1;
      opacity: 0.1;
    }

    h1 {
      font-size: 3em;
      position: relative;
      z-index: 1;

      @include media-breakpoint-down(lg) {
        font-size: 2.5em;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2em;
      }
      small {
        display: inline-block;
        border-top: 2px solid $lightmain;
        padding-top: 1em;
        color: $lightmain;
        font-family: $mainfont;
        font-weight: 300;
        font-size: 0.5em;
        text-transform: none;
        margin-top: 1em;
      }

      span {
        display: inline-block;
        border-bottom: 2px solid $lightmain;
        padding-bottom: 1em;
        color: $lightmain;
        font-family: $mainfont;
        font-weight: 300;
        font-size: 0.5em;
        text-transform: none;
        margin-bottom: 1em;
      }
    }

    h2 {
      display: inline-block;
      border-top: 2px solid $lightmain;
      padding-top: 1em;
      color: $lightmain;
      font-family: $mainfont;
      font-weight: 300;
      font-size: 1.5em;
      text-transform: none;
      margin-top: 1em;
    }
  }
}

.highlight {
  font-size: 1.25em;
  color: $darkermain;
}

.align-items-center {
  align-items: center;
}

.page-tagline {
  margin-bottom: 3rem;
  font-weight: 500;
  color: #1f6c96;
}
